@use '../app.scss' as app;

.app-send-feedback {
  @include app.media-breakpoint-up(md) {
    &__flex {
      display: flex;
      gap: 2rem;
    }
  }

  &__field {
    margin-bottom: 1rem;
    width: 100%;
  }
}
