.app-logo-brand {
  position: relative;
  display: inline-block;
  line-height: 0;

  color: #121212;

  svg {
    width: 100%;
  }
}

// Warning: this style depends on the global dark theme CSS class
.gbl-theme-dark .app-logo-brand {
  color: #f2f2f2;
}
