<div class="container-fluid">
    <div class="row justify-content-center padTop">
        <p class="col-6">Demande un feedback à un(e) collégue</p>
    </div>
    <div class="row justify-content-center padTop">
        <form (submit)="onSubmitRequest()" id="askFeedback" #askFeedback="ngForm" novalidate>
            <div class="form-group">
                <label class="col-2">Votre nom:</label>
                <input type="text" id="name" name="name" [(ngModel)]="askFeedbackRequest.name"  class="col-6 form-control required" #name="ngModel" required placeholder="Ex: Pierre Pompidor"/>
            </div>
            <div class="form-group">
                <label class="col-2">Votre Email:</label>
                <input type="text" id="email" name="email" [(ngModel)]="askFeedbackRequest.email"  class="col-6 form-control required" #email="ngModel" required placeholder="Ex: pierre.pompidor@exemple.com"/>
            </div>
            <div class="form-group padTop">
                <label class="col-4">Nom de ton collègue:</label>
                <input type="text" id="senderName" name="senderName" [(ngModel)]="askFeedbackRequest.senderName"  class="col-6 form-control required" #senderName="ngModel" required placeholder="Ex: Marie Mettrand"/>
            </div>
            <div class="form-group">
                <label class="col-4">Email du ton collègue:</label>
                <input  type="text" id="senderEmail" name="senderEmail"  [(ngModel)]="askFeedbackRequest.senderEmail" required class="col-6 form-control required" #senderEmail="ngModel" placeholder="Ex: marie.mettrand@exemple.com"/>
            </div>
            <div class="form-group padTop">
                <label class="col-2">Text(optionnel)</label>
                <textarea type="text" class="form-control" id="text" name="text" [(ngModel)]="askFeedbackRequest.text" #text="ngModel" placeholder="Ex: Salut Marie ça te dit de me donner un feedback après avoir fait le projet chez Pix ensemble"></textarea>
            </div>
            <div class="col-4 offset-4 padTop">
                <button type="submit" class="btn btn-primary" [disabled]="!askFeedback.valid">Envoyer</button>
            </div>         
        </form>     
    </div>
</div>
