<div class="app-header__burger">
  <app-burger class="app-header-menu-target" [(active)]="isMenuOpen"></app-burger>
</div>

<a class="app-header__logo" routerLink="/home">
  <img src="/assets/svg-icons/app-icon-logo.svg" height="56" alt="" />
</a>

<nav class="app-header-menu app-header-menu-target" [class.app-header-menu--visible]="isMenuOpen">
  <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/home"> Accueil </a>
  <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/ask"> Demander </a>
  <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/send"> Envoyer </a>
  <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/feedbacks">
    Mes&nbsp;feedZbacks
  </a>
</nav>

<div class="app-header__sign-out">
  <button (click)="signOut()">
    {{ firstName$ | async }}
    <mat-icon color="primary">power_settings_new</mat-icon>
  </button>
</div>
