.app-footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(110, 107, 107);

  &__github {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: inherit;
    transition: color 200ms ease;

    &:hover {
      color: #d52150;
    }
  }
}
