// ----- Base -----

@import './styles/fonts';
@import './styles/tailwind.css';
@import './styles/material';
@import './styles/base';

// ----- Special use-cases -----

@import './styles/common';
@import './styles/info';
@import './styles/landing';
@import './styles/forms';

// ----- Special directives -----

@import './app/shared/icon/icon';
