// ----- Base -----

@use './styles/fonts';
@use './styles/tailwind.css';
@use './styles/material';
@use './styles/base';

// ----- Special use-cases -----

@use './styles/colors';
@use './styles/common';
@use './styles/info';
@use './styles/landing';
@use './styles/forms';

// ----- Special directives -----

@use './app/shared/icon/icon';
