            <div style="height: 16px; line-height: 16px; font-size: 16px">&nbsp;</div>

            <a
              href="<%= data.cta %>"
              style="
                display: inline-block;
                margin-top: 8px;
                padding: 12px 16px;
                border-radius: 8px;
                border: 1px solid #bc1d3d;
                background-color: #df2147;
                color: #ffffff;
                text-decoration: none;
                font-weight: bold;
              "
            >
              <%= content.cta %>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
