            <div style="padding-top: 8px">
              <a
                href="<%= data.cta %>"
                style="
                  display: inline-block;
                  padding: 12px 16px;
                  border-radius: 8px;
                  border: 1px solid #bc1d3d;
                  background-color: #df2147;
                  color: #ffffff;
                  text-decoration: none;
                  font-weight: bold;
                "
              >
                <%= content.cta %>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
