<form [class.app-review__form--completed]="completed()" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 class="app-review__title" i18n="@@Component.Review.Title">Évaluer l'application FeedZback</h3>

  <app-sentiment [formControl]="form.controls.note" class="mb-4" />

  <mat-form-field appearance="outline" class="!mb-0 w-full">
    <mat-label i18n="@@Component.Review.Comment">Commentaire</mat-label>
    <textarea
      #commentRef
      [formControl]="form.controls.comment"
      [maxlength]="commentMaxLength"
      matInput
      rows="2"
      placeholder="Décrivez votre expérience..."
      i18n-placeholder="@@Component.Review.CommentPlaceholder"
    ></textarea>
    <mat-hint align="end">{{ commentRef.value.length }} / {{ commentMaxLength }}</mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid || form.disabled" (click)="onSubmit()">
    <ng-container i18n="@@Action.Send">Envoyer</ng-container>
  </button>
</form>

@if (completed()) {
  <div class="app-review__completed">
    <div>
      <h3 class="app-review__title" i18n="@@Component.Review.Success">Votre évaluation a bien été enregistrée</h3>

      <div class="app-review__links">
        <button mat-stroked-button color="primary" (click)="modifyReview()">
          <mat-icon>edit</mat-icon>
          <ng-container i18n="@@Action.Modify">Modifier</ng-container>
        </button>

        @if (hasRelevantNumberOfReviews()) {
          <app-review-popup [stats]="reviewStats()!" />
        }
      </div>
    </div>
  </div>
}
