.app-multi-email-field {
  display: block;

  &__field {
    width: inherit;
  }

  &__error {
    // Note: this color comes from Material palette `$red-palette`
    // See more: node_modules/@angular/material/core/theming/_palette.scss
    color: #f44336;
  }
}
