<div mat-dialog-title i18n="@@Action.SignInWithCredentials">Se connecter avec identifiants</div>

<mat-dialog-content>
  <form class="mt-4!" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label i18n="@@Component.Credentials.Email">Email</mat-label>
      <input matInput [formControl]="form.controls.email" />
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label i18n="@@Component.Credentials.Password">Mot de passe</mat-label>
      <input type="password" matInput [formControl]="form.controls.password" />
      <mat-icon matSuffix>key</mat-icon>
    </mat-form-field>

    <button mat-flat-button class="w-full" [disabled]="form.invalid || disabled()">
      <ng-container i18n="@@Title.SignIn">Se connecter</ng-container>
    </button>
  </form>
</mat-dialog-content>
