@if (draftList().spontaneous.length) {
  <h3 class="!mb-0">Feedback spontané</h3>

  <table mat-table [dataSource]="draftList().spontaneous" class="w-full">
    <ng-container matColumnDef="receiverEmail">
      <th mat-header-cell *matHeaderCellDef i18n="@@Field.EmailOfYourColleague">Email de votre collègue</th>
      <td mat-cell *matCellDef="let element">{{ d(element).receiverEmail }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="w-0 whitespace-nowrap">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Editer"
          i18n-matTooltip="@@Action.Edit"
          (click)="apply(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="primary"
          matTooltip="Supprimer"
          i18n-matTooltip="@@Action.Delete"
          (click)="delete(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!--<tr mat-header-row *matHeaderRowDef="columns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
}

@if (draftList().requested.length) {
  <h3 class="!mb-0">Feedback demandé</h3>

  <table mat-table [dataSource]="draftList().requested" class="w-full">
    <ng-container matColumnDef="receiverEmail">
      <th mat-header-cell *matHeaderCellDef i18n="@@Field.EmailOfYourColleague">Email de votre collègue</th>
      <td mat-cell *matCellDef="let element">{{ rd(element).receiverEmail }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="w-0 whitespace-nowrap">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Editer"
          i18n-matTooltip="@@Action.Edit"
          [routerLink]="['/give-requested/token', rd(element).token]"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="primary"
          matTooltip="Supprimer"
          i18n-matTooltip="@@Action.Delete"
          (click)="deleteRequested(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!--<tr mat-header-row *matHeaderRowDef="columns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
}
