.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

ul {
    list-style-type: none;
    border: 0.5px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

li {
    border-bottom: 0.5px solid #ccc;
    padding: 1rem;
}

li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

li:last-child {
    border: none;
}

.empty {
    padding: 1rem;
    border: 0.5px solid #ccc;
}

.btn {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.date {
    font-size: 0.8rem;
    color: grey;
}

p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0;
}

a {
    font-size: 0.8rem;
}