<h1 class="gbl-page-title">
  <mat-icon>contact_support</mat-icon>
  <ng-container i18n="@@Title.RequestFeedback">Demander du feedZback</ng-container>
</h1>

@if (form.enabled) {
  @if (sentEmails.length) {
    <app-message type="success" closable="false">
      <ng-container i18n="@@Component.RequestFeedback.Success">Votre demande a bien été envoyée à :</ng-container>
      <br />
      {{ sentEmails.join(', ') }}
    </app-message>
  }

  @if (remainingUnsentEmails.length) {
    <app-message type="danger" closable="false">
      <ng-container i18n="@@Component.RequestFeedback.Error"
        >Une erreur s'est produite lors de l'envoi à :</ng-container
      >
      <br />
      {{ remainingUnsentEmails.join(', ') }}
    </app-message>
  }

  @if (remainingInvalidEmails.length) {
    <app-message type="danger" closable="false">
      <ng-container i18n="@@Message.InvalidEmailPlural">{remainingInvalidEmails.length, plural,
        =one {L'adresse email suivante est invalide :}
        =other {Les adresses emails suivantes sont invalides :}
      }</ng-container>
      <br />
      {{ remainingInvalidEmails.join(', ') }}
    </app-message>
  }
}

@if (!sentEmails.length || remainingUnsentEmails.length) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-multi-autocomplete-email
      class="gbl-form-field"
      [emails]="form.controls.recipients"
      [isInvalidEmail]="isInvalidRecipient"
      matTooltipPosition="above"
      matTooltip="Utilisez les adresses emails personnelles de vos collègues (évitez les listes de diffusion)"
      i18n-matTooltip="@@Component.RequestFeedback.EmailsRequirements"
    />

    @if (hasRequestTemplateFeature) {
      <mat-form-field appearance="outline" class="gbl-form-field">
        <mat-label i18n="@@Component.RequestFeedback.UseTemplate">S'inspirer d'un modèle</mat-label>
        <mat-select (valueChange)="applyTemplate($event)">
          <mat-option class="italic opacity-50" i18n="@@Component.RequestFeedback.NoTemplate">Aucun modèle</mat-option>
          @for (tmpl of requestTemplates; track tmpl; let index = $index) {
            <mat-option [value]="tmpl.content">{{ tmpl.title }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    <mat-form-field appearance="outline" class="gbl-form-field">
      <mat-label i18n="@@Feedback.Message">Message</mat-label>
      <textarea
        #message
        [formControl]="form.controls.message"
        [maxlength]="messageMaxLength"
        matInput
        rows="4"
      ></textarea>
      <mat-hint align="start">{{ message.value.length }} / {{ messageMaxLength }}</mat-hint>
    </mat-form-field>

    @if (hasManagerFeature) {
      <div class="gbl-form-field">
        <mat-slide-toggle [formControl]="form.controls.shared" color="primary" i18n="@@Component.RequestFeedback.Share">
          Partager le feedZback avec votre manager
        </mat-slide-toggle>
      </div>
    }

    <div class="gbl-form-submit">
      <button [disabled]="form.invalid || form.disabled" mat-raised-button color="primary" i18n="@@Action.Send">
        Envoyer
      </button>

      <div class="gbl-form-submit__info">
        <mat-icon>info</mat-icon>
        <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
      </div>
    </div>
  </form>
}
