@if (magicLinkList(); as list) {
  @if (device() !== 'mobile') {
    <button mat-flat-button class="float-right ms-4" (click)="openMagicLinksDialog()">
      <mat-icon>link</mat-icon>
      <ng-container i18n="@@Component.RequestFeedback.MagicLinks">Liens magiques</ng-container>
    </button>
  } @else {
    <button
      mat-mini-fab
      class="absolute! top-5 right-5"
      matTooltipPosition="left"
      matTooltip="Liens magiques"
      i18n-matTooltip="@@Component.RequestFeedback.MagicLinks"
      aria-label="Liens magiques"
      i18n-aria-label="@@Component.RequestFeedback.MagicLinks"
      (click)="openMagicLinksDialog()"
    >
      <mat-icon>link</mat-icon>
    </button>
  }

  <ng-template #magicLinkDialogTmpl>
    <div role="heading" aria-level="2" mat-dialog-title>
      <mat-icon appIcon size="md" pull="left">link</mat-icon>
      <ng-container i18n="@@Component.RequestFeedback.MagicLinks">Liens magiques</ng-container>
    </div>
    <div mat-dialog-content>
      <app-feedback-pre-request-list [list]="list" />
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close cdkFocusInitial i18n="@@Action.Close">Fermer</button>
    </div>
  </ng-template>
}

<h1 class="gbl-page-title">
  <mat-icon>contact_support</mat-icon>
  <ng-container i18n="@@Title.RequestFeedback">Demander du feedZback</ng-container>
</h1>

@if (form.enabled) {
  @if (sentEmails.length) {
    <app-message type="success" nonclosable>
      <ng-container i18n="@@Component.RequestFeedback.SentSuccess">Votre demande a bien été envoyée à :</ng-container>
      <br />
      {{ sentEmails.join(', ') }}
    </app-message>
  }

  @if (remainingUnsentEmails.length) {
    <app-message type="danger" nonclosable>
      <ng-container i18n="@@Component.RequestFeedback.SentError"
        >Une erreur s'est produite lors de l'envoi à :</ng-container
      >
      <br />
      {{ remainingUnsentEmails.join(', ') }}
    </app-message>
  }

  @if (remainingInvalidEmails.length) {
    <app-message type="danger" nonclosable>
      <ng-container i18n="@@Message.InvalidEmailPlural">{remainingInvalidEmails.length, plural,
        =one {L'adresse email suivante est invalide :}
        =other {Les adresses emails suivantes sont invalides :}
      }</ng-container>
      <br />
      {{ remainingInvalidEmails.join(', ') }}
    </app-message>
  }
}

<form
  [formGroup]="form"
  [appConfirmBeforeSubmit]="onSubmit.bind(this)"
  [appConfirmBeforeSubmitBypass]="form.controls.method.value === 'generate'"
  appConfirmBeforeSubmitConfig="sendFeedbackRequest"
>
  <mat-radio-group
    class="gbl-form-field block"
    [formControl]="form.controls.method"
    aria-label="Méthode"
    i18n-aria-label="@@Component.RequestFeedback.Method"
  >
    <mat-radio-button class="me-4" value="send" i18n="@@Component.RequestFeedback.SendMethod">
      Par email
    </mat-radio-button>
    <mat-radio-button class="me-4" value="generate" i18n="@@Component.RequestFeedback.GenerateMethod">
      Avec un lien magique
    </mat-radio-button>
  </mat-radio-group>

  @if (form.controls.method.value === 'send') {
    <app-message type="light" icon="alternate_email" nonclosable i18n="@@Component.RequestFeedback.SendRequirement">
      Utilisez les adresses emails individuelles de vos collègues (évitez les listes de diffusion).
    </app-message>
  } @else {
    <app-message type="light" icon="link" nonclosable i18n="@@Component.RequestFeedback.GenerateRequirement">
      Pour des raisons de sécurité, le lien magique est valable pendant
      <strong>{{ preRequestConfig.expirationInDays }} jours</strong> et peut être utilisé jusqu'à
      <strong>{{ preRequestConfig.maxUses }} fois</strong>.
    </app-message>
  }

  <app-multi-autocomplete-email
    class="gbl-form-field"
    [emails]="form.controls.recipients"
    [isInvalidEmail]="isInvalidRecipient"
  />

  <mat-form-field appearance="outline" class="gbl-form-field">
    <mat-label i18n="@@Feedback.Message">Message</mat-label>

    <textarea
      #message
      [formControl]="form.controls.message"
      [maxlength]="messageMaxLength"
      matInput
      rows="4"
    ></textarea>

    <mat-hint align="start">
      <button type="button" [matMenuTriggerFor]="useTemplate" class="gbl-button-less gbl-link gbl-link--no-underline">
        <mat-icon class="me-1 align-text-bottom" style="font-size: 1.125rem">edit_note</mat-icon>
        <ng-container i18n="@@Component.RequestFeedback.UseTemplate">S'inspirer d'un modèle</ng-container>
      </button>

      <mat-menu #useTemplate="matMenu" xPosition="before" yPosition="above" class="gbl-overlay-menu">
        <button
          mat-menu-item
          class="italic opacity-50"
          i18n="@@Component.RequestFeedback.NoTemplate"
          (click)="applyTemplate('')"
        >
          Aucun modèle
        </button>
        @for (tmpl of requestTemplates; track tmpl; let index = $index) {
          <button mat-menu-item (click)="applyTemplate(tmpl.content)">{{ tmpl.title }}</button>
        }
      </mat-menu>
    </mat-hint>

    <mat-hint align="end">{{ message.value.length }} / {{ messageMaxLength }}</mat-hint>
  </mat-form-field>

  <div class="gbl-form-field">
    <mat-slide-toggle [formControl]="form.controls.shared">
      <ng-container i18n="@@Component.RequestFeedback.Share">Partager le feedZback avec votre manager</ng-container>
      <button
        type="button"
        class="gbl-button-less gbl-link ms-1 align-middle"
        appDialogTooltip
        ariaLabelFromDialogTitle
        dialogTitle="Pourquoi le partage du feedZback est recommandé ?"
        dialogContent="En partageant le feedZback avec votre manager, vous pourrez échanger ensemble et ainsi bénéficier au mieux de son contenu. Notez que le message de la demande fait partie du feedZback et sera donc visible par votre manager."
        dialogWidth="600px"
        i18n-dialogTitle="@@Component.RequestFeedback.ShareFeedbackMessageTitle"
        i18n-dialogContent="@@Component.RequestFeedback.ShareFeedbackMessageContent"
      >
        <mat-icon>help</mat-icon>
      </button>
    </mat-slide-toggle>
  </div>

  <div class="gbl-form-submit">
    <button [disabled]="form.invalid || form.disabled" mat-flat-button>
      <mat-icon>
        @if (form.controls.method.value === 'send') {
          send
        } @else {
          add_link
        }
      </mat-icon>

      @if (form.controls.method.value === 'send') {
        <ng-container i18n="@@Action.Send">Envoyer</ng-container>
      } @else {
        <ng-container i18n="@@Action.Generate">Générer</ng-container>
      }
    </button>

    <div class="gbl-form-submit__info">
      <mat-icon>info</mat-icon>
      <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
    </div>
  </div>
</form>
