<h1 class="gbl-page-title">
  <mat-icon>contact_support</mat-icon>
  <ng-container i18n="@@Title.RequestFeedback">Demander du feedZback</ng-container>
</h1>

@if (form.enabled) {
  @if (sentEmails.length) {
    <app-message type="success" nonclosable>
      <ng-container i18n="@@Component.RequestFeedback.Success">Votre demande a bien été envoyée à :</ng-container>
      <br />
      {{ sentEmails.join(', ') }}
    </app-message>
  }

  @if (remainingUnsentEmails.length) {
    <app-message type="danger" nonclosable>
      <ng-container i18n="@@Component.RequestFeedback.Error"
        >Une erreur s'est produite lors de l'envoi à :</ng-container
      >
      <br />
      {{ remainingUnsentEmails.join(', ') }}
    </app-message>
  }

  @if (remainingInvalidEmails.length) {
    <app-message type="danger" nonclosable>
      <ng-container i18n="@@Message.InvalidEmailPlural">{remainingInvalidEmails.length, plural,
        =one {L'adresse email suivante est invalide :}
        =other {Les adresses emails suivantes sont invalides :}
      }</ng-container>
      <br />
      {{ remainingInvalidEmails.join(', ') }}
    </app-message>
  }
}

<form [formGroup]="form" [appConfirmBeforeSubmit]="onSubmit.bind(this)">
  <app-message type="light" icon="lightbulb" i18n="@@Component.RequestFeedback.EmailsRequirements">
    Utilisez les adresses emails personnelles de vos collègues (évitez les listes de diffusion).
  </app-message>

  <app-multi-autocomplete-email
    class="gbl-form-field"
    [emails]="form.controls.recipients"
    [isInvalidEmail]="isInvalidRecipient"
  />

  <mat-form-field appearance="outline" class="gbl-form-field">
    <mat-label i18n="@@Feedback.Message">Message</mat-label>
    <textarea
      #message
      [formControl]="form.controls.message"
      [maxlength]="messageMaxLength"
      matInput
      rows="4"
    ></textarea>
    @if (hasRequestTemplateFeature) {
      <mat-hint align="start">
        <a [matMenuTriggerFor]="useTemplate" class="gbl-link gbl-link--no-underline">
          <mat-icon class="align-text-bottom" style="font-size: 1.125rem">edit_note</mat-icon>
          <ng-container i18n="@@Component.RequestFeedback.UseTemplate">S'inspirer d'un modèle</ng-container>
        </a>

        <mat-menu #useTemplate="matMenu" xPosition="before" yPosition="above">
          <button
            mat-menu-item
            class="italic opacity-50"
            i18n="@@Component.RequestFeedback.NoTemplate"
            (click)="applyTemplate('')"
          >
            Aucun modèle
          </button>
          @for (tmpl of requestTemplates; track tmpl; let index = $index) {
            <button mat-menu-item (click)="applyTemplate(tmpl.content)">{{ tmpl.title }}</button>
          }
        </mat-menu>
      </mat-hint>
    }
    <mat-hint align="end">{{ message.value.length }} / {{ messageMaxLength }}</mat-hint>
  </mat-form-field>

  @if (hasManagerFeature) {
    <div class="gbl-form-field">
      <mat-slide-toggle [formControl]="form.controls.shared" color="primary">
        <ng-container i18n="@@Component.RequestFeedback.Share">Partager le feedZback avec votre manager</ng-container>
        <mat-icon
          class="gbl-link ms-1 align-bottom"
          appDialogTooltip
          dialogWidth="600px"
          dialogTitle="Pourquoi le partage du feedZback est recommandé ?"
          dialogContent="En partageant le feedZback avec votre manager, vous pourrez échanger ensemble et ainsi bénéficier au mieux de son contenu."
          i18n-dialogTitle="@@Component.RequestFeedback.ShareFeedbackMessageTitle"
          i18n-dialogContent="@@Component.RequestFeedback.ShareFeedbackMessageContent"
        >
          help
        </mat-icon>
      </mat-slide-toggle>
    </div>
  }

  <div class="gbl-form-submit">
    <button [disabled]="form.invalid || form.disabled" mat-raised-button color="primary">
      <mat-icon>send</mat-icon>
      <ng-container i18n="@@Action.Send">Envoyer</ng-container>
    </button>

    <div class="gbl-form-submit__info">
      <mat-icon>info</mat-icon>
      <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
    </div>
  </div>
</form>
