.heroBanner {
  flex-grow: 1;
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
