<ng-template #templateRef>
  <div mat-dialog-title i18n="@@Component.NoManagerDialog.Title">Bienvenue sur FeedZback</div>

  <mat-dialog-content i18n="@@Component.NoManagerDialog.Message">
    Pour profiter au mieux de l'application, merci de
    <strong>renseigner l'email de votre manager</strong> dans les paramètres.
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" i18n="@@Word.Later">Plus tard</button>

    <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <ng-container i18n="@@Title.Settings">Paramètres</ng-container>
    </button>
  </mat-dialog-actions>
</ng-template>
