.app-slash {
  display: inline-block;

  &__super {
    vertical-align: super;
  }

  &__middle {
    vertical-align: middle;
    color: var(--mat-sys-primary);
  }

  &__sub {
    vertical-align: sub;
  }
}
