<h1 class="gbl-page-title">
  <mat-icon>{{ 'receivedRequest' | feedbackTypeIcon }}</mat-icon>
  <ng-container i18n="@@Title.RequestedFeedbackList"> Répondre aux demandes de feedZback </ng-container>
</h1>

@if (list(); as feedbacks) {
  @if (feedbacks.length) {
    <app-feedback-list [feedbacks]="feedbacks" />
  } @else {
    <app-message type="info" icon="beach_access" nonclosable>
      <ng-container i18n="@@Component.GiveRequestedFeedbackListEmpty1">
        Vous n'avez pas reçu de demandes de feedZback...
      </ng-container>

      <br />

      <a class="gbl-link" routerLink="/" i18n="@@Component.GiveRequestedFeedbackListEmpty2">
        Profitez-en pour demander ou donner du feedZback à vos collègues !
      </a>
    </app-message>
  }
}
