<h1 class="app-home__title">Demandez ou envoyez du feedback à vos collègues&nbsp;!</h1>

<div class="app-home-actions">
  <button class="app-home-actions__item" routerLink="/ask">
    <mat-icon style="transform: scale(1.5)">live_help</mat-icon>
    Demander
  </button>

  <button class="app-home-actions__item" routerLink="/send">
    <mat-icon style="transform: scale(1.5)">send</mat-icon>
    Envoyer
  </button>
</div>

<h2>Pourquoi et comment faire un feedZback bienveillant (positif ou négatif)&nbsp;?</h2>

<img class="app-home__guide" src="/assets/images/feedback-guide.png" alt="" />
