<h1 class="app-home__title">Demandez ou envoyez du feedback à vos collègues&nbsp;!</h1>

<div class="app-home__actions">
  <button mat-fab extended color="primary" routerLink="/ask">
    <mat-icon svgIcon="ask-feedback"></mat-icon>
    Demander
  </button>

  <button mat-fab extended color="primary" routerLink="/send">
    <mat-icon svgIcon="send-feedback"></mat-icon>
    Envoyer
  </button>
</div>

<h2>Pourquoi et comment faire un feedZback bienveillant (positif ou négatif)&nbsp;?</h2>

<img class="app-home__guide" src="/assets/images/feedback-guide.png" alt="" />
