.app-home {
  display: block;
  text-align: center;

  &__title {
    margin-bottom: 1.5rem;
    color: #d52150;
  }

  &__actions {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    @media only screen and (max-width: 767.98px) {
      flex-grow: 1;
    }

    @media only screen and (max-width: 519.98px) {
      flex-direction: column;
    }
  }

  &__guide {
    width: 90%;
    max-width: 420px;
  }
}
