<h2 class="app-home__title">Demandez ou envoyez du feedback à vos collègues&nbsp;!</h2>

<div class="app-home__actions">
  <button class="btn btn-primary" routerLink="/ask">
    <img class="btn-icon" src="/assets/home-ask-icon.svg" height="28" alt="" />
    DEMANDER
  </button>

  <button class="btn btn-primary" routerLink="/send">
    <img class="btn-icon" src="/assets/home-send-icon.svg" height="28" alt="" />
    ENVOYER
  </button>
</div>

<p class="app-home-guide__desc">Pourquoi et comment faire un feedZback bienveillant (positif ou négatif)&nbsp;?</p>

<img class="app-home-guide__image" src="/assets/feedback-guide.png" alt="" />
