.app-home {
  display: block;
  text-align: center;

  &__title {
    margin: 0 0 2rem 0 !important;
    color: #d52150;
  }

  &-actions {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

    @media only screen and (max-width: 519.98px) {
      flex-direction: column;
      gap: 1.5rem;
    }

    &__item {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 1.25rem;
      padding: 1.5em 4.5em;
      border-radius: 0.5rem;
      border-color: transparent;
      background: linear-gradient(88.41deg, #f1203a 0%, #d11f56 100%);
      color: white;
      font-size: 1rem;

      @media only screen and (max-width: 767.98px) {
        flex-direction: column;
      }
    }
  }

  &__guide {
    width: 90%;
    max-width: 420px;
  }
}
