.app-my-feedbacks {
  &-empty {
    margin: 0rem 0 2rem 0;
    text-align: center;

    &__info {
      margin: 1rem 0 3rem 0;
      font-style: italic;
      opacity: 0.5;

      mat-icon {
        vertical-align: text-bottom;
      }
    }
  }

  &__filter {
    margin-top: 1rem;
    width: 100%;

    mat-icon {
      cursor: pointer;
    }
  }
}
