<h1 class="gbl-page-title mat-h1"><mat-icon>forum</mat-icon> FeedZbacks</h1>

@if (fetched) {
  <mat-tab-group
    animationDuration="0ms"
    [selectedIndex]="tabIndex"
    (selectedTabChange)="onTabIndexChange($event.index)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 0.5rem">call_received</mat-icon>
        reçus
      </ng-template>

      <ng-container [ngTemplateOutlet]="filterTmpl" />

      @if (received.length) {
        <app-feedback-list [feedbacks]="received" [filter]="filter"></app-feedback-list>
      } @else {
        <div class="app-my-feedbacks-empty">
          <div class="app-my-feedbacks-empty__info">Pas de feedZback...</div>

          <button mat-stroked-button color="primary" routerLink="/request">
            <mat-icon>live_help</mat-icon>
            Demander mon premier feedZback
          </button>
        </div>
      }
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 0.5rem">call_made</mat-icon>
        donnés
      </ng-template>

      <ng-container [ngTemplateOutlet]="filterTmpl" />

      @if (given.length) {
        <app-feedback-list [feedbacks]="given" [filter]="filter"></app-feedback-list>
      } @else {
        <div class="app-my-feedbacks-empty">
          <div class="app-my-feedbacks-empty__info">Pas de feedZback...</div>

          <button mat-stroked-button color="primary" routerLink="/give">
            <mat-icon>chat</mat-icon>
            Donner mon premier feedZback
          </button>
        </div>
      }
    </mat-tab>

    @if (sentRequest.length) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 0.5rem">schedule</mat-icon>
          demandés
        </ng-template>

        <ng-container [ngTemplateOutlet]="filterTmpl" />

        <app-feedback-list [feedbacks]="sentRequest" [filter]="filter"></app-feedback-list>
      </mat-tab>
    }

    @if (receivedRequest.length) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 0.5rem">edit_note</mat-icon>
          à donner
        </ng-template>

        <ng-container [ngTemplateOutlet]="filterTmpl" />

        <app-feedback-list [feedbacks]="receivedRequest" [filter]="filter"></app-feedback-list>
      </mat-tab>
    }
  </mat-tab-group>
}

<ng-template #filterTmpl>
  <mat-form-field appearance="fill" class="app-my-feedbacks__filter">
    <input #input matInput placeholder="Rechercher par email" [value]="filter" (keyup)="filter = input.value" />
    @if (filter) {
      <mat-icon mat-icon-button color="warn" matIconSuffix role="button" (click)="filter = ''">close</mat-icon>
    }
    <mat-icon matIconSuffix>search</mat-icon>
  </mat-form-field>
</ng-template>
