<h1 class="gbl-page-title">
  <mat-icon>forum</mat-icon>
  <ng-container i18n="@@Title.MyFeedbacks">Mes feedZbacks</ng-container>
</h1>

@if (fetched) {
  <mat-tab-group
    animationDuration="0ms"
    [selectedIndex]="tabIndex"
    (selectedTabChange)="onTabIndexChange($event.index)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="app-my-feedbacks__label-icon">move_to_inbox</mat-icon>
        <ng-container i18n="@@Component.MyFeedbacks.Received">reçus</ng-container>
      </ng-template>

      <ng-container [ngTemplateOutlet]="filterTmpl" />

      @if (received.length) {
        <app-feedback-list type="received" [feedbacks]="received" [filter]="filter" />
      } @else {
        <div class="app-my-feedbacks-empty">
          <div class="app-my-feedbacks-empty__info" i18n="@@Component.MyFeedbacks.NoData">Aucun feedZback...</div>

          <button mat-stroked-button color="primary" routerLink="/request">
            <mat-icon>contact_support</mat-icon>
            <ng-container i18n="@@Title.RequestFeedback">Demander du feedZback</ng-container>
          </button>
        </div>
      }
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="app-my-feedbacks__label-icon">outgoing_mail</mat-icon>
        <ng-container i18n="@@Component.MyFeedbacks.Given">donnés</ng-container>
      </ng-template>

      <ng-container [ngTemplateOutlet]="filterTmpl" />

      @if (given.length) {
        <app-feedback-list type="given" [feedbacks]="given" [filter]="filter" />
      } @else {
        <div class="app-my-feedbacks-empty">
          <div class="app-my-feedbacks-empty__info" i18n="@@Component.MyFeedbacks.NoData">Aucun feedZback...</div>

          <button mat-stroked-button color="primary" routerLink="/give">
            <mat-icon>chat</mat-icon>
            <ng-container i18n="@@Title.GiveFeedback">Donner du feedZback spontané</ng-container>
          </button>
        </div>
      }
    </mat-tab>

    @if (sentRequest.length) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="app-my-feedbacks__label-icon">schedule</mat-icon>
          <ng-container i18n="@@Component.MyFeedbacks.Requested">demandés</ng-container>
        </ng-template>

        <ng-container [ngTemplateOutlet]="filterTmpl" />

        <app-feedback-list type="sentRequest" [feedbacks]="sentRequest" [filter]="filter" />
      </mat-tab>
    }
  </mat-tab-group>
}

<ng-template #filterTmpl>
  <mat-form-field appearance="fill" class="app-my-feedbacks__filter">
    <input
      #input
      matInput
      placeholder="Rechercher par email"
      i18n-placeholder="@@Field.SearchByEmail"
      [value]="filter"
      (keyup)="filter = input.value"
    />
    @if (filter) {
      <mat-icon mat-icon-button color="warn" matIconSuffix role="button" (click)="filter = ''">close</mat-icon>
    }
    <mat-icon matIconSuffix>search</mat-icon>
  </mat-form-field>
</ng-template>
