<div class="app-header__burger">
  @if (isKnownUser$ | async) {
    <app-burger class="app-header-menu-target" [(active)]="isMenuOpen"></app-burger>
  }
</div>

<div class="app-header__logo">
  <a routerLink="/home">
    <img src="assets/images/logo-feedzback.svg" height="56" alt="" />
  </a>
</div>

<nav class="app-header-menu app-header-menu-target mat-body-strong" [class.app-header-menu--visible]="isMenuOpen">
  @if (isKnownUser$ | async) {
    <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/home"> Accueil </a>
    <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/request">
      Demander
    </a>
    <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/give"> Donner </a>
    <a class="app-header-menu__item" routerLinkActive="app-header-menu__item--active" routerLink="/feedbacks">
      Mes&nbsp;feedZbacks
    </a>
  }
</nav>

<div class="app-header-sign-out">
  @if (isSignedIn$ | async) {
    @if (photoUrl$ | async; as photoUrl) {
      <img
        [src]="photoUrl"
        [matMenuTriggerFor]="signOutMenu"
        class="app-header-sign-out__photo"
        height="48"
        width="48"
        alt="Profile photo"
      />
    } @else {
      <button mat-icon-button [matMenuTriggerFor]="signOutMenu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
    }

    <mat-menu #signOutMenu="matMenu" xPosition="before">
      <!-- TODO: Feature NOT implemented
      <button mat-menu-item><mat-icon color="primary">translate</mat-icon> English</button>
      -->

      <button mat-menu-item (click)="signOut()"><mat-icon color="primary">logout</mat-icon> Se déconnecter</button>
    </mat-menu>
  }
</div>
