.app-feedback-body {
  &__title {
    margin: 0 0 0.25rem 0;
    font: var(--mat-sys-title-large);
    letter-spacing: var(--mat-sys-title-large-tracking);
  }

  &__content {
    display: block;
    margin: 0 0 1.25rem 0;
  }
}
