@if (feedback.message) {
  <h3 class="app-feedback-body__title"><mat-icon>send</mat-icon> Message</h3>
  <p class="app-feedback-body__content">{{ feedback.message }}</p>
}

@if (feedback.status === 'done') {
  <h3 class="app-feedback-body__title"><mat-icon>new_releases</mat-icon> Points positifs</h3>
  <p class="app-feedback-body__content">{{ feedback.positive }}</p>

  <h3 class="app-feedback-body__title"><mat-icon>moving</mat-icon> Axes d'améliorations</h3>
  <p class="app-feedback-body__content">{{ feedback.negative }}</p>

  @if (feedback.comment) {
    <h3 class="app-feedback-body__title"><mat-icon>notes</mat-icon> Commentaires</h3>
    <p class="app-feedback-body__content">{{ feedback.comment }}</p>
  }
}
