@use '../../app.scss' as app;

.app-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  @include app.media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: center;
    gap: 1.25em;
    padding: 0 1.25em;
  }

  &__item {
    position: relative;

    // Note: 0.75em (margin-top) + 0.5em (padding-top) == 1.25em (padding-bottom)
    margin-top: 0.75em;
    padding: 0.5em 0.25em 1.25em 0.25em;

    flex-shrink: 0; // Has an effect on desktop only
    text-align: right; // Has an effect on mobile only
    text-decoration: none;

    color: var(--mat-sys-on-surface-variant);
    transition: color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &:hover,
    &--active {
      color: var(--mat-sys-primary);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0.75em;
      height: 4px;
      left: 50%;
      width: 0%;
      opacity: 0;
      border-radius: 4px;
      background-color: var(--mat-sys-primary);
      transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    &--active::after {
      left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
}
