<a class="app-nav__item" routerLinkActive="app-nav__item--active" routerLink="/request" ariaCurrentWhenActive="page">
  <ng-container i18n="@@Feedback.Request"> Demander </ng-container>
</a>

<a class="app-nav__item" routerLinkActive="app-nav__item--active" routerLink="/give" ariaCurrentWhenActive="page">
  <ng-container i18n="@@Feedback.Give"> Donner </ng-container>
</a>

<a
  class="app-nav__item"
  routerLinkActive="app-nav__item--active"
  routerLink="/give-requested"
  ariaCurrentWhenActive="page"
  [matBadge]="receivedRequestLength()"
>
  <ng-container i18n="@@Feedback.Reply"> Répondre </ng-container>
</a>

<a
  class="app-nav__item"
  routerLinkActive="app-nav__item--active"
  routerLink="/history"
  ariaCurrentWhenActive="page"
  i18n="@@Action.History"
  >Mes feedZbacks</a
>

@if (isManager()) {
  <a
    [@smoothWidth]="device() !== 'mobile'"
    class="app-nav__item"
    routerLinkActive="app-nav__item--active"
    routerLink="/manager"
    ariaCurrentWhenActive="page"
    i18n="@@Action.Manager"
  >
    Manager
  </a>
}
