<h1 class="gbl-page-title">
  <mat-icon>live_help</mat-icon>
  Demander du feedZback
</h1>

@if (sentEmails.length) {
  <app-message type="success">
    <strong>Félicitations&nbsp;!</strong><br />
    Votre demande a bien été envoyée à&nbsp;:<br />
    {{ sentEmails.join(', ') }}
  </app-message>
}

@if (remainingUnsentEmails.length) {
  <app-message type="danger">
    <strong>Oops&nbsp;!</strong><br />
    Une erreur s'est produite lors de l'envoi à&nbsp;:<br />
    {{ remainingUnsentEmails.join(', ') }}
  </app-message>
}

@if (!sentEmails.length || remainingUnsentEmails.length) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-emails-field class="app-request-feedback__field" [emails]="form.controls.recipients" />

    <mat-form-field appearance="outline" class="app-request-feedback__field">
      <mat-label>Message</mat-label>
      <textarea
        #message
        [formControl]="form.controls.message"
        [maxlength]="messageMaxLength"
        matInput
        rows="4"
        placeholder="Bonjour ! J’ai bientôt mon entretien annuel et afin de le préparer j’aimerais te demander ton avis sur ce que je fais bien et ce que je pourrais améliorer. Merci par avance."
      ></textarea>
      <mat-hint align="start">{{ message.value.length }} / {{ messageMaxLength }}</mat-hint>
    </mat-form-field>

    <div class="app-request-feedback__field">
      <mat-slide-toggle [formControl]="form.controls.shared" color="primary">
        Partager le FeedZback avec votre manager
      </mat-slide-toggle>
    </div>

    <button [disabled]="form.invalid || submitInProgress" mat-raised-button color="primary">Envoyer</button>
  </form>
}
