@if (hasDraft()) {
  <button mat-raised-button color="primary" class="float-right" (click)="openDraftDialog()">
    <mat-icon>draft</mat-icon>
    <ng-container i18n="@@Title.Drafts">Brouillons</ng-container>
  </button>
}

<ng-template #draftDialogTmpl>
  <h1 mat-dialog-title i18n="@@Title.Drafts">Brouillons</h1>
  <div mat-dialog-content>
    <app-give-feedback-draft />
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-button mat-dialog-close cdkFocusInitial i18n="@@Action.Close">Fermer</button>
  </div>
</ng-template>

<h1 class="gbl-page-title">
  <mat-icon>chat</mat-icon>
  <ng-container i18n="@@Title.GiveFeedback">Donner du feedZback spontané</ng-container>
</h1>

<app-message type="danger" [(visible)]="showError">
  @switch (errorType) {
    @case ('error') {
      <ng-container i18n="@@Message.ErrorOccured">Une erreur s'est produite.</ng-container>
    }
    @case ('invalid_email') {
      <ng-container i18n="@@Message.InvalidEmail">L'adresse email est invalide.</ng-container>
    }
  }
</app-message>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-autocomplete-email [email]="form.controls.receiverEmail" class="gbl-form-field" />

  <app-give-feedback-details
    [positive]="form.controls.positive"
    [negative]="form.controls.negative"
    [comment]="form.controls.comment"
  />

  @if (hasManagerFeature) {
    <div class="gbl-form-field">
      <mat-slide-toggle
        [formControl]="form.controls.shared"
        color="primary"
        matTooltip="Cela permettra à votre collègue, d'échanger sur votre feedback avec son manager, en toute transparence."
        i18n-matTooltip
        i18n="@@Component.GiveFeedback.Share"
      >
        Partager le feedZback avec le manager de votre collègue
      </mat-slide-toggle>
    </div>
  }

  <div class="gbl-form-submit">
    <div>
      <button [disabled]="form.invalid || submitInProgress" mat-raised-button color="primary" i18n="@@Action.Send">
        Envoyer
      </button>

      <button
        type="button"
        [disabled]="form.controls.receiverEmail.invalid || submitInProgress"
        mat-stroked-button
        color="primary"
        class="ms-6"
        (click)="onDraft()"
        i18n="@@Action.Save"
      >
        Sauvegarder
      </button>
    </div>

    <div class="gbl-form-submit__info">
      <mat-icon>info</mat-icon>
      <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
    </div>
  </div>

  <app-message class="!mb-0 mt-8" type="success" [(visible)]="showDraft" i18n="@@Message.DraftSaved">
    Brouillon sauvegardé.
  </app-message>
</form>
