@if (hasDraft()) {
  <button mat-raised-button color="primary" class="float-right" (click)="openDraftDialog()">
    <mat-icon>draft</mat-icon>
    <ng-container i18n="@@Title.Drafts">Brouillons</ng-container>
  </button>
}

<ng-template #draftDialogTmpl>
  <h1 mat-dialog-title i18n="@@Title.Drafts">Brouillons</h1>
  <div mat-dialog-content>
    <app-give-feedback-draft />
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-button mat-dialog-close cdkFocusInitial i18n="@@Action.Close">Fermer</button>
  </div>
</ng-template>

<h1 class="gbl-page-title">
  <mat-icon>chat</mat-icon>
  <ng-container i18n="@@Title.GiveFeedback">Donner du feedZback spontané</ng-container>
</h1>

<form
  [formGroup]="form"
  [appConfirmBeforeSubmit]="onSubmit.bind(this)"
  appConfirmBeforeSubmitContent="Une fois confirmé, votre feedZback ne peut plus être modifié."
  i18n-appConfirmBeforeSubmitContent="@@Message.ConfirmBeforeSubmitFeedback"
>
  <app-autocomplete-email [email]="form.controls.receiverEmail" class="gbl-form-field" />

  <app-give-feedback-details
    [positive]="form.controls.positive"
    [negative]="form.controls.negative"
    [comment]="form.controls.comment"
  />

  @if (hasManagerFeature) {
    <div class="gbl-form-field">
      <mat-slide-toggle [formControl]="form.controls.shared" color="primary">
        <ng-container i18n="@@Component.GiveFeedback.Share">
          Partager le feedZback avec le manager de votre collègue
        </ng-container>
        <mat-icon
          class="gbl-link ms-1 align-bottom"
          appDialogTooltip
          dialogWidth="600px"
          dialogTitle="Pourquoi le partage du feedZback est recommandé ?"
          dialogContent="Le partage du feedZback s'inscrit dans une démarche d'amélioration continue chère à Zenika, qui place son destinataire au centre des échanges."
          i18n-dialogTitle="@@Message.ShareFeedbackTitle"
          i18n-dialogContent="@@Message.ShareFeedbackContent"
        >
          help
        </mat-icon>
      </mat-slide-toggle>
    </div>
  }

  <div class="gbl-form-submit">
    <div>
      <button
        type="button"
        [disabled]="form.controls.receiverEmail.invalid || submitInProgress"
        mat-stroked-button
        color="primary"
        matTooltip="Enregistrer en tant que brouillon"
        i18n-matTooltip="@@Action.SaveAsDraft"
        i18n="@@Action.Save"
        (click)="onDraft()"
      >
        Sauvegarder
      </button>

      <button [disabled]="form.invalid || submitInProgress" mat-raised-button color="primary" class="ms-6">
        <mat-icon>send</mat-icon>
        <ng-container i18n="@@Action.Send">Envoyer</ng-container>
      </button>
    </div>

    <div class="gbl-form-submit__info">
      <mat-icon>info</mat-icon>
      <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
    </div>
  </div>
</form>
