@use '../../../app.scss' as app;

.app-sentiment {
  display: inline-flex;
  align-items: center;

  &__item {
    position: relative;

    &--disabled {
      opacity: 0.5;
    }
  }

  &__icon {
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    background-color: transparent;
    transition:
      opacity 250ms ease,
      background-color 250ms ease,
      color 250ms ease;

    &:hover {
      opacity: 1;
    }

    &--selected {
      opacity: 1;
      background-color: rgb(app.$primary-color, 0.1);
      color: app.$primary-color;
    }
  }

  &__item--disabled &__icon {
    cursor: default;
    opacity: 1;
  }

  &__text {
    user-select: none;
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    text-align: center;
    text-wrap: nowrap;
    animation: AppSentimentFadeIn 250ms ease;
  }

  // Small (overall width: 140px)
  &--size-sm {
    padding: 0;
    gap: 0.283rem;
  }
  &--size-sm &__item {
    margin-bottom: 0.85rem;
  }
  &--size-sm &__icon {
    transform: scale(1);
  }
  &--size-sm &__text {
    font-size: 0.85rem;
    bottom: -1.05rem;
  }

  // Medium (overall width: 210px)
  &--size-md {
    padding: 0.25rem;
    gap: 1.25rem;
  }
  &--size-md &__item {
    margin-bottom: 0.85rem;
  }
  &--size-md &__icon {
    transform: scale(1.5);
  }
  &--size-md &__text {
    font-size: 0.85rem;
    bottom: -1.4rem;
  }

  // Large (overall width: 280px)
  &--size-lg {
    padding: 0.6rem;
    gap: 2.17rem;
  }
  &--size-lg &__item {
    margin-bottom: 1rem;
  }
  &--size-lg &__icon {
    transform: scale(2);
  }
  &--size-lg &__text {
    bottom: -1.7rem;
  }

  // X-large (overall width: 350px)
  &--size-xl {
    padding: 0.95rem;
    gap: 3.1rem;
  }
  &--size-xl &__item {
    margin-bottom: 1rem;
  }
  &--size-xl &__icon {
    transform: scale(2.5);
  }
  &--size-xl &__text {
    bottom: -2.05rem;
  }
}

@keyframes AppSentimentFadeIn {
  from {
    opacity: 0;
  }
}
