<p>
  Hello dialog tooltip
  <mat-icon appDialogTooltip [dialogTitle]="'Hello'" [dialogContent]="'Content'">lightbulb</mat-icon>
</p>

<p>
  Hello dialog tooltip
  <mat-icon appDialogTooltip [dialogTitle]="'Hello'" [dialogContent]="tmpl">lightbulb</mat-icon>

  <ng-template #tmpl>
    <h3>Coucou TMPL</h3>
  </ng-template>
</p>

<p i18n="@@Demo.LoremIpsum" data-test-id="lorem-ipsum">{{ loremIpsum }}</p>

<div class="mat-headline-1">Headline-1. Lorem ipsum</div>
<div class="mat-headline-2">Headline-2. Lorem ipsum</div>
<div class="mat-headline-3">Headline-3. Lorem ipsum</div>
<div class="mat-headline-4">Headline-4. Lorem ipsum</div>

<hr />

<div class="mat-h1">H1. Lorem ipsum</div>
<div class="mat-h2">H2. Lorem ipsum</div>
<div class="mat-h3">H3. Lorem ipsum</div>
<div class="mat-h4">H4. Lorem ipsum</div>
<p class="mb-3">P. Lorem ipsum</p>

<hr />

<div class="mat-body">Body. Lorem ipsum</div>
<div class="mat-body-strong">Body-strong. Lorem ipsum</div>
<div class="mat-small">Small. Lorem ipsum</div>

<hr />

<app-message type="light">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<app-message type="info">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<app-message type="success">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<app-message type="danger">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<hr />

<app-avatar class="me-4" />

<app-avatar class="me-4" name="Stéphane Francel" />

<app-avatar class="me-4" name="Norbert Pointu" />

<app-avatar
  class="me-4"
  name="Stéphane Francel"
  photoUrl="https://lh3.googleusercontent.com/a/ACg8ocLVPXZX9ZNvQxEorgeocP2akfBpEXbKcfdSeIWi-3izCg=s96-c"
/>

<hr />

<app-avatar class="me-4" small />

<app-avatar class="me-4" small name="Stéphane Francel" />

<app-avatar class="me-4" small name="Norbert Pointu" />

<app-avatar
  class="me-4"
  small
  name="Stéphane Francel"
  photoUrl="https://lh3.googleusercontent.com/a/ACg8ocLVPXZX9ZNvQxEorgeocP2akfBpEXbKcfdSeIWi-3izCg=s96-c"
/>
