<p i18n="@@Demo.LoremIpsum" data-test-id="lorem-ipsum">{{ loremIpsum }}</p>

<div class="mat-headline-1">Headline-1. Lorem ipsum</div>
<div class="mat-headline-2">Headline-2. Lorem ipsum</div>
<div class="mat-headline-3">Headline-3. Lorem ipsum</div>
<div class="mat-headline-4">Headline-4. Lorem ipsum</div>

<hr />

<div class="mat-h1">H1. Lorem ipsum</div>
<div class="mat-h2">H2. Lorem ipsum</div>
<div class="mat-h3">H3. Lorem ipsum</div>
<div class="mat-h4">H4. Lorem ipsum</div>
<p class="mb-3">P. Lorem ipsum</p>

<hr />

<div class="mat-body">Body. Lorem ipsum</div>
<div class="mat-body-strong">Body-strong. Lorem ipsum</div>
<div class="mat-small">Small. Lorem ipsum</div>

<hr />

<app-message type="light">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<app-message type="info">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<app-message type="success">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<app-message type="danger">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</app-message>

<hr />

<p>
  <a class="gbl-link" role="presentation" (click)="notificationService.show('Notification info.')">
    Show notification info
  </a>
  <br />
  <a class="gbl-link" role="presentation" (click)="notificationService.show('Notification success.', 'success')">
    Show notification success
  </a>
  <br />
  <a class="gbl-link" role="presentation" (click)="notificationService.show('Notification danger.', 'danger')">
    Show notification danger
  </a>
</p>

<hr />

<p>
  Open dialog tooltip with content as string
  <mat-icon
    style="vertical-align: bottom"
    appDialogTooltip
    dialogTitle="Dialog tooltip"
    dialogContent="Dialog content as string."
  >
    lightbulb
  </mat-icon>
</p>

<p>
  Open dialog tooltip with content as template
  <mat-icon appDialogTooltip dialogTitle="Dialog tooltip" [dialogContent]="dialogTooltipTemplate">lightbulb</mat-icon>

  <ng-template #dialogTooltipTemplate>
    <mat-icon>beach_access</mat-icon>
    Dialog content as template.
  </ng-template>
</p>

<hr />

<app-avatar class="me-4" />

<app-avatar class="me-4" name="Stéphane Francel" />

<app-avatar class="me-4" name="Norbert Pointu" />

<app-avatar
  class="me-4"
  name="Stéphane Francel"
  photoUrl="https://lh3.googleusercontent.com/a/ACg8ocLVPXZX9ZNvQxEorgeocP2akfBpEXbKcfdSeIWi-3izCg=s96-c"
/>

<hr />

<app-avatar class="me-4" small />

<app-avatar class="me-4" small name="Stéphane Francel" />

<app-avatar class="me-4" small name="Norbert Pointu" />

<app-avatar
  class="me-4"
  small
  name="Stéphane Francel"
  photoUrl="https://lh3.googleusercontent.com/a/ACg8ocLVPXZX9ZNvQxEorgeocP2akfBpEXbKcfdSeIWi-3izCg=s96-c"
/>

<hr />

<app-sentiment size="sm" /><br /><br />
<app-sentiment size="md" /><br /><br />
<app-sentiment size="lg" /><br /><br />
<app-sentiment size="xl" /><br /><br />

<div>
  <h3>Using Input/Output</h3>
  <app-sentiment [(note)]="sentimentNote" />
  <p>Note: {{ sentimentNote }}</p>
</div>

<div>
  <h3>Using FormControl</h3>
  <app-sentiment [formControl]="sentimentNoteCtrl" />
  <p>
    Note: {{ sentimentNoteCtrl.value }}

    @if (sentimentNoteCtrl.hasError('required')) {
      (field is required)
    }
  </p>
</div>
