.form-input {
    padding: .5rem;
    color: #605E5E;
}

.subtitle {
    color: #4E4B4B;
    text-align: justify;
}

.logo {
    margin: 1rem 0 1rem 0;
}

h2 {
    margin-bottom: .5rem;
}

h1 {
    color: #D52150;
    font-weight: bold;
    margin-left: 5px;
}

small {
    color: #D52150;
    font-weight: lighter;
}

a {
    color: #D52150;
}

.textarea {
    resize: vertical;
}

#vector-arrow {
    background-color: #D52150;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    padding: 3px;
}

.form-control.ng-untouched,
.form-control.ng-valid {
    border-color: #ccc;
}

.form-control-lg.ng-untouched,
.form-control-lg.ng-valid {
    border-color: #ccc;
}

input:required {
    border-color: red;
}

textarea:required {
    border-color: red;
}
