.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.form-input {
    flex-grow: 1;
    padding: .5rem;
    color: #605E5E;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.subtitle {
    color: #4E4B4B;
}

.logo {
    margin: 1rem 0 1rem 0;
}

h2 {
    margin-bottom: .5rem;
}

h1 {
    color: #D52150;
    font-weight: bold;
}

small {
    color: #D52150;
    font-weight: lighter;
}

a {
    color: #D52150;
}