.container{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: stretch;
    text-align: left;
    max-width: 745px;
    margin: auto;
}
.row {
    display: flex;
    flex-direction: row; 
    margin-top: 30px;
    align-items: center;
}
img {
    background-color: #D52150;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    padding: 2px;
    padding-left: 5px;
    margin-right: 5px;
}
h1 {
    color: #D52150;
    font-weight: bold;
    font-size: 24px;
}
.form-input {
    padding: 0.5rem;
    color: #605E5E;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.subtitle {
    color: #4E4B4B;
    text-align: start;
    font-weight: bold;
    font-size: 14px;
}
.input-text {
    padding-top: 12px;
    padding-bottom: 12px;
}
small {
    color: #D52150;
    font-weight: lighter;
    margin-top: 10px;
    font-size: 14px;
}
a {
    color: #D52150;
}
.content-title {
    padding-left: 3px;
}
.textarea {
    resize: vertical;  
    padding-bottom: 35px;
}
.btn-form{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .row:not(:first-child) {
        flex-direction: column;
        align-items: flex-start;
        display: contents;
    }
    .btn-form{
     justify-content: center;
    }
}
