<div fxLayout="column" class="container">
    <div fxLayoutAlign="center">
        <img src="../../assets/feedzback-logo.svg" alt="logo" class="logo">
    </div>
    <a href="">&lt; Retour</a>
    <h1>Envoi de feedback</h1>
    <span class="subtitle">Remplissez les champs ci-dessous et votre collègue recevra directement un mail contenant vos
        retours !</span>
    <small>les champs marqués d’une astérisque sont obligatoires</small>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #myform="ngForm">
        <h2>Qui êtes-vous ?</h2>
        <div fxLayout="row" [fxLayout.lt-md]="'column'">
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="your-email">Votre email Zenika *</label>
                <input type="text" class="input-text input-invalid" id="your-email"
                    placeholder="pierre.douchon@zenika.com" formControlName="senderEmail" required
                    [ngClass]="{'input-invalid': myform.submitted && senderEmail?.invalid}">
                <small *ngIf="myform.submitted && senderEmail?.invalid">{{getFormControlError(senderEmail!)}}</small>
            </div>
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="your-name">Votre nom</label>
                <input type="text" class="input-text" id="your-name" placeholder="Pierre Duchon"
                    formControlName="senderName">
            </div>
        </div>
        <h2>Qui est votre collègue ?</h2>
        <div fxLayout="row" [fxLayout.lt-md]="'column'">
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="coworker-email">Email de votre collègue *</label>
                <input type="text" class="input-text" id="coworker-email" placeholder="pierre.douchon@zenika.com"
                    formControlName="receverEmail" required
                    [ngClass]="{'input-invalid': myform.submitted && receverEmail?.invalid}">
                <small *ngIf="myform.submitted && receverEmail?.invalid">{{getFormControlError(receverEmail!)}}</small>
            </div>
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="coworker-name">Nom de votre collègue</label>
                <input type="text" class="input-text" id="coworker-name" placeholder="Pierre Duchon"
                    formControlName="receverName">
            </div>
        </div>
        <h2>Votre retour</h2>
        <div fxLayout="column">
            <div fxLayout="column" class="form-input">
                <label for="positive-feedback">Points positifs *</label>
                <textarea class="textarea" name="positive-feedback" id="positive-feedback"
                    placeholder="Collègue à l’écoute!" formControlName="postitiveFeedback" required
                    [ngClass]="{'input-invalid': myform.submitted && postitiveFeedback?.invalid}">
                </textarea>
                <small
                    *ngIf="myform.submitted && postitiveFeedback?.invalid">{{getFormControlError(postitiveFeedback!)}}</small>
            </div>
            <div fxLayout="column" class="form-input">
                <label for="to-improve-feedback">Axes d’améliorations *</label>
                <textarea class="textarea" name="to-improve-feedback" id="to-improve-feedback" placeholder="Ponctualité"
                    formControlName="toImproveFeedback" required
                    [ngClass]="{'input-invalid': myform.submitted && toImproveFeedback?.invalid}">
                </textarea>
                <small
                    *ngIf="myform.submitted && toImproveFeedback?.invalid">{{getFormControlError(toImproveFeedback!)}}</small>

            </div>
            <div fxLayout="column" class="form-input">
                <label for="comment">Commentaires</label>
                <textarea class="textarea" name="comment" id="comment"
                    placeholder="Bravo pour ton talk à la dernière technozaure !" formControlName="comment">
                </textarea>
            </div>
        </div>
        <div fxLayoutAlign="end" [fxLayoutAlign.lt-sm]="'center'">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>
</div>