<div fxLayout="column">
    <div fxLayoutAlign="center">
        <img src="../../assets/feedzback-logo.svg" alt="logo" class="logo">
    </div>
    <a href="">&lt; Retour</a>
    <div fxLayout="row" fxLayoutAlign="start center">
        <img id="vector-arrow" src="../../assets/vector-arrow.svg" alt="vector-arrow">
        <h1>Envoi de feedback</h1>
    </div>
    <span class="subtitle">Remplissez les champs ci-dessous et votre collègue recevra directement un mail contenant vos
        retours !</span>
    <small>les champs marqués d’une astérisque sont obligatoires</small>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #myform="ngForm" novalidate>
        <h2>Qui êtes-vous ?</h2>
        <div fxLayout="row" [fxLayout.lt-md]="'column'">
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="your-email">Votre email Zenika *</label>
                <input type="email" class="input-text form-control" id="your-email"
                    placeholder="pierre.douchon@example.com" formControlName="senderEmail" required
                  email>
                <small *ngIf="senderEmail?.touched && senderEmail?.invalid">{{getFormControlError(senderEmail!)}}</small>
            </div>
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="your-name">Votre nom *</label>
                <input type="text" class="input-text form-control" id="your-name" placeholder="Pierre Duchon"
                    formControlName="senderName" required >
                <small *ngIf="senderName?.touched && senderName?.invalid">{{getFormControlError(senderName!)}}</small>
            </div>
        </div>
        <h2>Qui est votre collègue ?</h2>
        <div fxLayout="row" [fxLayout.lt-md]="'column'">
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="coworker-email">Email de votre collègue *</label>
                <input type="email" class="input-text form-control" id="coworker-email" placeholder="pierre.douchon@example.com"
                    formControlName="receverEmail" required email>
                <small *ngIf="receverEmail?.touched && receverEmail?.invalid">{{getFormControlError(receverEmail!)}}</small>
            </div>
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="coworker-name">Nom de votre collègue *</label>
                <input type="text" class="input-text form-control" id="coworker-name" placeholder="Pierre Duchon" required
                    formControlName="receverName">
                <small *ngIf="receverName?.touched && receverName?.invalid">{{getFormControlError(receverName!)}}</small>
            </div>
        </div>
        <h2>Votre retour</h2>
        <div fxLayout="column">
            <div fxLayout="column" class="form-input">
                <label for="positive-feedback">Points positifs *</label>
                <textarea class="textarea form-control" name="positive-feedback" id="positive-feedback"
                    placeholder="Collègue à l’écoute!" formControlName="postitiveFeedback" required>
                </textarea>
                <small
                    *ngIf="postitiveFeedback?.touched && postitiveFeedback?.invalid">{{getFormControlError(postitiveFeedback!)}}</small>
            </div>
            <div fxLayout="column" class="form-input">
                <label for="to-improve-feedback">Axes d’améliorations *</label>
                <textarea class="textarea form-control" name="to-improve-feedback" id="to-improve-feedback" placeholder="Ponctualité"
                    formControlName="toImproveFeedback" required>
                </textarea>
                <small
                    *ngIf="toImproveFeedback?.touched && toImproveFeedback?.invalid">{{getFormControlError(toImproveFeedback!)}}</small>

            </div>
            <div fxLayout="column" class="form-input">
                <label for="comment">Commentaires</label>
                <textarea class="textarea" name="comment" id="comment"
                    placeholder="Bravo pour ton talk à la dernière technozaure !" formControlName="comment">
                </textarea>
            </div>
        </div>
        <div fxLayoutAlign="end" [fxLayoutAlign.lt-sm]="'center'">
            <button type="submit" class="btn btn-primary">ENVOYER</button>
        </div>
    </form>
</div>
