<div class="container">
        <div class="row">
            <img id="vector-arrow" src="/assets/vector-arrow.svg"/>
            <h1>Envoi de feedZback</h1>
        </div>
        <span class="subtitle">Remplissez les champs ci-dessous et votre collègue recevra un mail lui permettant d’aller consulter vos retours !</span>
        <small>les champs marqués d’un astérisque sont obligatoires</small>
    <form [formGroup]="form" id="feedbackForm" (ngSubmit)="onSubmit()" #myform="ngForm" novalidate>
        <h2>Qui est votre collègue ?</h2>
        <div class="row">
            <div  class="form-input">
                <label for="coworker-email">Email de votre collègue *</label>
                <input type="email" class="input-text form-control " id="coworker-email"
                    placeholder="marie.mettrand@example.com" formControlName="receverEmail" required email>
                <small
                    *ngIf="receverEmail?.touched && receverEmail?.invalid">{{getFormControlError(receverEmail!)}}</small>
            </div>
            <div class="form-input">
                <label for="coworker-name">Nom de votre collègue *</label>
                <input type="text" class="input-text form-control coworker-name" id="coworker-name" placeholder="Marie Mettrand"
                    required formControlName="receverName">
                <small
                    *ngIf="receverName?.touched && receverName?.invalid">{{getFormControlError(receverName!)}}</small>
            </div>
        </div>

        <h2>Votre retour</h2>
            <div class="form-input">
                <label for="positive-feedback">Points positifs *</label>
                <textarea class="textarea form-control" name="positive-feedback" id="positive-feedback"
                    placeholder="Exemple : Dans le cadre de la mission XXX,tes collègues viennent souvent te voir pour te demander de l’aide. Tu prends le temps de bien leur expliquer si quelque chose n’est pas compris. Je trouve que tu es très à l’écoute de tes collègues et tu leur permets de monter en compétences : bravo et merci pour ça." formControlName="postitiveFeedback" required>
                </textarea>
                <small
                    *ngIf="postitiveFeedback?.touched && postitiveFeedback?.invalid">{{getFormControlError(postitiveFeedback!)}}</small>
            </div>
            <div  class="form-input">
                <label for="to-improve-feedback">Axes d’améliorations *</label>
                <textarea class="textarea form-control" name="to-improve-feedback" id="to-improve-feedback"
                    placeholder="Exemple : La semaine dernière, tu as travaillé sur le même sujet pendant 5 jours sans pour autant demander de l’aide. Il s’est avéré que tu avais un blocage. Cela m’a déçu et agacé que tu ne nous demandes pas d’aide. J’aimerais que tu viennes nous voir la prochaine fois, afin que tu ne restes pas bloqué(e) aussi longtemps." formControlName="toImproveFeedback" required>
                </textarea>
                <small
                    *ngIf="toImproveFeedback?.touched && toImproveFeedback?.invalid">{{getFormControlError(toImproveFeedback!)}}</small>

            </div>
            <div  class="form-input">
                <label for="comment">Commentaires</label>
                <textarea class="textarea form-control" name="comment" id="comment"
                    placeholder="Exemple : Merci pour ta demande de feedZback !" formControlName="comment">
                </textarea>
            </div>
        <div class="btn-form">
            <button type="submit" id="submit" class="btn btn-primary">{{loading? 'Chargement...' : 'ENVOYER'}}</button>
        </div>
    </form>
</div>
