    <div class="content" *ngIf="askFeedbacks && askFeedbacks.length !== 0; else empty">
      <div *ngFor="let askFeedback of sortedAskFeedbackList">
        <div *ngIf="type === feedbackType.Received; else sent">
          <div class="row">
            <a
              [routerLink]="['/askFeedback', askFeedback.id, 'Received']"
              routerLinkActive="router-link-active">
              {{ askFeedback.senderName }}
            </a>     
          </div>
          <div class="row">
            <h4>{{ askFeedback.senderEmail }}</h4>
            <div class="resend">
              <h4>{{ askFeedback.createdAt | date: "dd/MM/yyyy" }}</h4>
              <button (click)="sendFeedback(askFeedback)">
                <img [src]="loading && askFeedback.id === clickedAskFeedbackId? pauseButtonSrc : sendButtonSrc" height="19" width="17"/>
              </button>
           </div>
          </div>
        </div>
        <ng-template #sent>
          <div class="row">
            <h4>
              <a
              [routerLink]="['/askFeedback', askFeedback.id, 'Sent']"
              routerLinkActive="router-link-active">
               {{ askFeedback.receverName }}
              </a>
            </h4>
          </div>
        
          <div class="row">
            <h4>{{ askFeedback.receverEmail }}</h4>
            <div class="resend">
              <h4>{{ askFeedback.lastResendDate? 
                (askFeedback.lastResendDate | date: "dd/MM/yyyy") :  (askFeedback.createdAt | date: "dd/MM/yyyy")}}
            </h4>
            <button (click)="resendAskFeedback(askFeedback)">
              <img [src]="loading && askFeedback.id === clickedAskFeedbackId? pauseButtonSrc : resendAskButtonSrc" height="19" width="17"/>
            </button>
           
           </div>
          </div>
        </ng-template>
      </div>
    </div>
  <ng-template #empty>
    <div class="empty">Aucun FeedZBack</div>
  </ng-template>
  
