<div class="content">
    <div class="list" *ngIf="askFeedbacks && askFeedbacks.length !== 0; else empty">
      <div *ngFor="let askFeedback of sortedAskFeedbackList">
        <div *ngIf="type === feedbackType.Received; else sent">
          <div class="row">
            <a
              [routerLink]="['/askFeedback', askFeedback.id, 'Received']"
              routerLinkActive="router-link-active">
              {{ askFeedback.senderName }}
            </a>     
          </div>
          <div class="row">
            <h4>{{ askFeedback.senderEmail }}</h4>
            <h4>{{ askFeedback.createdAt | date: "dd/MM/yyyy" }}</h4>
          </div>
        </div>
        <ng-template #sent>
          <div class="row">
            <h4>
              <a
              [routerLink]="['/askFeedback', askFeedback.id, 'Sent']"
              routerLinkActive="router-link-active">
              {{ askFeedback.receverName }}
              </a>
            </h4>
            <h4>{{ askFeedback.receverEmail }}</h4>
          </div>
        
          <div class="row">
            <h4>Date d'envoi: {{ askFeedback.createdAt | date: "dd/MM/yyyy" }} </h4>
            <h4>Dernière relance: {{ askFeedback.lastResendDate? 
                (askFeedback.lastResendDate | date: "dd/MM/yyyy") :  (askFeedback.createdAt | date: "dd/MM/yyyy")}}
            </h4>
            <img [src]="loading && askFeedback.id === clickedAskFeedbackId? resendButtonSrc : pauseButtonSrc" height="20" width="20" (click)="resendAskFeedback(askFeedback)"/>

          </div>
          <h5>-----------------------------------------------------------------------</h5>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="empty">Aucun FeedZBack</div>
  </ng-template>
  
