.content {
    display: flex;
    justify-content: flex-start;
}
.flex-column {
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
a {
    color: #D52150;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.list {
    margin-top: 20px;
    margin-left: 120px;
}
.empty {
    align-self: center;
    text-align: center;
    padding: 250px;
    margin-left: 100px;
    font-weight: bold;
}
h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
h4:nth-child(1) {
    margin-top: 5px;
}
h4:nth-child(2) {
    margin-top: 5px;
    position: absolute;
    margin-left: 300px;
}
img {
    position: absolute;
    background-color: #D52150;
    border-radius: 3px;
    padding: 2px;
    margin-left: 480px;
}
img:hover {
    cursor: pointer;
}
.date {
    font-size: 0.8rem;
    color: grey;
}

@media screen and (max-width: 690px) {
    h4:nth-child(2) {
        margin-left: 250px;
    }
    img {
        margin-left: 430px;
    }
    .list {
        margin-top: 20px;
        margin-left: 10px;
    }
    .empty {
        padding: 200px;
        margin-left: 50px;
    }

  
}
@media screen and (max-width: 512px) {
.content {
    display: flex;
    justify-content: flex-start;
}
h4:nth-child(2) {
    margin-top: 5px;
    position: absolute;
    margin-left: 170px;
}
img {
    margin-left: 340px;
}
.empty {
    padding: 150px;
    margin-left: 0;
}
}
@media screen and (max-width: 400px) {
    h4:nth-child(2) {
        margin-left: 142px;
    }
    h4 {
        font-size: 12.5;
    }
    .empty {
        padding: 100px;
    }
    img {
        margin-left: 310px;
    
    }
    
    }
