# ---------------------------------------------------------------------------------
# SETUP
# ---------------------------------------------------------------------------------
version: 2.1
orbs:
  # Pre-configured orb for GCP "gcloud" CLI
  gcp-cli: circleci/gcp-cli@3.1.1

executors:
  node:
    docker:
      - image: cimg/node:20.9
    resource_class: small

# ---------------------------------------------------------------------------------
# COMMANDS - reusable snippets
# ---------------------------------------------------------------------------------
commands:
  restore_workspace:
    steps:
      - attach_workspace:
          at: workspace
  restore_npm_cache:
    parameters:
      directory:
        type: string
    steps:
      - restore_cache:
          name: Restoring NPM cache
          keys:
            - npm-deps-{{ checksum "./workspace/<< parameters.directory >>/package-lock.json" }}
  restore_workspace_and_npm_cache:
    parameters:
      directory:
        type: string
    steps:
      - restore_workspace
      - restore_npm_cache:
          directory: << parameters.directory >>

# ---------------------------------------------------------------------------------
# WORKFLOWS
# ---------------------------------------------------------------------------------
workflows:
  feedzback_factory:
    jobs:
      # ---------------------------------------------------------------------------
      # This first section runs every time, for every branch as well as tags
      # following these patterns: "vX.Y.Z" and "staging-X.Y.Z"
      # ---------------------------------------------------------------------------
      ### Preparing and installing build environment
      - prepare-workspace:
          filters: &filter-every-build
            tags:
              only:
                - /^v\d+\.\d+\.\d+$/
                - /^staging-\d+\.\d+\.\d+$/
      - node-install:
          name: node-install-<< matrix.module >>
          filters: *filter-every-build
          requires:
            - prepare-workspace
          matrix:
            parameters:
              module: ["server", "client"]
      ### Testing and checking linting
      - node-test:
          name: node-test-<< matrix.module >>
          filters: *filter-every-build
          requires:
            - node-install-<< matrix.module >>
          matrix:
            parameters:
              module: ["server", "client"]
      - node-lint:
          name: node-lint-<< matrix.module >>
          filters: *filter-every-build
          requires:
            - node-install-<< matrix.module >>
          matrix:
            parameters:
              module: ["server", "client"]
      # ---------------------------------------------------------------------------
      # This section only runs for any non-deployed branches and tags and checks
      # that the server is actually buildable as a container
      # ---------------------------------------------------------------------------
      - build-client:
          name: testing-build-client-for-revision
          filters: &filter-non-deployed-builds
            branches:
              ignore: dev
          requires:
            - node-test-client
            - node-lint-client
          context: feedzback-staging

      - build-server:
          name: testing-build-server-for-revision
          filters: *filter-non-deployed-builds
          requires:
            - node-test-server
            - node-lint-server
          context: feedzback-staging
          tag-and-store-container: false
      # ---------------------------------------------------------------------------
      # This section will only run for staging deployments: either "dev" branch or
      # tags that match "staging-X.Y.Z"
      # ---------------------------------------------------------------------------
      ### Building Server container with Google Cloud Build...
      - build-server:
          name: build-server-for-staging
          filters: &filter-staging
            branches:
              only: dev
            tags:
              only: /^staging-\d+\.\d+\.\d+$/
          requires:
            - node-test-server
            - node-lint-server
          context: feedzback-staging
          tag-and-store-container: true
      ### ...and deploying it to Google Cloud Run.
      - deploy-server:
          name: deploy-staging-server
          filters: *filter-staging
          requires:
            - build-server-for-staging
          service-name: feedzback-staging
          context: feedzback-staging
      ### Building Client with CircleCI...
      - build-client:
          name: build-client-for-staging
          filters: *filter-staging
          requires:
            - node-test-client
            - node-lint-client
          environment: staging
      ### ...and deploying it using Firebase CLI.
      - deploy-client:
          name: deploy-staging-client
          filters: *filter-staging
          requires:
            - build-client-for-staging
          environment: staging
          context: feedzback-staging
      # ---------------------------------------------------------------------------
      # This section will only run for PRODUCTION deployments: tags need to match
      # the following pattern "vX.Y.Z"
      # ---------------------------------------------------------------------------
      ### Building Server container with Google Cloud Build...
      - build-server:
          name: build-server-for-production
          filters: &filter-only-production
            tags:
              only: /^v\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/
          requires:
            - node-test-server
            - node-lint-server
          tag-and-store-container: true
          context: feedzback-production
      ### ...and deploying it to Google Cloud Run.
      - deploy-server:
          name: deploy-production-server
          filters: *filter-only-production
          requires:
            - build-server-for-production
          service-name: feedzback
          context: feedzback-production
      ### Building Client with CircleCI...
      - build-client:
          name: build-client-for-production
          filters: *filter-only-production
          requires:
            - node-test-client
            - node-lint-client
          environment: production
      ### ...and deploying it using Firebase CLI.
      - deploy-client:
          name: deploy-production-client
          filters: *filter-only-production
          requires:
            - build-client-for-production
          environment: production
          context: feedzback-production

jobs:
  prepare-workspace:
    executor: node
    steps:
      - run:
          name: Creating workspace directory
          command: mkdir -p workspace
      - checkout:
          path: workspace
      - persist_to_workspace:
          root: workspace
          paths:
            - client
            - server

  node-install:
    parameters: &param-module
      module:
        type: string
    executor: node
    steps:
      - restore_workspace_and_npm_cache:
          directory: << parameters.module >>
      - run:
          name: Installing node modules
          working_directory: workspace/<< parameters.module >>
          command: npm ci
      - save_cache:
          name: Storing NPM cache
          key: npm-deps-{{ checksum "./workspace/<< parameters.module >>/package-lock.json" }}
          paths:
            - ./workspace/<< parameters.module >>/node_modules

  node-test:
    parameters: *param-module
    executor: node
    steps:
      - restore_workspace_and_npm_cache:
          directory: << parameters.module >>
      - run:
          name: Running tests in << parameters.module >>
          working_directory: workspace/<< parameters.module >>
          # For the moment, passes with no tests
          command: npm run test

  node-lint:
    parameters: *param-module
    executor: node
    steps:
      - restore_workspace_and_npm_cache:
          directory: << parameters.module >>
      - run:
          working_directory: workspace/<< parameters.module >>
          name: Running linter check in << parameters.module >>
          command: npm run lint:ci

  build-server:
    parameters: &param-service
      service-name:
        type: string
        default: feedzback-${CIRCLE_SHA1}
      tag-and-store-container:
        type: boolean
        default: false
    executor: gcp-cli/google
    steps:
      - gcp-cli/setup
      - checkout
      - when:
          condition: << parameters.tag-and-store-container >>
          steps:
            - run:
                name: Submitting Docker image to build and tagging it
                working_directory: server
                command: |
                  gcloud builds submit --tag ${GOOGLE_COMPUTE_ZONE}-docker.pkg.dev/${GOOGLE_PROJECT_ID}/builds/feedzback:${CIRCLE_SHA1}
      - unless:
          condition: << parameters.tag-and-store-container >>
          steps:
            - run:
                name: Submitting Docker image to build
                working_directory: server
                command: |
                  gcloud builds submit

  deploy-server:
    parameters: *param-service
    executor: gcp-cli/google
    steps:
      - gcp-cli/setup
      - run:
          working_directory: server
          name: Running gcloud run deploy
          command: |
            # Building update-env-vars argument
            ZZ="CLIENT_URL=${FEEDZBACK_CLIENT_URL}"
            ZZ="${ZZ},SERVER_PORT=3000"
            ZZ="${ZZ},NO_COLOR=true"
            ZZ="${ZZ},MAILGUN_API_URL=${MAILGUN_API_URL}"
            ZZ="${ZZ},MAILGUN_USERNAME=${MAILGUN_USERNAME}"
            ZZ="${ZZ},MAILGUN_KEY=${MAILGUN_KEY}"
            ZZ="${ZZ},MAILGUN_DOMAIN=${MAILGUN_DOMAIN}"
            ZZ="${ZZ},FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}"
            ZZ="${ZZ},FIREBASE_CLIENT_EMAIL=${FIREBASE_CLIENT_EMAIL}"
            ZZ="${ZZ},FIREBASE_PRIVATE_KEY=${FIREBASE_PRIVATE_KEY}"
            gcloud run deploy << parameters.service-name >> --image ${GOOGLE_COMPUTE_ZONE}-docker.pkg.dev/${GOOGLE_PROJECT_ID}/builds/feedzback:${CIRCLE_SHA1} --allow-unauthenticated  --platform=managed --region=${GOOGLE_COMPUTE_ZONE} --port=3000 --update-env-vars $ZZ

  build-client:
    parameters: &param-environment
      environment:
        default: staging
        type: string
    executor: node
    steps:
      - restore_workspace_and_npm_cache:
          directory: client
      - run:
          working_directory: workspace/client
          name: Building << parameters.environment >> package
          # For the moment, passes with no tests
          command: npm run build:<< parameters.environment >>
      - persist_to_workspace:
          root: workspace
          paths:
            - client/dist/client/browser

  deploy-client:
    parameters: *param-environment
    executor: node
    steps:
      - restore_workspace
      - run:
          name: Installing Firebase client
          command: |
            curl -Lo ./firebase_bin https://firebase.tools/bin/linux/latest
            chmod +x ./firebase_bin
      - run:
          name: Preparing credentials for Firebase client
          command: |
            echo ${GCLOUD_SERVICE_KEY} > ./workspace/firebase-service-account.json
      - run:
          name: Deploying client
          command: |
            export GOOGLE_APPLICATION_CREDENTIALS=./workspace/firebase-service-account.json
            ./firebase_bin --config ./workspace/client/firebase.json use << parameters.environment >>
            ./firebase_bin --config ./workspace/client/firebase.json deploy --only hosting:<< parameters.environment >>
