.app-not-found {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0.65;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__icon {
    margin-bottom: 1.5rem;
    transform: scale(3);
    animation: appNotFoundIconAnim 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

@keyframes appNotFoundIconAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(3);
  }
}
