.app-color-gen-form {
  &__snapshots {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  &__form {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__align {
    margin-bottom: 20px; // Match the height of the <mat-error> (in MatFormField)
  }
}
