<p class="!mt-6">
  <mat-slide-toggle [checked]="showLegend()" (toggleChange)="toggleLegend()">Show legend</mat-slide-toggle>
</p>

<h2 class="app-stats-summary__heading !mt-6">Users</h2>
<ul class="gbl-list">
  <li class="gbl-list__item">
    <strong>{{ summary().uniqueUsers }}</strong> unique users
    @if (showLegend()) {
      <div class="app-stats-summary__legend">
        Number of unique users who have given, received or requested (replied or not) at least 1 feedback.
      </div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().uniqueGiversOrReceivers }}</strong> unique givers or receivers
    @if (showLegend()) {
      <div class="app-stats-summary__legend">
        Number of unique users who have given or received at least 1 spontaneous or requested feedback.
      </div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().uniqueGivers }}</strong> unique givers
    @if (showLegend()) {
      <div class="app-stats-summary__legend">
        Number of unique users who have given at least 1 spontaneous or requested feedback.
      </div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().uniqueReceivers }}</strong> unique receivers
    @if (showLegend()) {
      <div class="app-stats-summary__legend">
        Number of unique users who have received at least 1 spontaneous or requested feedback.
      </div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().uniqueRequesters }}</strong> unique requesters
    @if (showLegend()) {
      <div class="app-stats-summary__legend">Number of unique users who have at least 1 pending feedback request.</div>
    }
  </li>
</ul>

<h2 class="app-stats-summary__heading">FeedZbacks</h2>
<ul class="gbl-list">
  <li class="gbl-list__item">
    <strong>{{ summary().spontaneousFeedback }}</strong> spontaneous feedZbacks
    @if (showLegend()) {
      <div class="app-stats-summary__legend">Number of spontaneous feedZbacks over the period.</div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().requestedFeedbackDone }}</strong> replies to feedback requests
    @if (showLegend()) {
      <div class="app-stats-summary__legend">Number of feedZback requests replied over the period.</div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().requestedFeedbackPending }}</strong> pending feedback requests
    @if (showLegend()) {
      <div class="app-stats-summary__legend">Number of requested feedZback awaiting reply over the period.</div>
    }
  </li>

  <li class="gbl-list__item">
    <strong>{{ summary().sharedFeedback }}</strong> shared feedback
    @if (showLegend()) {
      <div class="app-stats-summary__legend">
        Number of shared feedZbacks (spontaneous, replied or awaiting reply) over the period.
      </div>
    }
  </li>
</ul>

<h2 class="app-stats-summary__heading">Period</h2>
<ul class="gbl-list">
  <li class="gbl-list__item">
    From <strong>{{ period().start }}</strong> to <strong>{{ period().end }}</strong>
    @if (showLegend()) {
      <div class="app-stats-summary__legend">
        Statistics are based on events occurring between the start date and the end date inclusive.
      </div>
    }
  </li>
</ul>
