<p>
  Open dialog tooltip using content as string

  <button
    type="button"
    class="gbl-button-less gbl-link align-middle"
    appDialogTooltip
    ariaLabelFromDialogTitle
    dialogTitle="Dialog tooltip"
    dialogContent="Dialog content as string."
  >
    <mat-icon>lightbulb</mat-icon>
  </button>
</p>

<p>
  Open dialog tooltip using content as template

  <button
    type="button"
    class="gbl-button-less gbl-link align-middle"
    appDialogTooltip
    ariaLabelFromDialogTitle
    dialogTitle="Dialog tooltip"
    [dialogContent]="dialogTooltipTemplate"
  >
    <mat-icon>lightbulb</mat-icon>
  </button>

  <ng-template #dialogTooltipTemplate>
    <mat-icon class="me-1 align-middle">beach_access</mat-icon>
    Dialog content as template.
  </ng-template>
</p>
