<h1 class="gbl-page-title">
  <mat-icon>forum</mat-icon>
  <ng-container i18n="@@Title.History">Historique de mes feedZbacks</ng-container>
</h1>

@if (fetched) {
  <mat-tab-group
    animationDuration="0ms"
    [selectedIndex]="tabIndex"
    (selectedTabChange)="onTabIndexChange($event.index)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="app-history__label-icon">{{ 'received' | feedbackTypeIcon }}</mat-icon>
        <ng-container i18n="@@Component.MyFeedbacks.Received">reçus</ng-container>
      </ng-template>

      <ng-container [ngTemplateOutlet]="filterTmpl" />

      @if (received.length) {
        <app-feedback-list [feedbacks]="received" [filter]="filter" />
      } @else {
        <div class="app-history__empty">
          <div class="app-history__empty-label" i18n="@@Component.MyFeedbacks.NoData">Aucun feedZback...</div>

          <button mat-stroked-button routerLink="/request">
            <mat-icon>contact_support</mat-icon>
            <ng-container i18n="@@Title.RequestFeedback">Demander du feedZback</ng-container>
          </button>
        </div>
      }
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="app-history__label-icon">{{ 'given' | feedbackTypeIcon }}</mat-icon>
        <ng-container i18n="@@Component.MyFeedbacks.Given">donnés</ng-container>
      </ng-template>

      <ng-container [ngTemplateOutlet]="filterTmpl" />

      @if (given.length) {
        <app-feedback-list [feedbacks]="given" [filter]="filter" />
      } @else {
        <div class="app-history__empty">
          <div class="app-history__empty-label" i18n="@@Component.MyFeedbacks.NoData">Aucun feedZback...</div>

          <button mat-stroked-button routerLink="/give">
            <mat-icon>chat</mat-icon>
            <ng-container i18n="@@Title.GiveFeedback">Donner du feedZback spontané</ng-container>
          </button>
        </div>
      }
    </mat-tab>

    @if (sentRequest.length) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="app-history__label-icon">{{ 'sentRequest' | feedbackTypeIcon }}</mat-icon>
          <ng-container i18n="@@Component.MyFeedbacks.Requested">demandés</ng-container>
        </ng-template>

        <ng-container [ngTemplateOutlet]="filterTmpl" />

        <app-feedback-list [feedbacks]="sentRequest" [filter]="filter" />
      </mat-tab>
    }
  </mat-tab-group>
}

<ng-template #filterTmpl>
  <mat-form-field appearance="fill" class="app-history__filter">
    <input
      #input
      matInput
      placeholder="Rechercher par email"
      i18n-placeholder="@@Field.SearchByEmail"
      [value]="filter"
      (keyup)="filter = input.value"
    />
    @if (filter) {
      <mat-icon class="gbl-sys-primary" mat-icon-button matIconSuffix role="button" (click)="filter = ''">
        close
      </mat-icon>
    }
    <mat-icon matIconSuffix>search</mat-icon>
  </mat-form-field>
</ng-template>
