.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    max-width: 1500px;
    min-width: 800px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
}
h2 {
    color: #D43B6D;
    font-weight: bold;
    font-size: 24px;
}
h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin-left: 5px;
    color: #4E4B4B;
}
h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #605E5E;
}
h4 {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 10px;
    color: #000000;
}
.column-right {
    padding-left: 180px;
}
h4.column-right {
    padding-left: 140px;
}
.flex-row h3 {
    margin-left: 15px;
}
.flex-row h4 {
    margin-left: 25px;
}
img {
    height: 24px;
    width: 23px;
    padding: 3px;
    background-color: #D52150;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 2px;
}
a {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #D43B6D;
}
h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #D43B6D;
    margin-top: 0;
    margin-right: 2px;  
}
.return-link-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.feedback-body {
    margin-left: 15px;
}
@media only screen and (max-width: 800px) {
    .container {
        max-width: 600px;
        min-height: 600px;
        align-items: flex-start;
        margin-left: 40px;
    }
}
@media only screen and (max-width: 400px){
    .container {
        max-width: 300px;
        min-height: 300px;
        align-items: flex-start;
    }
    .flex-row {
        flex-direction: column;
    }
    h4.column-right {
        padding-left: 0px;
    }
    .column-right {
        padding-left: 0px;
    }
}
