<%- include('partials/header', { content: content, data: data }); %>

<span style="color: #333333;"><%= content.message %> <strong><%- data.managedEmail %></strong></span>.

<%- include('partials/footer', { content: content, data: data }); %>
