<%- include('partials/header', { content: content, data: data }); %>

<div style="margin-bottom: 16px; color: #333333">
  <%= content.message %> <strong><%- data.managedEmail %></strong>.
</div>

<%- include('partials/footer', { content: content, data: data }); %>
