.app-avatar {
  vertical-align: middle;
  flex-shrink: 0; // as flex item
  display: inline-flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--gbl-outline-variant);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: #ffffff;
  font-weight: 500;

  width: 48px;
  height: 48px;
  font-size: 24px;

  &--small {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }

  &__icon {
    &--bigger {
      transform: scale(1.5);
    }
  }
}
