@use '../app.scss' as app;

.app-footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  font-size: 0.875rem;
  color: app.$forground-grey-color;

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: inherit;
    transition: color 250ms ease;

    &--right {
      text-align: right;
    }

    &:hover {
      color: app.$dark-primary-text;
    }
  }
}
