.app-loading__container {
  position: fixed;
  z-index: 2; // Note: the loader should NOT cover the header!
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(from var(--mat-sys-surface) r g b / 0.65);
}
