@use '../../app.scss' as app;

.app-loading__container {
  position: fixed;
  z-index: 2; // Note: the loader should NOT cover the header!
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--app-loading);
}

:root {
  --app-loading: #{rgba($color: app.get-light-theme-color(background), $alpha: 0.65)};
}

.gbl-theme-dark {
  --app-loading: #{rgba($color: app.get-dark-theme-color(background), $alpha: 0.65)};
}
