<button class="gbl-link gbl-link--back" [routerLink]="['../../list', document().receiverEmail]">
  <mat-icon>arrow_back</mat-icon>
  <ng-container i18n="@@Title.SharedFeedZbacks">FeedZbacks partagés</ng-container>
</button>

<h1 class="gbl-page-title">
  @if (document().status === 'done') {
    <mat-icon>{{ 'received' | feedbackTypeIcon }}</mat-icon>
    <ng-container i18n="@@Component.ManagerDocument.SharedFeedback">FeedZback partagé</ng-container>
  } @else {
    <mat-icon>{{ 'sentRequest' | feedbackTypeIcon }}</mat-icon>
    <ng-container i18n="@@Component.ManagerDocument.SharedFeedbackRequest">Demande de feedZback partagé</ng-container>
  }
</h1>

<ul class="gbl-icon-list gbl-icon-list--horizontal-md">
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">voice_selection</mat-icon>
    {{ document().giverEmail }}
  </li>

  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">hearing</mat-icon>
    {{ document().receiverEmail }}
  </li>

  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">calendar_today</mat-icon>
    {{ document().createdAt | date: 'longDate' }}
  </li>
</ul>

<app-feedback-body [feedback]="document()" />

@if (hasBeenRequestedAgain()) {
  <ul class="gbl-icon-list">
    <li class="gbl-icon-list__item">
      <mat-icon class="gbl-icon-list__icon">mail</mat-icon>
      <ng-container i18n="@@Component.ManagerDocument.ReminderSentOn">Une relance a été envoyée le</ng-container>
      {{ document().updatedAt | date: 'longDate' }}
    </li>
  </ul>
}
