<h1 class="gbl-page-title">
  <mat-icon>{{ type() | feedbackTypeIcon }}</mat-icon>
  {{ title() }}
</h1>

<ul class="gbl-icon-list gbl-icon-list--horizontal-md">
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">email</mat-icon>
    {{ colleagueEmail() }}
  </li>

  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">calendar_today</mat-icon>
    {{ feedback().createdAt | date: 'longDate' }}
  </li>
</ul>

<app-feedback-body [feedback]="feedback()" />

@if (feedback().shared) {
  <ul class="gbl-icon-list gbl-icon-list--horizontal-md">
    <li class="gbl-icon-list__item">
      <mat-icon class="gbl-icon-list__icon">share</mat-icon>
      {{ sharedMessage() }}
    </li>
  </ul>
}

@if (type() === feedbackType.sentRequest && hasBeenRequestedAgain) {
  <ul class="gbl-icon-list gbl-icon-list--horizontal-md">
    <li class="gbl-icon-list__item">
      <mat-icon class="gbl-icon-list__icon">history</mat-icon>
      <ng-container i18n="@@Component.PendingFeedback.ReminderAlreadySentOn">
        Vous avez envoyé une relance à votre collègue le
      </ng-container>
      {{ feedback().updatedAt | date: 'longDate' }}
    </li>
  </ul>
}

@if (isRecentFeedbackRequest) {
  <ul class="gbl-icon-list gbl-icon-list--horizontal-md">
    <li class="gbl-icon-list__item">
      <mat-icon class="gbl-icon-list__icon">hourglass_top</mat-icon>
      <ng-container i18n="@@Component.PendingFeedback.CanNotBeCancelled">
        La demande est récente (moins de {{ DEADLINE_IN_DAYS }} jours) et ne peut pas encore être archivée
      </ng-container>
    </li>
  </ul>
}

@if (actionsStatus !== 'hidden') {
  @switch (type()) {
    @case (feedbackType.sentRequest) {
      @if (!hasBeenRequestedAgain) {
        <button
          class="mb-4 me-5"
          mat-raised-button
          color="primary"
          [disabled]="actionsStatus === 'disabled'"
          (click)="requestAgain()"
        >
          <mat-icon>mail</mat-icon>
          <ng-container i18n="@@Component.PendingFeedback.Remind">Envoyer un rappel</ng-container>
        </button>
      }
    }
    @case (feedbackType.receivedRequest) {
      <button
        class="mb-4 me-5"
        mat-raised-button
        color="primary"
        [disabled]="actionsStatus === 'disabled'"
        [appGiveRequestedFeedback]="feedback().id"
      >
        <mat-icon>edit</mat-icon>
        <ng-container i18n="@@Feedback.Reply"> Répondre </ng-container>
      </button>
    }
  }

  <form
    class="inline"
    [formGroup]="archiveRequestForm"
    [appConfirmBeforeSubmit]="archiveRequest.bind(this)"
    appConfirmBeforeSubmitConfig="archiveFeedbackRequest"
  >
    <button
      class="mb-4"
      mat-stroked-button
      color="primary"
      [disabled]="isRecentFeedbackRequest || actionsStatus === 'disabled'"
    >
      <mat-icon>archive</mat-icon>
      <ng-container i18n="@@Action.Archive">Archiver</ng-container>
    </button>
  </form>
}
