<h1 class="gbl-page-title mat-h1">
  <mat-icon>forum</mat-icon>
  FeedZback
  @switch (type) {
    @case (feedbackType.sentRequest) {
      demandé
    }
    @case (feedbackType.receivedRequest) {
      à donner
    }
  }
</h1>

<div class="app-pending-feedback-list">
  <div class="app-pending-feedback-list__item"><mat-icon>calendar_today</mat-icon>{{ feedback.createdAt | date }}</div>
  <div class="app-pending-feedback-list__item"><mat-icon>email</mat-icon>{{ getColleagueEmail(feedback) }}</div>
</div>

<app-feedback-body [feedback]="feedback" />

@if (feedback.shared) {
  <div class="app-pending-feedback-list">
    <div class="app-pending-feedback-list__item">
      <mat-icon>share</mat-icon>
      @if (type === feedbackType.sentRequest) {
        Ce feedZback est partagé avec votre manager
      } @else {
        Ce feedZback est partagé avec le manager de votre collègue
      }
    </div>
  </div>
}

<!-- TODO: Feature NOT implemented
@if (type === feedbackType.sentRequest) {
  <button mat-raised-button color="primary">Relancer</button>
}
-->

@if (type === feedbackType.receivedRequest) {
  <button mat-raised-button color="primary" (click)="giveNow()">Donner</button>
}
