// Material palettes available here: node_modules/@angular/material/core/theming/_palette.scss

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$client-palette: (
  50: #f7cad6,
  100: #f1a7bb,
  200: #ec839f,
  300: #e66084,
  400: #e13d69,
  500: #df2147,
  600: #b01c43,
  700: #8d1636,
  800: #6a1128,
  900: #470b1b,
  A100: #ec839f,
  A200: #e13d69,
  A400: #b01c43,
  A700: #6a1128,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
