@use '../variables' as v;

$typography: (
  display-large: #{v.$font-bold-weight} min(1.525rem + 3.3vw, 4rem) / 1.2 'Nunito',
  display-large-font: 'Nunito',
  display-large-line-height: 1.2,
  display-large-size: min(1.525rem + 3.3vw, 4rem),
  display-large-tracking: -0.016rem,
  display-large-weight: #{v.$font-bold-weight},

  display-medium: #{v.$font-bold-weight} min(1.475rem + 2.7vw, 3.5rem) / 1.2 'Nunito',
  display-medium-font: 'Nunito',
  display-medium-line-height: 1.2,
  display-medium-size: min(1.475rem + 2.7vw, 3.5rem),
  display-medium-tracking: 0rem,
  display-medium-weight: #{v.$font-bold-weight},

  display-small: #{v.$font-bold-weight} min(1.425rem + 2.1vw, 3rem) / 1.2 'Nunito',
  display-small-font: 'Nunito',
  display-small-line-height: 1.2,
  display-small-size: min(1.425rem + 2.1vw, 3rem),
  display-small-tracking: 0rem,
  display-small-weight: #{v.$font-bold-weight},

  headline-large: #{v.$font-bold-weight} min(1.375rem + 1.5vw, 2.5rem) / 1.2 'Nunito',
  headline-large-font: 'Nunito',
  headline-large-line-height: 1.2,
  headline-large-size: min(1.375rem + 1.5vw, 2.5rem),
  headline-large-tracking: 0rem,
  headline-large-weight: #{v.$font-bold-weight},

  headline-medium: #{v.$font-regular-weight} min(1.375rem + 1.5vw, 2.5rem) / 1.2 'Nunito',
  headline-medium-font: 'Nunito',
  headline-medium-line-height: 1.2,
  headline-medium-size: min(1.375rem + 1.5vw, 2.5rem),
  headline-medium-tracking: 0rem,
  headline-medium-weight: #{v.$font-regular-weight},

  headline-small: #{v.$font-regular-weight} min(1.3rem + 0.6vw, 1.75rem) / 1.2 'Nunito',
  headline-small-font: 'Nunito',
  headline-small-line-height: 1.2,
  headline-small-size: min(1.3rem + 0.6vw, 1.75rem),
  headline-small-tracking: 0rem,
  headline-small-weight: #{v.$font-regular-weight},

  title-large: #{v.$font-bold-weight} 1.375rem / 1.75rem 'Nunito',
  title-large-font: 'Nunito',
  title-large-line-height: 1.75rem,
  title-large-size: 1.375rem,
  title-large-tracking: 0rem,
  title-large-weight: #{v.$font-bold-weight},

  title-medium: #{v.$font-bold-weight} 1rem / 1.5rem 'Nunito',
  title-medium-font: 'Nunito',
  title-medium-line-height: 1.5rem,
  title-medium-size: 1rem,
  title-medium-tracking: 0.009rem,
  title-medium-weight: #{v.$font-bold-weight},

  title-small: #{v.$font-bold-weight} 0.875rem / 1.25rem 'Nunito',
  title-small-font: 'Nunito',
  title-small-line-height: 1.25rem,
  title-small-size: 0.875rem,
  title-small-tracking: 0.006rem,
  title-small-weight: #{v.$font-bold-weight},

  body-large: #{v.$font-regular-weight} 1rem / 1.5rem 'Nunito',
  body-large-font: 'Nunito',
  body-large-line-height: 1.5rem,
  body-large-size: 1rem,
  body-large-tracking: 0.031rem,
  body-large-weight: #{v.$font-regular-weight},

  body-medium: #{v.$font-regular-weight} 0.875rem / 1.25rem 'Nunito',
  body-medium-font: 'Nunito',
  body-medium-line-height: 1.25rem,
  body-medium-size: 0.875rem,
  body-medium-tracking: 0.016rem,
  body-medium-weight: #{v.$font-regular-weight},

  body-small: #{v.$font-regular-weight} 0.75rem / 1rem 'Nunito',
  body-small-font: 'Nunito',
  body-small-line-height: 1rem,
  body-small-size: 0.75rem,
  body-small-tracking: 0.025rem,
  body-small-weight: #{v.$font-regular-weight},

  label-large: #{v.$font-bold-weight} 0.875rem / 1.25rem 'Nunito',
  label-large-font: 'Nunito',
  label-large-line-height: 1.25rem,
  label-large-size: 0.875rem,
  label-large-tracking: 0.006rem,
  label-large-weight: #{v.$font-bold-weight},
  label-large-weight-prominent: 600,

  label-medium: #{v.$font-bold-weight} 0.75rem / 1rem 'Nunito',
  label-medium-font: 'Nunito',
  label-medium-line-height: 1rem,
  label-medium-size: 0.75rem,
  label-medium-tracking: 0.031rem,
  label-medium-weight: #{v.$font-bold-weight},
  label-medium-weight-prominent: 600,

  label-small: #{v.$font-bold-weight} 0.688rem / 1rem 'Nunito',
  label-small-font: 'Nunito',
  label-small-line-height: 1rem,
  label-small-size: 0.688rem,
  label-small-tracking: 0.031rem,
  label-small-weight: #{v.$font-bold-weight},
);

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1 {
  font: var(--mat-sys-display-large);
  letter-spacing: var(--mat-sys-display-large-tracking);
  margin: 0 0 0.5em;
}

.mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2 {
  font: var(--mat-sys-display-medium);
  letter-spacing: var(--mat-sys-display-medium-tracking);
  margin: 0 0 0.5em;
}

.mat-display-small,
.mat-typography .mat-display-small,
.mat-typography h3 {
  font: var(--mat-sys-display-small);
  letter-spacing: var(--mat-sys-display-small-tracking);
  margin: 0 0 0.5em;
}

.mat-headline-large,
.mat-typography .mat-headline-large,
.mat-typography h4 {
  font: var(--mat-sys-headline-large);
  letter-spacing: var(--mat-sys-headline-large-tracking);
  margin: 0 0 0.5em;
}

.mat-headline-medium,
.mat-typography .mat-headline-medium,
.mat-typography h5 {
  font: var(--mat-sys-headline-medium);
  letter-spacing: var(--mat-sys-headline-medium-tracking);
  margin: 0 0 0.5em;
}

.mat-headline-small,
.mat-typography .mat-headline-small,
.mat-typography h6 {
  font: var(--mat-sys-headline-small);
  letter-spacing: var(--mat-sys-headline-small-tracking);
  margin: 0 0 0.5em;
}

.mat-title-large,
.mat-typography .mat-title-large {
  font: var(--mat-sys-title-large);
  letter-spacing: var(--mat-sys-title-large-tracking);
}

.mat-title-medium,
.mat-typography .mat-title-medium {
  font: var(--mat-sys-title-medium);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}

.mat-title-small,
.mat-typography .mat-title-small {
  font: var(--mat-sys-title-small);
  letter-spacing: var(--mat-sys-title-small-tracking);
}

.mat-body-large,
.mat-typography .mat-body-large,
.mat-typography {
  font: var(--mat-sys-body-large);
  letter-spacing: var(--mat-sys-body-large-tracking);
}

.mat-body-large p,
.mat-typography .mat-body-large p,
.mat-typography p {
  margin: 0 0 0.75em;
}

.mat-body-medium,
.mat-typography .mat-body-medium {
  font: var(--mat-sys-body-medium);
  letter-spacing: var(--mat-sys-body-medium-tracking);
}

.mat-body-small,
.mat-typography .mat-body-small {
  font: var(--mat-sys-body-small);
  letter-spacing: var(--mat-sys-body-small-tracking);
}

.mat-label-large,
.mat-typography .mat-label-large {
  font: var(--mat-sys-label-large);
  letter-spacing: var(--mat-sys-label-large-tracking);
}

.mat-label-medium,
.mat-typography .mat-label-medium {
  font: var(--mat-sys-label-medium);
  letter-spacing: var(--mat-sys-label-medium-tracking);
}

.mat-label-small,
.mat-typography .mat-label-small {
  font: var(--mat-sys-label-small);
  letter-spacing: var(--mat-sys-label-small-tracking);
}
