@use '@angular/material' as mat;

:root {
  @include mat.dialog-overrides(
    (
      subhead-weight: 600,
      supporting-text-size: 1rem,
      supporting-text-line-height: 1.5rem,
    )
  );
}

mat-icon {
  // Useful when the parent tag has a `display: flex` property
  flex-shrink: 0;

  // When using mat-icon component with svg icon, be sure that svg element fits 100% on both width and height
  svg {
    display: block;
  }
}

.gbl-theme-dark {
  .cdk-overlay-dark-backdrop {
    // In dark theme, there isn't enough separation between the backdrop and dialog colors.
    background: rgba(0, 0, 0, 0.64); // Default value is `rgba(0, 0, 0, 0.32)`
  }
}
