// Material palettes available here: node_modules/@angular/material/core/theming/_palette.scss

@use '../variables.scss' as v;

$client-palette: (
  50: #f7cad6,
  100: #f1a7bb,
  200: #ec839f,
  300: #e66084,
  400: #e13d69,
  500: v.$primary-color,
  600: #b01c43,
  700: #8d1636,
  800: #6a1128,
  900: #470b1b,
  A100: #ec839f,
  A200: #e13d69,
  A400: #b01c43,
  A700: #6a1128,
  contrast: (
    50: v.$dark-primary-text,
    100: v.$dark-primary-text,
    200: v.$dark-primary-text,
    300: v.$dark-primary-text,
    400: v.$dark-primary-text,
    500: v.$light-primary-text,
    600: v.$light-primary-text,
    700: v.$light-primary-text,
    800: v.$light-primary-text,
    900: v.$light-primary-text,
    A100: v.$dark-primary-text,
    A200: v.$dark-primary-text,
    A400: v.$light-primary-text,
    A700: v.$light-primary-text,
  ),
);
