// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use './material-palette' as client-palette;
@use './material-typography' as client-typo;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(client-palette.$client-palette);
$client-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme(
  (
    color: (
      primary: $client-primary,
      accent: $client-accent,
      warn: $client-warn,
    ),
    typography: client-typo.$client-typography,
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
// For the list of components, see: `node_modules/@angular/material/core/theming/_all-theme.scss`

// Option 1)
// @include mat.all-component-themes($client-theme);

// Option 2)
@include mat.core-theme($client-theme);
//@include mat.card-theme($client-theme);
//@include mat.progress-bar-theme($client-theme);
@include mat.tooltip-theme($client-theme);
@include mat.form-field-theme($client-theme);
@include mat.input-theme($client-theme);
@include mat.select-theme($client-theme);
@include mat.autocomplete-theme($client-theme);
@include mat.dialog-theme($client-theme);
@include mat.chips-theme($client-theme);
@include mat.slide-toggle-theme($client-theme);
//@include mat.radio-theme($client-theme);
//@include mat.slider-theme($client-theme);
@include mat.menu-theme($client-theme);
//@include mat.list-theme($client-theme);
@include mat.paginator-theme($client-theme);
@include mat.tabs-theme($client-theme);
//@include mat.checkbox-theme($client-theme);
@include mat.button-theme($client-theme);
@include mat.icon-button-theme($client-theme);
@include mat.fab-theme($client-theme);
@include mat.snack-bar-theme($client-theme);
@include mat.table-theme($client-theme);
//@include mat.progress-spinner-theme($client-theme);
@include mat.badge-theme($client-theme);
//@include mat.bottom-sheet-theme($client-theme);
//@include mat.button-toggle-theme($client-theme);
//@include mat.datepicker-theme($client-theme);
//@include mat.divider-theme($client-theme);
//@include mat.expansion-theme($client-theme);
//@include mat.grid-list-theme($client-theme);
@include mat.icon-theme($client-theme);
//@include mat.sidenav-theme($client-theme);
//@include mat.stepper-theme($client-theme);
//@include mat.sort-theme($client-theme);
//@include mat.toolbar-theme($client-theme);
//@include mat.tree-theme($client-theme);

// Angular material customization for this App
@import './material-overrides';
