@use '@angular/material' as mat;

@include mat.core();

$client-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$red-palette,
      //tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: '"Nunito", sans-serif',
      regular-weight: 400,
      bold-weight: 600,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  // Option 1)
  // @include mat.all-component-themes($client-theme);

  // Option 2)
  @include mat.core-theme($client-theme);
  //@include mat.card-theme($client-theme);
  //@include mat.progress-bar-theme($client-theme);
  @include mat.tooltip-theme($client-theme);
  @include mat.form-field-theme($client-theme);
  @include mat.input-theme($client-theme);
  @include mat.select-theme($client-theme);
  @include mat.autocomplete-theme($client-theme);
  @include mat.dialog-theme($client-theme);
  @include mat.chips-theme($client-theme);
  @include mat.slide-toggle-theme($client-theme);
  //@include mat.radio-theme($client-theme);
  //@include mat.slider-theme($client-theme);
  @include mat.menu-theme($client-theme);
  //@include mat.list-theme($client-theme);
  @include mat.paginator-theme($client-theme);
  @include mat.tabs-theme($client-theme);
  //@include mat.checkbox-theme($client-theme);
  @include mat.button-theme($client-theme);
  @include mat.icon-button-theme($client-theme);
  @include mat.fab-theme($client-theme);
  @include mat.snack-bar-theme($client-theme);
  @include mat.table-theme($client-theme);
  @include mat.progress-spinner-theme($client-theme);
  @include mat.badge-theme($client-theme);
  //@include mat.bottom-sheet-theme($client-theme);
  //@include mat.button-toggle-theme($client-theme);
  //@include mat.datepicker-theme($client-theme);
  //@include mat.divider-theme($client-theme);
  //@include mat.expansion-theme($client-theme);
  //@include mat.grid-list-theme($client-theme);
  @include mat.icon-theme($client-theme);
  //@include mat.sidenav-theme($client-theme);
  //@include mat.stepper-theme($client-theme);
  //@include mat.sort-theme($client-theme);
  //@include mat.toolbar-theme($client-theme);
  //@include mat.tree-theme($client-theme);

  // Material 2 backwards compatibility
  @include mat.color-variants-backwards-compatibility($client-theme);
}

// Material 2 typography
@import './material-typography';

// Angular material customization for this App
@import './material-overrides';
