<mat-form-field appearance="fill" style="margin-top: 1rem; width: 100%">
  <input #input matInput placeholder="Rechercher un feedZback" (keyup)="applyFilter(input.value)" />
  <mat-icon matIconSuffix>search</mat-icon>
</mat-form-field>

<table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{ nf(element).email }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element">{{ nf(element).createdAt | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="mixed">
    <th mat-header-cell *matHeaderCellDef>
      <app-division a="Email" b="Date"></app-division>
    </th>
    <td mat-cell *matCellDef="let element" class="app-feedback-list__mobile">
      <strong>{{ nf(element).email }}</strong>
      <br />
      <small>{{ nf(element).createdAt | date: 'shortDate' }}</small>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="app-feedback-list-actions">
      <button
        mat-icon-button
        color="primary"
        matTooltip="Voir les détails du feedZback"
        matTooltipPosition="left"
        [routerLink]="['/feedbacks', type, nf(element).id]"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td
      *ngIf="input.value"
      class="mat-cell"
      [attr.colspan]="columns.length"
      style="padding: 1.5rem; text-align: center; font-style: italic; color: #777"
    >
      Pas de résultat pour "{{ input.value }}".
    </td>
  </tr>
</table>

<mat-paginator
  [style.display]="hasPaginator ? undefined : 'none'"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Sélectionner le nombre de feedZbacks par page"
></mat-paginator>

<router-outlet />
