.app-feedback-list {
  display: block;
  width: 100%;
  overflow: auto;

  &__pending {
    font-style: italic;
    color: var(--mat-sys-secondary);
  }

  &__mobile {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  &__actions {
    width: 1%;
    white-space: nowrap;
  }
}
