.app-sign-in {
  height: 100%;
  display: flex;

  &__inner {
    position: relative;
    margin: auto;
    padding: calc((3rem + 147px) / 2) 3rem 3rem 3rem;
    border: solid 2px #d52150;
    border-radius: 10px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  &__logo {
    position: absolute;
    height: 147px;
    top: calc(-147px / 2);
    width: 279px;
    left: calc(50% - 279px / 2);
    box-sizing: border-box;
    padding: 0 0.5rem;
    background-color: white;
  }

  &__title {
    margin: 0 0 2rem 0 !important;
  }

  &__action {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
    padding: 1.5em 4.5em;
    border-radius: 0.5rem;
    border: 1px solid #bbb;
    background-color: #f6f6f6;
    color: #333;
    font-size: 1rem;

    @media only screen and (max-width: 767.98px) {
      flex-direction: column;
    }
  }
}
