<h1 class="app-g-landing__title mat-headline-3">Demandez ou envoyez du feedback à vos collègues&nbsp;!</h1>

<div class="app-g-landing-links">
  <button
    class="app-g-landing-links__item mat-body-strong"
    type="button"
    [disabled]="disabled"
    (click)="signInWithGoogle()"
  >
    <mat-icon
      class="app-g-landing-links__icon"
      style="border-radius: 50%; background-color: white"
      svgIcon="app-icon-google"
    ></mat-icon>

    Connectez-vous avec Google
  </button>
</div>

<img src="assets/images/logo-zenika.svg" height="48" alt="Logo Zenika" />
