.app-emails-field-autocomplete {
  display: block;

  &__autocomplete-menu {
    width: 400px;
    max-width: 400px;
  }

  &__menu-item {
    display: flex;
    margin-block: 0.5rem;
  }

  &__person-detail {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__email {
    font-weight: 200;
    font-size: smaller;
  }

  &__field {
    width: inherit;
  }

  &__error {
    // Note: this color comes from Material palette `$red-palette`
    // See more: node_modules/@angular/material/core/theming/_palette.scss
    color: #f44336;
  }
}
