@use '../app' as app;

$show-analytics: false;

.app-home {
  display: flex;
  height: 100%;
  gap: 1.25rem;

  &__content {
    flex-basis: 50%;
  }

  &__picture {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  @include app.media-breakpoint-down(md) {
    flex-direction: column;

    &__picture {
      align-items: center;

      img {
        width: 60%;
      }
    }
  }

  @include app.media-breakpoint-down(md) {
    @if $show-analytics {
      // Prevent the usage analytics link to cover the main content (when viewport height is small)
      padding-bottom: 2.5rem;
    }
  }

  @include app.media-breakpoint-up(sm) {
    &__link {
      flex-basis: 150px; // Make both links the same width
    }
  }

  &__guide {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    text-wrap: balance;

    @include app.media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__analytics {
    @if $show-analytics == false {
      display: none !important;
    }

    position: absolute !important;
    right: 1.25rem;
    bottom: 1rem;
  }
}
