.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-container {
  display: flex;
  flex-direction: row;
}
.padTop {
  padding-top: 30px;
}
.row-logo-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-title {
  font-weight: 700;
  font-size: 16px;
  color: #D52150;
  padding-top: 50px;
  padding-left: 10px;
}

.home-description {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #4E4B4B;
  margin-bottom: 40px;
  width: 50%;
}

.btn-primary {
  border-radius: 10px;
}

.btn-send-margin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 53px;
}
.btn-ask-margin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 53px;
}

.btn-pad {
  padding: 40px;
  padding-right: 120px;
  padding-left: 120px;
}

.btn-text {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 10px;
  padding-top: 5px
  
}


.btn-icon {
  padding-left: 10px; 
  color: #FFFFFF;
}

.home-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
    0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  justify-content: center;
  text-align: center;
  width: 53%;
}

.home-guide-image{
  width: 60%;
}

.home-guide-text {
  font-weight: 700;
  font-size: 14px;
  color: #4E4B4B;
}

@media screen and (max-width:1200px) {
  .btn-pad {
    padding: 35px;
    align-items: center;
  }
  .btn-send-margin {
    margin-right: 15px;
  }
  .btn-ask-margin {
    margin-left: 15px;
  }
  
}

@media screen and (max-width:900px) {
  .btn-pad {
    padding: 20px;
    align-items: center;
  }
  .btn-send-margin {
    margin-right: 15px;
  }
  .btn-ask-margin {
    margin-left: 15px;
  }
  
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-content: center;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
  }
  .row-logo-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .home-description {
    margin-bottom: 30px;
    width: 100%;
  }

  .home-card {
    width: 100%;
  }
  .btn-pad {
    padding: 30px;
    align-items: center;
  }

  .btn-icon {
    padding-bottom: 10px; 
    color: #FFFFFF;
  }
  .btn-send-margin {
    margin-right: 10px;
  }
  .btn-ask-margin {
    margin-left: 10px;
  }
}
