<h2 class="title">Demandez ou envoyez du feedback à vos collègues&nbsp;!</h2>

<div class="actions">
  <button class="btn btn-primary" routerLink="/ask">
    <img class="btn-icon" src="/assets/home-ask-icon.svg" height="28" />
    DEMANDER
  </button>

  <button class="btn btn-primary" routerLink="/send">
    <img class="btn-icon" src="/assets/home-send-icon.svg" height="28" />
    ENVOYER
  </button>
</div>

<p class="guide-desc">Pourquoi et comment faire un feedZback bienveillant (positif ou négatif)&nbsp;?</p>

<img class="guide-image" src="/assets/feedback-guide.png" alt="" />
