<div class="gbl-landing app-home__landing">
  <div class="gbl-landing__content">
    <h1 class="gbl-landing__title" i18n="@@Title.AppTitle">Demandez et donnez du feedback à vos collègues</h1>

    <p class="gbl-landing__subtitle" i18n="@@Title.AppTagline">
      Échanger avec bienveillance pour valoriser, progresser et grandir ensemble.
    </p>

    <div class="gbl-landing__links">
      <a routerLink="/request" mat-flat-button class="app-home__link">
        <mat-icon>contact_support</mat-icon>
        <ng-container i18n="@@Feedback.Request"> Demander </ng-container>
      </a>

      <a routerLink="/give" mat-flat-button class="app-home__link">
        <mat-icon>chat</mat-icon>
        <ng-container i18n="@@Feedback.Give"> Donner </ng-container>
      </a>
    </div>

    <a routerLink="/guide" class="gbl-link gbl-link--no-underline app-home__guide">
      <mat-icon appIcon animation="bounce">map</mat-icon>
      <span>
        <ng-container i18n="@@Component.Home.LinkToGuide">Comment écrire un </ng-container>
        <app-logo-brand-text lowercase /> ?
      </span>
    </a>
  </div>

  <div class="gbl-landing__picture">
    <img src="assets/images/landing-good-team-pana.png" alt="" role="presentation" />
  </div>
</div>

<a [href]="analyticsUsageUrl" target="_blank" mat-raised-button class="app-home__analytics">
  <ng-container i18n="@@Component.Home.UsageAnalytics">Statistiques d'usage</ng-container>
  <mat-icon iconPositionEnd>bar_chart</mat-icon>
</a>
