@use '../app' as app;

$show-analytics: false;

.app-home {
  @include app.media-breakpoint-down(md) {
    @if $show-analytics {
      // Prevent the usage analytics link to cover the guide link (when viewport height is small)
      padding-bottom: 2.5rem;
    }
  }

  &__guide {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--mat-sys-level1);
    border: 1px solid var(--mat-sys-tertiary-container);
    background-color: var(--mat-sys-on-tertiary);
    text-wrap: balance;

    @include app.media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__analytics {
    @if $show-analytics == false {
      display: none !important;
    }

    position: absolute !important;
    right: 1.25rem;
    bottom: 1rem;
  }
}
