:host {
  display: block;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  color: #D52150;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

@media only screen and (max-width: 767.98px) {
  .actions .btn {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 519.98px) {
  .actions {
    flex-direction: column;
  }
}

.guide-desc {
  font-size: 1.2rem;
}

.guide-image {
  width: 90%;
  max-width: 420px;
}
