@if (feedback$ | async; as feedback) {
  @if ((type === feedbackType.sent || type === feedbackType.received) && feedback.status === 'given') {
    <app-given-feedback [type]="type" [feedback]="feedback" />
  } @else if (
    (type === feedbackType.sentRequest || type === feedbackType.receivedRequest) && feedback.status === 'requested'
  ) {
    <app-requested-feedback [type]="type" [feedback]="feedback" />
  } @else {
    <app-message type="danger">
      <strong>Oops&nbsp;!</strong><br />
      Ce feedZback est introuvable.
    </app-message>
  }
}
