@import '../node_modules/@fontsource/nunito/400.css';
@import '../node_modules/@fontsource/nunito/600.css';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
}

@import "./styles/form";
