@import './styles/fonts';
@import './styles/material';
@import './styles/landing';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;

  &::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgb(255 255 255 / 0.5), transparent 60%, rgb(213 33 80 / 0.2)),
      linear-gradient(-25deg, #ebf3f5, #ebf3f5 49%, rgb(235 243 245 / 0.65) 50%, #fee9e3 50%, #fee9e3);
  }
}

// Note: global styles starts with `.app-g-*`.

h1.app-g-page-title {
  display: flex;
  align-items: center;
  gap: calc(1rem + 1vw);
  color: #d52150;

  mat-icon {
    transform-origin: left;
    transform: scale(1.5);

    @media only screen and (min-width: 1200px) {
      transform: scale(2);
    }
  }
}

.app-g-link {
  &,
  &:link,
  &:visited {
    transition: color ease 0.3s;
    color: #d52150;
  }

  &:hover,
  &:active {
    color: rgb(213 33 80 / 0.8);
  }

  &--no-underline {
    text-decoration: none !important;
  }
}
