@import '../node_modules/@fontsource/nunito/400.css';
@import '../node_modules/@fontsource/nunito/600.css';

@import './styles/material';
// @import './styles/form';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
