@use '../../app.scss' as app;

.app-sentiment {
  display: flex;
  align-items: center;
  gap: 0rem;

  &--scale-2 {
    padding: 1rem;
    gap: 2rem;
  }
  &--scale-2 &__note {
    transform: scale(2);
  }

  &--scale-3 {
    padding: 2rem;
    gap: 4rem;
  }
  &--scale-3 &__note {
    transform: scale(3);
  }

  &__note {
    cursor: pointer;
    opacity: 0.5;
    transition:
      opacity 250ms ease,
      color 250ms ease;

    &:hover {
      opacity: 1;
    }

    &--selected {
      opacity: 1;
      color: app.$primary-color;
    }

    &--disabled {
      cursor: default;
      opacity: 0.5 !important;
    }

    //@include app.media-breakpoint-down(sm) {
    //  transform: scale(1.5) !important;
    //}
  }

  //@include app.media-breakpoint-down(sm) {
  //  gap: 1rem !important;
  //  padding: 0.5rem !important;
  //}
}
