@if (state.receiverEmail) {
  <mat-icon class="gbl-info__icon" color="primary">task_alt</mat-icon>

  <div>
    <h1 class="gbl-info__title" i18n="@@Component.GiveFeedbackSuccess.Title">FeedZback envoyé à :</h1>
    <p>{{ state.receiverEmail }}</p>
  </div>

  @if (hasReviewFeature && authenticated()) {
    <app-review />
  }

  <div class="gbl-info__buttons">
    @if (state.feedbackId) {
      <button mat-stroked-button color="primary" [routerLink]="['/history/id', state.feedbackId]">
        <mat-icon>visibility</mat-icon>
        <ng-container i18n="@@Action.ViewFeedback">Consulter le feedZback</ng-container>
      </button>

      <button mat-stroked-button color="primary" routerLink="../">
        <mat-icon>chat</mat-icon>
        <ng-container i18n="@@Component.GiveFeedbackSuccess.GiveAnother">Donner un autre feedZback</ng-container>
      </button>
    } @else {
      <button mat-stroked-button color="primary" (click)="signOut()">
        <ng-container i18n="@@Action.CloseSession">Fermer la session</ng-container>
        <mat-icon iconPositionEnd>logout</mat-icon>
      </button>
    }
  </div>
}
