<h1 class="gbl-page-title">
  <mat-icon>contact_support</mat-icon>
  <ng-container i18n="@@Title.RequestFeedback">Demander du feedZback</ng-container>
</h1>

<mat-tab-group animationDuration="0ms" [selectedIndex]="tabIndex()" (selectedTabChange)="updateMethod($event.index)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-2">send</mat-icon>
      <ng-container i18n="@@Action.Send">Envoyer</ng-container>
    </ng-template>

    <app-request-feedback class="block py-4" />
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-2">add_link</mat-icon>
      <ng-container i18n="@@Action.Generate">Générer</ng-container>
    </ng-template>

    <app-pre-request-feedback-token class="block py-4" />
  </mat-tab>
</mat-tab-group>
