<button class="gbl-link gbl-link--back" routerLink="/"><mat-icon>arrow_back</mat-icon> accueil</button>

<ng-container *ngIf="state.receiverEmail">
  <mat-icon class="gbl-info__icon" color="primary">task_alt</mat-icon>

  <div>
    <h1 class="gbl-info__title">Votre feedZback a bien été envoyé à&nbsp;:</h1>
    <p>{{ state.receiverEmail }}</p>
  </div>

  <div class="gbl-info__buttons">
    <ng-container *ngIf="state.feedbackId">
      <button mat-stroked-button color="primary" [routerLink]="['/feedback', state.feedbackId, 'sent']">
        <mat-icon>visibility</mat-icon>
        Consulter mon feedZback
      </button>

      <button mat-stroked-button color="primary" routerLink="../">
        <mat-icon>send</mat-icon>
        Envoyer un autre feedZback
      </button>
    </ng-container>

    <button *ngIf="!state.feedbackId" mat-stroked-button color="primary" (click)="signOut()">
      Vous pouvez vous déconnecter
      <mat-icon iconPositionEnd>logout</mat-icon>
    </button>
  </div>
</ng-container>
