@use '../../app' as app;

.app-notification {
  margin: 0.5rem; // Increase spacing around notification to make it more visible.
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    margin-right: 0.75rem;
  }

  &__close {
    cursor: pointer;
    padding-left: 0.75rem;
    line-height: 0;
    transition: opacity 250ms ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.app-notification-snackbar {
  --mat-snackbar-supporting-text-font: var(--mat-sys-title-medium-font);
  --mat-snackbar-supporting-text-size: var(--mat-sys-title-medium-size);
  --mat-snackbar-supporting-text-line-height: var(--mat-sys-title-medium-line-height);
  --mat-snackbar-supporting-text-weight: var(--mat-sys-title-medium-weight);

  &--info {
    --mat-snackbar-container-color: var(--app-notification-info-background-color);
    --mat-snackbar-supporting-text-color: var(--app-notification-info-color);
  }

  &--success {
    --mat-snackbar-container-color: var(--app-notification-success-background-color);
    --mat-snackbar-supporting-text-color: var(--app-notification-success-color);
  }

  &--danger {
    --mat-snackbar-container-color: var(--app-notification-danger-background-color);
    --mat-snackbar-supporting-text-color: var(--app-notification-danger-color);
  }
}

// Hack:
// Fine adjustment to position snackbar just below header.
// Note that any change in header height must be reported here.
.cdk-overlay-pane:has(.app-notification-snackbar) {
  margin-top: 65px !important; // on mobile

  @include app.media-breakpoint-up(md) {
    margin-top: 73px !important; // on desktop
  }
}

:root {
  --app-notification-info-background-color: rgb(207, 226, 255);
  --app-notification-info-color: rgb(5, 44, 101);

  --app-notification-success-background-color: rgb(209, 231, 221);
  --app-notification-success-color: rgb(10, 54, 34);

  --app-notification-danger-background-color: rgb(248, 215, 218);
  --app-notification-danger-color: rgb(88, 21, 28);
}

.gbl-theme-dark {
  --app-notification-info-background-color: rgb(5, 44, 101);
  --app-notification-info-color: rgb(207, 226, 255);

  --app-notification-success-background-color: rgb(10, 54, 34);
  --app-notification-success-color: rgb(209, 231, 221);

  --app-notification-danger-background-color: rgb(88, 21, 28);
  --app-notification-danger-color: rgb(248, 215, 218);
}
