.app-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.125rem;

    &--info {
      color: var(--app-notification-info);
    }

    &--success {
      color: var(--app-notification-success);
    }

    &--danger {
      color: var(--app-notification-danger);
    }
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__close {
    cursor: pointer;
    padding-left: 0.5rem;
    transition: opacity 250ms ease;

    &:hover {
      opacity: 0.8;
    }

    mat-icon {
      vertical-align: text-bottom;
    }
  }
}

:root {
  --app-notification-info: rgb(158, 197, 254);
  --app-notification-success: rgb(163, 207, 187);
  --app-notification-danger: rgb(241, 174, 181);
}

.gbl-theme-dark {
  --app-notification-info: rgb(13, 110, 253);
  --app-notification-success: rgb(25, 135, 84);
  --app-notification-danger: rgb(220, 53, 69);
}
