<mat-icon class="gbl-info__icon">task_alt</mat-icon>

@if (state) {
  @switch (state.method) {
    @case ('send') {
      <div>
        <h1 class="gbl-info__title" i18n="@@Component.RequestFeedbackSuccess.SendTitle">FeedZback demandé à :</h1>

        <ul class="gbl-list inline-block">
          @for (email of state.recipients; track email) {
            <li class="gbl-list__item">{{ email }}</li>
          }
        </ul>
      </div>

      <div class="gbl-info__buttons">
        <button mat-stroked-button routerLink="/history/type/sentRequest">
          <mat-icon>visibility</mat-icon>
          <ng-container i18n="@@Component.RequestFeedbackSuccess.ViewRequests">
            Consulter la liste des demandes
          </ng-container>
        </button>

        <button mat-stroked-button routerLink="../">
          <mat-icon>contact_support</mat-icon>
          <ng-container i18n="@@Component.RequestFeedbackSuccess.RequestAnother"
            >Demander un autre feedZback</ng-container
          >
        </button>
      </div>
    }
    @case ('generate') {
      <div>
        <h1 class="gbl-info__title" i18n="@@Component.RequestFeedbackSuccess.GenerateTitle">
          Lien de demande de FeedZback à partager avec vos collègues :
        </h1>

        <button
          mat-button
          (click)="toClipboard(state.linkToShare)"
          i18n-matTooltip="@@Action.CopyToClipboard"
          matTooltip="Copier dans le presse-papier"
        >
          <div class="max-w-[75vw] overflow-hidden text-ellipsis whitespace-nowrap">
            {{ state.linkToShare }}
          </div>
          <mat-icon iconPositionEnd>content_copy</mat-icon>
        </button>
      </div>
    }
  }
}
