@if (state.recipients) {
  <mat-icon class="gbl-info__icon" color="primary">task_alt</mat-icon>

  <div>
    <h1 class="gbl-info__title mat-h1">FeedZback demandé à&nbsp;:</h1>

    <ul class="app-request-feedback-success__list">
      @for (email of state.recipients; track email) {
        <li>{{ email }}</li>
      }
    </ul>
  </div>

  <div class="gbl-info__buttons">
    <button mat-stroked-button color="primary" routerLink="/feedbacks/sentRequest">
      <mat-icon>visibility</mat-icon>
      Consulter la demande
    </button>

    <button mat-stroked-button color="primary" routerLink="../">
      <mat-icon>live_help</mat-icon>
      Faire une autre demande de feedZback
    </button>
  </div>
}
