@if (state.recipients) {
  <mat-icon class="gbl-info__icon" color="primary">task_alt</mat-icon>

  <div>
    <h1 class="gbl-info__title" i18n="@@Component.RequestFeedbackSuccess.Title">FeedZback demandé à :</h1>

    <ul class="gbl-list inline-block">
      @for (email of state.recipients; track email) {
        <li class="gbl-list__item">{{ email }}</li>
      }
    </ul>
  </div>

  <div class="gbl-info__buttons">
    <button mat-stroked-button color="primary" routerLink="/feedbacks/sentRequest">
      <mat-icon>visibility</mat-icon>
      <ng-container i18n="@@Action.ViewFeedbackRequest">Consulter la demande</ng-container>
    </button>

    <button mat-stroked-button color="primary" routerLink="../">
      <mat-icon>contact_support</mat-icon>
      <ng-container i18n="@@Component.RequestFeedbackSuccess.RequestAnother">Demander un autre feedZback</ng-container>
    </button>
  </div>
}
