<h1 class="gbl-page-title mat-h1">
  <mat-icon>forum</mat-icon>
  FeedZback
  @switch (type) {
    @case (feedbackType.given) {
      donné
    }
    @case (feedbackType.received) {
      reçu
    }
    @case (feedbackType.sentRequest) {
      demandé
    }
    @case (feedbackType.receivedRequest) {
      à donner
    }
  }
</h1>

<div class="app-requested-feedback__addons">
  <div><mat-icon>calendar_today</mat-icon>{{ feedback.createdAt | date }}</div>

  <div><mat-icon>email</mat-icon>{{ geColleagueEmail(feedback) }}</div>
</div>

@if (feedback.message) {
  <div class="app-requested-feedback-item">
    <h2 class="app-requested-feedback-item__title"><mat-icon>notes</mat-icon> Message</h2>
    <p>{{ feedback.message }}</p>
  </div>
}

@if (feedback.shared) {
  <div class="app-requested-feedback__addons">
    <div>
      <mat-icon>share</mat-icon>
      @if (type === feedbackType.sentRequest) {
        Ce feedZback sera partagé avec votre manager
      } @else {
        Ce feedZback sera partagé avec le manager de votre collègue
      }
    </div>
  </div>
}

<!-- TODO: Feature NOT implemented
@if (type === feedbackType.sentRequest) {
  <button mat-raised-button color="primary">Relancer</button>
}
-->

@if (type === feedbackType.receivedRequest) {
  <button mat-raised-button color="primary" (click)="giveNow()">Donner</button>
}
