@if (linkToShare) {
  <mat-icon class="gbl-info__icon">task_alt</mat-icon>

  <div>
    <h1 class="gbl-info__title" i18n="@@Title.PreRequestSuccess">Lien à partager avec vos collègues :</h1>

    <code i18n="@@Component.PreRequestSuccess.Instructions">{{ linkToShare }}</code>
  </div>

  <div class="gbl-info__buttons">
    <button mat-flat-button (click)="toClipboard()">
      <mat-icon>content_copy</mat-icon>
      <ng-container i18n="@@Action.CopyToClipboard">Copier dans le presse-papier</ng-container>
    </button>

    <a mat-stroked-button routerLink="/">
      <mat-icon>home</mat-icon>
      <ng-container i18n="@@Action.BackToHome">Retour à l'accueil</ng-container>
    </a>
  </div>
}
