<div class="mat-headline-1">Headline-1. Lorem ipsum</div>
<div class="mat-headline-2">Headline-2. Lorem ipsum</div>
<div class="mat-headline-3">Headline-3. Lorem ipsum</div>
<div class="mat-headline-4">Headline-4. Lorem ipsum</div>

<hr />

<div class="mat-h1">H1. Lorem ipsum</div>
<div class="mat-h2">H2. Lorem ipsum</div>
<div class="mat-h3">H3. Lorem ipsum</div>
<div class="mat-h4">H4. Lorem ipsum</div>
<p>P. Lorem ipsum</p>

<hr />

<div class="mat-body">Body. Lorem ipsum</div>
<div class="mat-body-strong">Body-strong. Lorem ipsum</div>
<div class="mat-small">Small. Lorem ipsum</div>
