.header {
    display: flex;
    flex-direction: row; 
    max-width: 800px;
    min-width: 800px;
    justify-content: center;
    margin-top: 15px;
}

.tabs {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

img {
    height: 23px;
    width: 26px;
    background-color: #D52150;
    margin-right: 5px;
    padding: 2px;
    margin-top: 39px;
    border: 2px #D52150;
    border-radius: 2px;
}
h1 {
    color: #D43B6D;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: -3px;
    border-end-end-radius: 1px;
    margin-top: 35px;
    padding-bottom: 6px;
}
.active {
    color: #D52150;
    border:2px solid  #D52150;
    background-color: #FFFF;
    font-weight: 900;
    line-height: 19px;
    font-size: 14px;
    border-bottom:0;
    height:40px;
    margin:30px;
    margin-left: 20px;
    margin-right: 10px;
    padding-inline: 30px;
    position:relative;
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
.active:after,
.active:before{
    content:'';
    width:40px;
    height:30px;
    border:2px solid #D52150;
    position:absolute;
    bottom:-9.6pt;
    border-top:0;
    z-index: -1;
}
.active::before {
    border-right:0;
    -moz-border-radius:0 0 0 8px;
    -webkit-border-radius:0 0 0 8px;
    border-radius: 0 0 0 8px;
    left: 100%;
    width: 20px;
}
.active::after {
    border-left:0;
    -moz-border-radius:0 0 8px 0;
    -webkit-border-radius:0 0 8px 0;
    border-radius: 0 0 8px 0;
    padding-inline-start: 355px;
    left:-397px;
}

.inactive {
    background-color: #D52150;
    border: 0;
    font-size: 14px;
    height: 53px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0 ;
    color: #FFFF;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    margin-right: 0;
    padding-bottom: 10px;
}
.active-envoyes.active::before {
   width: 196px;
}
.active-envoyes.active {
    margin-left: 80px;
    margin-right: 20px;
}
.active-recus.active {
    margin-left: 10px;
}
.active-recus.active::after {
    padding-inline-start: 565px;
    left:-607px;
}
.inactive-envoyes.inactive {
    margin-left: 77px;
    margin-right: 10px;
}
 
button {
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 22px;
    }
    .header {
        max-width: 600px;
        min-width: 600px;
        justify-content:flex-start ;
    }   
    .tabs {
        margin-left: 15px;
    }
    .active::after {
        padding-inline-start: 200px;
        left:-242px;
    }
    .active-envoyes.active {
        margin-left: 10px;
        margin-right: 10px;
    }
    .inactive-envoyes.inactive {
        margin-left: 5px;
        margin-right: 5px;
        }
    .active-recus.active::after {
        padding-inline-start: 375px;
        left:-417px;
    }
}
@media screen and (max-width: 650px) {
    .header{
        max-width: 565px;
        min-width: 500px;
        justify-content: center;
    }
    .tabs {
        margin-left: 1px;
    }
    .active,
    .inactive {
        padding-inline: 10px;
    }
    h1 {
        font-size: 16px;
        margin-top: 40px;
    }
    img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    .active::after {
        padding-inline-start: 121px;
        left: -163px;
    }
    .active-envoyes.active::before {
        width: 146px;
     }
    .active-recus.active::after {
        padding-inline-start: 276px;
        left: -318px;
    }
    .active-recus.active {
        padding-inline: 16px;
    }
}
@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        justify-content:flex-start ;
        max-width: 600px;
        min-width: 600px;
    }
    .tabs {
        margin-left: 0;
    }
    .active {
        padding-inline: 20px;
    }
    .inactive {
        padding-inline: 25px;
    }
    .active::after {
        padding-inline-start: 50px;
        left:-92px;
    }
    .active-envoyes.active {
        margin-left: 10px;
        margin-right: 10px;
    }
    .active-envoyes.active::before {
        width: 186px;
        left: 166.5px;
    }
    .inactive-envoyes.inactive {
        margin-left: 5px;
        margin-right: 5px;
        padding-inline: 20px;
        }
    .active-recus.active {
        padding-inline: 30px;
    }
    
    .active-recus.active::before {
        left: 168.4px;
    }
}