div {

    display: flex;
}

.feedbacks-envoyes {
    color: #D52150;
    border:3px solid  #D52150;
    border-bottom:0;
    width:80px;
    height:40px;
    margin:30px;
    margin-right: 10px;
    position:relative;
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 90px;
}
.feedbacks-envoyes:after,
.feedbacks-envoyes:before{
    content:'';
    width:40px;
    height:30px;
    border:3px solid #D52150;
    position:absolute;
    bottom:-7.5pt;
    left: 160px;
    border-top:0;
}
.feedbacks-envoyes::before {
    border-right:0;
    -moz-border-radius:0 0 0 8px;
    -webkit-border-radius:0 0 0 8px;
    border-radius: 0 0 0 8px;
    width: 220px;
    left: 125px;
}
.feedbacks-envoyes::after {
    border-left:0;
    -moz-border-radius:0 0 8px 0;
    -webkit-border-radius:0 0 8px 0;
    border-radius: 0 0 8px 0;
    left:-43px;
}
