.header {
    display: flex;
    flex-direction: row; 
    max-width: 800px;
    min-width: 800px;
    justify-content: center;
    margin-top: 30px;
}

.header-title {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #D52150;
    padding-right: 80px;
    align-items: center;
    margin-bottom: 5px;
}

.header-title img {
    height: 24px;
    width: 24px;
    background-color: #D52150;
    border-radius: 2px;
    margin: 0 10px;
}

.header-title h1 {
    color: #D43B6D;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    border: 2px solid #D52150;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 5px 20px;
    padding: 0px 20px;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

/* .button:not(:last-child)::after { */
.button::after {
    content:'';
    width: 41px;
    border-bottom: 2px solid #D52150;
    position: absolute;
    bottom: 0;
    right: -42px;
}

.active {
    color: #D52150;
    background-color: #FFFF;
    font-weight: 900;
}

.inactive {
    background-color: #D52150;
    color: #FFFF;
}

@media screen and (max-width: 690px) {
    .header-title h1 {
        font-size: 18px;
    }
    .button {
        font-size: 14px;
        margin: 5px 10px;
        padding: 5px 10px;
    }
    .header {
        max-width: 600px;
        min-width: 400px;
    }
    .header-title {
        padding-right: 20px;
    } 
}
@media screen and (max-width: 512px) {
    .header {
        flex-direction: column;
    }
    .header-title {
        padding-right: 0;
        border: 0;
    } 
    .button {
        font-size: 14px;
        margin: 0px 20px;
        padding: 17px 20px;
    }

    .button:first-child::before {
        content:'';
        width: 41px;
        border-bottom: 2px solid #D52150;
        position: absolute;
        bottom: 0;
        right: 100%;
    }
    .tabs {
        justify-content: center;
    }
}
@media screen and (max-width: 430px) {
    .header {
        max-width: 400px;
        min-width: 300px;
    }
    .button:first-child::before {
        right: 101%;
    }
}
@media screen and (max-width: 380px) {
 .button {
    font-size: 14px;
    margin: 0 5px;

 }
}
