.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.container {
    width: 800px;
}

h1 {
    color: #D52150;
    font-weight: bold;
}

a {
    color: #D52150;
}

small {
    color: #D52150;
    font-weight: lighter;
}

app-tabs {
    margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }
}