.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}
.justify-content-center {
    justify-content: center;
}

.container {
    max-width: 800px;
    min-width: 800px;
}
app-tabs {
    margin-top: 1.5rem;
}
@media screen and (max-width: 800px) {
    .container {
        max-width: 600px;
        min-width: 600px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 100%;
        min-width: 100%;
    }
}
