<div class="container flex">
    <div class="flex-row">
        <h1>Vos feedbacks</h1>

        <!-- <h4 class="feedbacks-envoyes">FEEDBACKS<br> &nbsp;&nbsp;ENVOYES</h4>
        <h4 class="feedbacks-recus">FEEDBACKS<br> &nbsp;&nbsp;&nbsp;&nbsp;RECUS</h4> -->
        <app-tabs class="tabs">
            <app-tab-link tabTitle="Feedbacks envoyés">
                <app-feedback-list [feedbacks]="sentFeedbacks" [type]="feedbackType.Sent"></app-feedback-list>
            </app-tab-link>
            <app-tab-link  tabTitle="Feedzbacks reçus">
                <app-feedback-list [feedbacks]="receivedFeedbacks" [type]="feedbackType.Received"></app-feedback-list>
            </app-tab-link>
          
        </app-tabs>
    </div>
</div>