.app-stats {
  &__slider {
    --mat-slider-label-label-text-size: 0.625rem; // 10px
    --mat-slider-label-label-text-line-height: 1.2em; // 12px

    display: block !important;
    width: max(50%, 220px) !important;
    margin: 0 auto !important;
  }
}
