<app-message type="light" icon="troubleshoot">
  @if (isFrenchLocale) {
    This page is intended for internal use and available in English only.
  } @else {
    This page is intended for internal use only.
  }
</app-message>

<h1 class="gbl-page-title mat-headline-large"><mat-icon>monitoring</mat-icon> Stats</h1>

@if (status() === 'fetched') {
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Summary">
      <app-stats-summary [summary]="summary()" [period]="summaryPeriod()" />
    </mat-tab>

    <mat-tab label="Details">
      @defer (on viewport) {
        @let detailsEnd = detailsEndFactory();
        <app-stats-details
          [length]="detailsLength()"
          [(start)]="detailsStart"
          [(end)]="detailsEnd"
          [details]="details()"
          [period]="detailsPeriod()"
        />
      } @placeholder {
        <div></div>
      }
    </mat-tab>
  </mat-tab-group>
}

@if (status() === 'noDataYet' || status() === 'fetching') {
  <app-message type="danger" [icon]="sentimentIcons[sentimentIconsIndex()]" nonclosable>
    Sorry, the server seems to be processing the data.<br />
    Please wait a few seconds and
    <button class="gbl-button-less gbl-link" [disabled]="status() === 'fetching'" (click)="fetch()">try again</button>.
  </app-message>
}
