@if (dataNotYetAvailable()) {
  <app-message type="danger" nonclosable>
    Data are not yet available. Please
    <button class="gbl-button-less gbl-link" (click)="reloadPage()">reload the page</button> in a few seconds.
  </app-message>
}

<app-message type="light" icon="troubleshoot">
  This page is intended for internal use only and therefore is only available in English.
</app-message>

<h1 class="gbl-page-title mat-headline-large">
  <mat-icon>monitoring</mat-icon>
  Stats
</h1>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Summary">
    <p class="!mt-6">
      <mat-slide-toggle [checked]="showLegend()" (toggleChange)="toggleLegend()">Show legend</mat-slide-toggle>
    </p>

    @let summary = stats().summary;

    <h2 class="mat-title-large !mt-6">Users</h2>
    <ul class="gbl-list">
      <li class="gbl-list__item">
        <strong>{{ summary.uniqueUsers }}</strong> unique users
        @if (showLegend()) {
          <div class="app-stats__legend">
            Number of unique users who have given, received or requested at least 1 feedback.
          </div>
        }
      </li>

      <li class="gbl-list__item">
        <strong>{{ summary.uniqueGiversOrReceivers }}</strong> unique givers or receivers
        @if (showLegend()) {
          <div class="app-stats__legend">
            Number of unique users who have given or received at least 1 feedback (spontaneous or requested).
          </div>
        }
      </li>

      <li class="gbl-list__item">
        <strong>{{ summary.uniqueGivers }}</strong> unique givers
        @if (showLegend()) {
          <div class="app-stats__legend">
            Number of unique users who have given at least 1 feedback (spontaneous or requested).
          </div>
        }
      </li>

      <li class="gbl-list__item">
        <strong>{{ summary.uniqueReceivers }}</strong> unique receivers
        @if (showLegend()) {
          <div class="app-stats__legend">
            Number of unique users who have received at least 1 feedback (spontaneous or requested).
          </div>
        }
      </li>

      <li class="gbl-list__item">
        <strong>{{ summary.uniqueRequesters }}</strong> unique requesters
        @if (showLegend()) {
          <div class="app-stats__legend">Number of unique users who have at least 1 pending feedback request.</div>
        }
      </li>
    </ul>

    <h2 class="mat-title-large">FeedZbacks</h2>
    <ul class="gbl-list">
      <li class="gbl-list__item">
        <strong>{{ summary.spontaneousFeedback }}</strong> spontaneous feedZbacks
        @if (showLegend()) {
          <div class="app-stats__legend">Number of spontaneous feedZbacks over the period.</div>
        }
      </li>

      <li class="gbl-list__item">
        <strong>{{ summary.requestedFeedbackDone }}</strong> replies to feedback requests
        @if (showLegend()) {
          <div class="app-stats__legend">Number of feedZback requests replied over the period.</div>
        }
      </li>

      <li class="gbl-list__item">
        <strong>{{ summary.requestedFeedbackPending }}</strong> pending feedback requests
        @if (showLegend()) {
          <div class="app-stats__legend">Number of requested feedZback awaiting reply over the period.</div>
        }
      </li>
    </ul>

    <h2 class="mat-title-large">Period</h2>
    <ul class="gbl-list">
      <li class="gbl-list__item">
        @let p = period();
        Between <strong>{{ p.start || '...' }}</strong> and <strong>{{ p.end || '...' }}</strong>
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Details">
    @defer (on viewport) {
      <mat-slider [min]="0" [max]="stats().details.length" step="1" class="app-stats__slider" showTickMarks>
        @let end = endFactory();
        <input matSliderStartThumb [(value)]="start" />
        <input matSliderEndThumb [(value)]="end" />
      </mat-slider>

      <h2 class="mat-title-large !mt-6 text-center">Users overview</h2>
      <div echarts [theme]="chartTheme()" [options]="usersOverviewChartOptions()" class="app-stats__chart"></div>

      <h2 class="mat-title-large text-center">Givers and receivers</h2>
      <div echarts [theme]="chartTheme()" [options]="giversAndReceiversChartOptions()" class="app-stats__chart"></div>

      <h2 class="mat-title-large text-center">FeedZbacks</h2>
      <div echarts [theme]="chartTheme()" [options]="feedbacksChartOptions()" class="app-stats__chart"></div>
    } @placeholder {
      <div></div>
    }
  </mat-tab>
</mat-tab-group>
