<h1 class="gbl-page-title">
  <mat-icon>{{ 'receivedRequest' | feedbackTypeIcon }}</mat-icon>
  <ng-container i18n="@@Title.GiveRequestedFeedback"> Répondre à une demande de feedZback </ng-container>
</h1>

@let s = summary();

<app-message type="info" nonclosable>
  <ng-container i18n="@@Component.PreRequestFeedback.Message1">
    Afin de répondre à la demande de feedZback qui vous a été envoyée par <strong>{{ s.receiverEmail }}</strong
    >, merci de renseigner votre email.
  </ng-container>
</app-message>

@if (s.message) {
  <h2 class="mb-1">Message</h2>
  <app-multi-line class="mb-8! block" [text]="s.message" />
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (errorMessage(); as errMsg) {
    <app-message type="danger">{{ errMsg }}</app-message>
  }

  <mat-form-field appearance="outline" class="gbl-form-field">
    <mat-label i18n="@@Field.YourEmail">Votre email</mat-label>
    <input
      [formControl]="form.controls.recipient"
      matInput
      type="email"
      autocomplete="email"
      placeholder="jean.dupont@gmail.com"
    />
    <mat-error>{{ form.controls.recipient.errors | validationErrorMessage }}</mat-error>
  </mat-form-field>

  <div class="gbl-form-submit">
    <button [disabled]="form.invalid || form.disabled" mat-flat-button>
      <mat-icon>alternate_email</mat-icon>
      <ng-container i18n="@@Action.Validate">Valider</ng-container>
    </button>

    <div class="gbl-form-submit__info">
      <mat-icon>info</mat-icon>
      <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
    </div>
  </div>
</form>
