<h1 class="gbl-page-title mat-h1">
  <mat-icon>settings</mat-icon>
  Paramètres
</h1>

@switch (success) {
  @case (false) {
    <app-message type="danger">Désolé, une erreur s'est produite.</app-message>
  }
  @case (true) {
    <app-message type="success">Votre profil a bien été mis à jour.</app-message>
  }
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="app-consultant__field">
    <mat-label>Email de mon manager</mat-label>
    <input [formControl]="form.controls.managerEmail" matInput placeholder="jean.dupont@zenika.com" />
    <mat-error>{{ form.controls.managerEmail.errors | validationErrorMessage }}</mat-error>
  </mat-form-field>

  <button [disabled]="submitButtonDisabled" mat-raised-button color="primary">Mettre à jour</button>
</form>
