@use '../../../../app.scss' as app;

.app-given-feedback {
  &__addons {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    white-space: nowrap;
    opacity: 0.7;

    @include app.media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
    }

    mat-icon {
      margin-right: 0.25rem;
      vertical-align: bottom;
      transform: scale(0.9);
    }
  }

  &-item {
    margin-bottom: 1.5rem;

    &__title {
      margin: 0 0 0.25rem 0 !important;

      mat-icon {
        transform: scale(1.2);
      }
    }
  }
}
