<form class="app-credentials__form" [formGroup]="form" (ngSubmit)="submit()">
  <h2 class="app-credentials__title" i18n="@@Action.SignInWithCredentials">Se connecter avec identifiants</h2>

  <mat-form-field class="w-full">
    <mat-label i18n="@@Component.Credentials.Email">Email</mat-label>
    <input matInput [formControl]="form.controls.email" />
    <mat-icon matTextSuffix>alternate_email</mat-icon>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label i18n="@@Component.Credentials.Password">Mot de passe</mat-label>
    <input type="password" matInput [formControl]="form.controls.password" />
    <mat-icon matTextSuffix>key</mat-icon>
  </mat-form-field>

  <button class="w-full" mat-flat-button [disabled]="form.invalid || disabled()">
    <ng-container i18n="@@Title.SignIn">Se connecter</ng-container>
  </button>
</form>
