@use '../../app.scss' as app;

.app-credentials {
  display: block;
  width: 420px;
  max-width: 100%;

  @include app.media-breakpoint-down(sm) {
    width: 100%;
  }

  &__form {
    box-shadow: var(--mat-sys-level2);
    border-radius: 1rem;
    background-color: var(--mat-sys-surface-container);
    padding: 2rem 3rem 3rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    margin-bottom: 0;
    text-wrap: balance;
    font-size: 1.25rem !important;
    color: var(--mat-sys-tertiary);
  }
}
