<canvas #canvas [width]="canvasSize()" [height]="canvasSize()" class="app-color-gen-bezier__canvas"></canvas>

<button
  class="app-color-gen-bezier__point gbl-button-less"
  [disabled]="disabled()"
  matRipple
  [matRippleCentered]="true"
  [matRippleUnbounded]="true"
  cdkDrag
  cdkDragBoundary=".app-color-gen-bezier"
  [cdkDragDisabled]="disabled()"
  (cdkDragEnded)="updateParam('p1')"
  #p1
>
  p1
</button>

<button
  class="app-color-gen-bezier__point gbl-button-less"
  [disabled]="disabled()"
  matRipple
  [matRippleCentered]="true"
  [matRippleUnbounded]="true"
  cdkDrag
  cdkDragBoundary=".app-color-gen-bezier"
  [cdkDragDisabled]="disabled()"
  (cdkDragEnded)="updateParam('p2')"
  #p2
>
  p2
</button>
