.app-color-gen-bezier {
  position: relative;
  display: block;
  width: var(--app-color-gen-bezier-canvas-size);
  height: var(--app-color-gen-bezier-canvas-size);
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--mat-sys-surface-container-high);

  &__canvas {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__point {
    position: absolute;
    z-index: 2;
    width: var(--app-color-gen-bezier-point-size);
    height: var(--app-color-gen-bezier-point-size);
    border-radius: 99px;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    cursor: move;
    background-color: var(--mat-sys-on-surface);
    color: var(--mat-sys-surface-container);
  }
}
