<div>
  <span
    style="
      border-radius: 1rem;
      padding: 0.7rem 2rem 0.7rem 2rem;
      background: linear-gradient(to right, #e5293b 0%, #be1e67 100%);
    "
  >
    <strong style="display: flex; align-items: center; gap: 0.4em; font-size: 5rem; color: #f2f2f2">
      <img src="zac/SVG/Icon-only-Negative.svg" width="100%" alt="" />
      FeedZback
    </strong>
  </span>
</div>

<hr />

<app-logo-brand />

<app-background-symbols />

<h3>BG (new)</h3>
<div>
  <span>
    <img src="NEW_BG/Pattern_16x9_Blanc.svg" width="100%" alt="" style="background-color: #333" />
    <small>Pattern_16x9_Blanc</small>
  </span>

  <span>
    <img src="NEW_BG/Pattern_16x9_Noir.svg" width="100%" alt="" />
    <small>Pattern_16x9_Noir</small>
  </span>

  <span>
    <img src="NEW_BG/Pattern_Black.png" width="100%" alt="" style="background-color: #333" />
    <small>Pattern_Black</small>
  </span>

  <span>
    <img src="NEW_BG/Pattern_Blanc.png" width="100%" alt="" />
    <small>Pattern_Blanc</small>
  </span>
</div>

<h3>BG</h3>
<div>
  <span>
    <img src="SVG/BG_Black.png" width="100%" alt="" />
    <small>BG_Black</small>
  </span>

  <span>
    <img src="SVG/BG_Light.png" width="100%" alt="" />
    <small>BG_White</small>
  </span>
</div>

<h3>SVG</h3>
<div>
  <span>
    <img src="SVG/Feedzback_Favicon_Black.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Black</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Favicon_Black_2.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Black_2</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Favicon_Black_3.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Black_3</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Favicon_Black_4.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Black_4</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Favicon_Black_5.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Black_5</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Favicon_Gradient.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Gradient</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Favicon_Square.svg" height="100" alt="" />
    <small>Feedzback_Favicon_Square</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Logo_Black.svg" height="100" alt="" />
    <small>Feedzback_Logo_Black</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Logo_FullBlack.svg" height="100" alt="" />
    <small>Feedzback_Logo_FullBlack</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Logo_FullWhite.svg" height="100" alt="" style="background-color: #333" />
    <small>Feedzback_Logo_FullWhite</small>
  </span>

  <span>
    <img src="SVG/Feedzback_Logo_White.svg" height="100" alt="" style="background-color: #333" />
    <small>Feedzback_Logo_White</small>
  </span>
</div>

<h3>SVG_Figma</h3>
<div>
  <span>
    <img src="SVG_Figma/Group_1.svg" height="100" alt="" style="background-color: #333" />
    <small>Group_1</small>
  </span>

  <span>
    <img src="SVG_Figma/Group_2.svg" height="100" alt="" />
    <small>Group_2</small>
  </span>

  <span>
    <img src="SVG_Figma/Group_3.svg" height="100" alt="" />
    <small>Group_3</small>
  </span>

  <span>
    <img src="SVG_Figma/Group_4.svg" height="100" alt="" style="background-color: #333" />
    <small>Group_4</small>
  </span>

  <span>
    <img src="SVG_Figma/Group_5.svg" height="100" alt="" />
    <small>Group_5</small>
  </span>
</div>
