@use '../app' as app;

.app-layout {
  min-height: 100dvh;
  display: grid;

  // see: https://stackoverflow.com/questions/52861086/why-does-minmax0-1fr-work-for-long-elements-while-1fr-doesnt
  grid-template-columns: minmax(0, 1fr);

  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';

  &__header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    background-color: var(--mat-sys-surface-container-lowest);
  }

  &__main {
    grid-area: main;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    overflow: auto;
  }

  &__footer {
    grid-area: footer;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.03);
    border-top: 1px solid var(--mat-sys-surface-container);
    background-color: var(--app-layout-footer);
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: app.$breakpoint-lg;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @include app.media-breakpoint-down(md) {
    &__header {
      box-shadow: none;
    }
  }
}

:root {
  --app-layout-footer: #{rgba($color: #ffffff, $alpha: 0.65)}; // based on `surface-container-lowest`
}

.gbl-theme-dark {
  --app-layout-footer: #{rgba($color: #0a0a0a, $alpha: 0.65)}; // based on `surface-container-lowest`
}
