@use '../../app' as app;

.app-landing {
  height: 100%;

  display: grid;
  grid-template-columns: minmax(0, 0.5fr) minmax(0, 0.5fr);
  grid-template-rows: auto;
  grid-template-areas: 'content picture';
  gap: 1.25rem;

  &__content,
  &__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    grid-area: content;
    align-items: flex-start;
    text-align: start;
  }

  &__picture {
    grid-area: picture;
    align-items: flex-end;
    text-align: end;

    img {
      width: 100%;
    }
  }

  @include app.media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      'content'
      'picture';

    &__content,
    &__picture {
      align-items: center;
      text-align: center;
    }

    &__picture {
      img {
        width: 60%;
        min-width: 300px;
      }
    }
  }

  &__title {
    margin: 0 0 1.25rem 0;
    font: var(--mat-sys-headline-medium);
    letter-spacing: var(--mat-sys-headline-medium-tracking);
    text-wrap: balance;
    color: var(--app-landing-title);
  }

  &__subtitle {
    margin: 0 0 3.75rem 0;
    font-size: 1.25rem;
    text-wrap: balance;
  }

  &__links {
    align-self: normal; // as flex item
    display: flex; // as flex box
    flex-wrap: wrap;
    gap: 1.25rem;

    @include app.media-breakpoint-down(md) {
      justify-content: center;
    }

    @include app.media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}

:root {
  --app-landing-title: #121212;
}

.gbl-theme-dark {
  --app-landing-title: #f2f2f2;
}
