@if (feedbackDetails$ | async; as feedbackDetails) {
  @if (feedbackDetails) {
    <button class="gbl-link gbl-link--back" [routerLink]="['/feedbacks', feedbackDetails.type]">
      <mat-icon>arrow_back</mat-icon> mes feedZbacks
    </button>

    @if (feedbackDetails.feedback.status === 'done') {
      <app-given-feedback [type]="feedbackDetails.type" [feedback]="feedbackDetails.feedback" />
    } @else {
      <app-requested-feedback [type]="feedbackDetails.type" [feedback]="feedbackDetails.feedback" />
    }
  } @else {
    <app-message type="danger">
      <strong>Oops&nbsp;!</strong><br />
      Ce feedZback est introuvable.
    </app-message>
  }
}
