.app-settings {
  &__label {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__value {
    margin-bottom: 1.5rem;
    padding-left: calc(24px + 0.5rem); // 24px is the icon width
    color: var(--mat-sys-tertiary);
  }
}
