<h1 class="gbl-page-title">
  <mat-icon>settings</mat-icon>
  <ng-container i18n="@@Title.Settings">Paramètres</ng-container>
</h1>

@switch (success) {
  @case (false) {
    <app-message type="danger" i18n="@@Message.ErrorOccured">Une erreur s'est produite.</app-message>
  }
  @case (true) {
    <app-message type="success" i18n="@@Component.Settings.UpdateSuccess">
      Votre paramètres ont bien été mis à jour.
    </app-message>
  }
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-autocomplete-email forManager [email]="form.controls.managerEmail" class="gbl-form-field" />

  <button [disabled]="submitButtonDisabled" mat-raised-button color="primary" i18n="@@Action.Update">
    Mettre à jour
  </button>
</form>
