@use '../../../app.scss' as app;

.app-layout {
  min-height: 100dvh;
  display: grid;

  // see: https://stackoverflow.com/questions/52861086/why-does-minmax0-1fr-work-for-long-elements-while-1fr-doesnt
  grid-template-columns: minmax(0, 1fr);

  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';

  &__header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }

  &__main {
    grid-area: main;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    overflow: auto;
  }

  &__footer {
    grid-area: footer;
    background-color: rgb(255 255 255 / 0.7);
  }

  &-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: app.$breakpoint-lg;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @include app.media-breakpoint-down(md) {
    &__header {
      box-shadow: none;
      border-bottom: 1px solid #ddd;
    }
  }
}
