@use '../../../app.scss' as app;

.app-message {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  border: none;
  border-left: 0.5rem solid transparent;

  &--hidden {
    display: none;
  }

  &--info {
    border-color: rgb(158, 197, 254);
    background-color: rgb(207, 226, 255);
    color: rgb(5, 44, 101);
  }

  &--success {
    border-color: rgb(163, 207, 187);
    background-color: rgb(209, 231, 221);
    color: rgb(10, 54, 34);
  }

  &--danger {
    border-color: rgb(241, 174, 181);
    background-color: rgb(248, 215, 218);
    color: rgb(88, 21, 28);
  }

  &--light {
    border-color: rgb(226, 227, 229);
    background-color: rgb(252, 252, 253);
    color: rgb(73, 80, 87);
  }

  &__icon {
    margin-left: 1.25rem;
    transform: scale(1.125);
  }

  &__content {
    margin: 1.25rem;
    flex-grow: 1;
  }

  &__close {
    align-self: flex-start;
    box-sizing: content-box;
    border-width: 0.5rem 0.5rem 0 0;
    border-style: solid;
    border-color: transparent;
    transition: color 250ms ease;
    cursor: pointer;

    &:hover {
      color: var(--gbl-primary);
    }
  }
}
