@if (type) {
  <button class="gbl-link gbl-link--back" [routerLink]="['/feedbacks', type]">
    <mat-icon>arrow_back</mat-icon> mes feedZbacks
  </button>

  <h1 class="gbl-page-title">
    <mat-icon>forum</mat-icon>
    FeedZback
    @switch (type) {
      @case (feedbackType.sent) {
        envoyé
      }
      @case (feedbackType.received) {
        reçu
      }
      @case (feedbackType.asked) {
        demandé
      }
      @case (feedbackType.pending) {
        en attente
      }
    }
  </h1>

  <app-feedback [type]="type" [id]="id" />
}
