
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 col-sm-2 col-md-2" >
        <img  src="../../assets/feedbackFormIcon.png" class="img-responsive" alt="Responsive image"/>  
      </div>
     
      <div class="col-8 col-sm-8 col-md-8">
      <div class="col-6 col-sm-12 col-md-12">
        <h1 class="titleFormulaire">FeedZback</h1>
      </div>
      <div class="col-sm-6 col-md-6">
        <p class="display-8">Faites des retours à vos collègues grâce à Feedzback ! Remplissez les champs ci-dessous et votre collègue recevra un email directement dans sa boîte mail</p>
      </div>
      </div>
    </div>
   

      
        <div class="row justify-content-center">
          <div class="col-xs-12 col-md-8">
            <p [ngStyle]="{'color':result==='le feedback a été envoyé!' ? 'green':'red'}">{{result}}</p>
            <label class="labelTitle">Coordonnées</label>
         
        <form  (submit)="onSubmit()" id="feedbackForm" class="col-12" #feedbackForm="ngForm"  novalidate>
          <label for="nom" class=" control-label">Votre nom</label>
        <div class="form-group littleBox" >
          <div class="row">
            <div class="col-11">
            <input type="text" id="nom" [(ngModel)]="sendRequest.nom"   required  name="nom" class="form-control" placeholder="Exemple: Douchon Pierre" #nom="ngModel"/>
          </div>
            <label for="nom" class="col-1 starFont">*</label>
          </div>
             
            </div>
       
            <div class="form-group littleBox" >
             
                <label for="email" class="control-label">Email Zenika de votre collègue</label>
                <div class="row">
                <div class="col-11">
                  <input type="email" name="email" id="email" class="col-md-12 form-control" id="email" [(ngModel)]="sendRequest!.email" required pattern="[a-z0-9._%+-]+@zenika.com" #sendEmail="ngModel" placeholder="Exemple: Juliette@zenika.com">
                </div>
               <div class="col-1">
                <label for="email" class="starFont" align="right">*</label>
                </div>
               </div>
                     
              </div>
              <div>
                <hr class="col-">
              </div>
              <div class="form-group ">
               
                <label class="labelTitle">Points positifs</label>
              <div class="row">
                <textarea name="pointsPositifs" class="col-11 col-md-11 form-control-lg required" id="pointsPositifs"  [(ngModel)]="sendRequest.pointsPositifs" required #pointsPositifs="ngModel" placeholder="Exemple : Collègue à l’écoute de ses pairs"></textarea>
                <label for="textarea" class="col-1 col-md-1 starFont " align="top">*</label>           
            </div>
           
            </div>
   
     
            <div>
                <hr class="col-11">
              </div>

            
              <div class="form-group" >      
                <label class="label label-primary">Axes d'améliorations</label>
                <div class="row">
                <textarea name="axesAmeliorations" class="col-11 col-md-11 form-control-lg required" id="axesAmeliorations" [(ngModel)]="sendRequest!.axesAmeliorations" required #axesAmeliorations="ngModel" placeholder="Exemple : Manque de ponctualité"></textarea>
                <label for="textarea" class="col-1 starFont"  align="top">*</label>
            </div>
            </div>
            <div>
                <hr class="col-11">
              </div>

              <div class="row">
                <label class="labelTitle">Commentaire</label>
              
              <div class="form-group" >
                <div class="row">
                <textarea name="commentaire" id="commentaire" class="col-11 col-md-11 form-control-lg" [(ngModel)]="sendRequest!.commentaire" #commentaire="ngModel" placeholder="Exemple : Bravo pour ton talk à la dernière technozaure !"></textarea>
              </div>
                <p class="starFont" style="color: red;">*Les champs marqués en etoiles sont obligatoires</p>
            </div>
          </div>
           <div class="row ">
              <div class="col-4 col-sm-4 col-md-4 " align="center">
                <button type="submit" id="submit" class="btn btn-primary btn-lg" [disabled]="!feedbackForm.valid">Envoi</button>
              </div>
              <div class="col-4 col-sm-4 col-md-4  " align="center">
                <button class=" btn  btn-secondary btn-lg" >Annuler</button>
              </div>
            </div>
        </form>
      </div>
    </div>
    
       
  
