<h1 class="gbl-page-title mat-h1">
  <mat-icon>hub</mat-icon>
  FeedZbacks partagés
</h1>

<mat-form-field appearance="outline" style="width: 100%">
  <mat-label>Liste des collaborateurs</mat-label>
  <mat-select [value]="employee" (valueChange)="employeeChange($event)">
    @for (employee of employees; track employee) {
      <mat-option [value]="employee">{{ employee }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (feedbacks$ | async; as feedbacks) {
  @if (feedbacks?.length) {
    <app-manager-feedback-list [feedbacks]="feedbacks" />
  } @else if (feedbacks !== null && employee) {
    <div class="app-manager__empty"><mat-icon>share_off</mat-icon> Pas de feedZback partagé...</div>
  }
}
