<h1 class="gbl-page-title">
  <mat-icon>hub</mat-icon>
  FeedZbacks partagés
</h1>

<mat-form-field appearance="outline" class="w-full">
  <mat-label>Liste des collaborateurs</mat-label>
  <mat-select [value]="employee" (valueChange)="employeeChange($event)">
    @for (employee of employees; track employee) {
      <mat-option [value]="employee">{{ employee }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (feedbacks$ | async; as feedbacks) {
  @if (feedbacks?.length) {
    <app-manager-feedback-list [feedbacks]="feedbacks" />
  } @else if (feedbacks !== null && employee) {
    <div class="mt-4 flex items-center justify-center gap-2 italic opacity-50">
      <mat-icon>share_off</mat-icon> Aucun feedZback partagé...
    </div>
  }
}
