<h1 class="gbl-page-title">
  <mat-icon>hub</mat-icon>
  <ng-container i18n="@@Title.Manager">FeedZbacks partagés</ng-container>
</h1>

<mat-form-field appearance="outline" class="w-full">
  <mat-label i18n="@@Component.Manager.Collaborator">Collaborateur</mat-label>
  <mat-select [value]="employee()" (valueChange)="employeeChange($event)">
    @for (managedEmail of managedEmails; track $index) {
      <mat-option [value]="managedEmail">{{ managedEmail }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (employeeItems(); as items) {
  @if (items?.length) {
    <app-manager-feedback-list [items]="items" />
  } @else if (items !== null && employee()) {
    <div class="mt-4 flex items-center justify-center gap-2 italic opacity-50">
      <mat-icon>share_off</mat-icon>
      <ng-container i18n="@@Component.Manager.NoData">Aucun feedZback partagé...</ng-container>
    </div>
  }
}
