$timeline-background-color: var(--mat-sys-surface) !default;

$timeline-line-thickness: 3px !default;
$timeline-line-color: #ced4da !default;

$timeline-line-size-horizontal: 10 !default;
$timeline-line-size-vertical: 2 !default;

$timeline-bullet-font-size: 1.5 !default;
$timeline-bullet-outline-size: 0.5 !default;
$timeline-bullet-border-size: 2px !default;
$timeline-bullet-size: 3 !default;

$timeline-bullet-border-color: #6ea8fe !default;
$timeline-bullet-background-color: #0d6efd !default;
$timeline-bullet-color: #fff !default;

$timeline-pending-bullet-scale: 0.875 !default;
$timeline-pending-bullet-border-color: #dee2e6 !default;
$timeline-pending-bullet-background-color: #adb5bd !default;
$timeline-pending-bullet-color: #e9ecef !default;
$timeline-pending-content-color: #999 !default;

$timeline-vertical-content-size: auto !default;
