.app-my-feedbacks {
  &__table-container {
    width: 100%;
    overflow: auto;
  }

  &-actions {
    // Warning: this width should be adapted depending on the number of actions
    width: 80px;

    &__inner {
      display: flex;
      gap: 0.25rem;
    }
  }

  &__empty {
    margin-top: 3.5rem;
    text-align: center;
    font-style: italic;
    opacity: 0.6;

    mat-icon {
      vertical-align: text-bottom;
    }
  }
}
