<h1 class="gbl-page-title"><mat-icon>forum</mat-icon> Mes feedZbacks</h1>

<mat-tab-group animationDuration="0ms" [selectedIndex]="tabIndex" (selectedTabChange)="onTabIndexChange($event.index)">
  <mat-tab label="reçus">
    <app-feedback-list
      *ngIf="feedbackType.received.length; else noFeedbacks"
      [type]="feedbackType.received"
      [feedbacks]="receivedFeedbacks"
    ></app-feedback-list>
  </mat-tab>

  <mat-tab label="envoyés">
    <app-feedback-list
      *ngIf="feedbackType.sent.length; else noFeedbacks"
      [type]="feedbackType.sent"
      [feedbacks]="sentFeedbacks"
    ></app-feedback-list>
  </mat-tab>
</mat-tab-group>

<ng-template #noFeedbacks>
  <div *ngIf="fetched" class="app-my-feedbacks__empty"><mat-icon>sentiment_dissatisfied</mat-icon> Aucun feedZback</div>
</ng-template>
