<h1 class="gbl-page-title"><mat-icon>forum</mat-icon> Mes feedZbacks</h1>

<mat-tab-group animationDuration="0ms" [selectedIndex]="tabIndex" (selectedTabChange)="onTabIndexChange($event.index)">
  <mat-tab label="reçus">
    <ng-container
      [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{ $implicit: receivedFeedbacks, type: feedbackType.received }"
    ></ng-container>
  </mat-tab>

  <mat-tab label="envoyés">
    <ng-container
      [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{ $implicit: sentFeedbacks, type: feedbackType.sent }"
    ></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #table let-feedbacks let-type="type" appMyFeedbacksTemplateContext>
  <div class="app-my-feedbacks__table-container">
    <table *ngIf="feedbacks.length; else noFeedbacks" mat-table [dataSource]="feedbacks">
      <ng-container matColumnDef="actions" sticky>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-my-feedbacks-actions">
          <div class="app-my-feedbacks-actions__inner">
            <a
              [routerLink]="['/feedback', nf(element).id, type]"
              matTooltip="Voir les détails du feedZback"
              class="gbl-link"
            >
              <mat-icon>visibility</mat-icon>
            </a>

            <a
              routerLink="/ask"
              [queryParams]="{ receverEmail: nf(element).email }"
              matTooltip="Demander un feedZback"
              class="gbl-link"
            >
              <mat-icon>live_help</mat-icon>
            </a>

            <a
              routerLink="/send"
              [queryParams]="{ receverEmail: nf(element).email, receverName: nf(element).name }"
              matTooltip="Envoyer un feedZback"
              class="gbl-link"
            >
              <mat-icon>reviews</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ nf(element).name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ nf(element).email }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ nf(element).createdAt | date: 'shortDate' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</ng-template>

<ng-template #noFeedbacks>
  <div *ngIf="fetched" class="app-my-feedbacks__empty">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    Aucun feedZback
  </div>
</ng-template>
