<h1 class="app-g-page-title">
  <mat-icon>forum</mat-icon>
  Mes feedZbacks
</h1>

<mat-tab-group
  animationDuration="0ms"
  class="app-my-feedbacks__table"
  [selectedIndex]="tabIndex"
  (selectedTabChange)="onTabIndexChange($event.index)"
>
  <mat-tab label="reçus">
    <table *ngIf="receivedFeedbacks.length; else noFeedbacks" mat-table [dataSource]="receivedFeedbacks">
      <ng-container matColumnDef="senderName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.senderName }}</td>
      </ng-container>

      <ng-container matColumnDef="senderEmail">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.senderEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/feedback', element.id, feedbackType.received]" class="app-g-link">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="receivedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: receivedColumns"></tr>
    </table>
  </mat-tab>

  <mat-tab label="envoyés" class="app-my-feedbacks__table">
    <table *ngIf="sentFeedbacks.length; else noFeedbacks" mat-table [dataSource]="sentFeedbacks">
      <ng-container matColumnDef="receverName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.receverName }}</td>
      </ng-container>

      <ng-container matColumnDef="receverEmail">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.receverEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'shortDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/feedback', element.id, feedbackType.sent]" class="app-g-link">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="sentColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: sentColumns"></tr>
    </table>
  </mat-tab>
</mat-tab-group>

<ng-template #noFeedbacks>
  <div style="margin-top: 3.5rem; text-align: center; font-style: italic; opacity: 0.6">
    <mat-icon style="vertical-align: text-bottom">sentiment_dissatisfied</mat-icon>
    Aucun feedZBack
  </div>
</ng-template>
