<h1 class="gbl-page-title">
  <mat-icon>live_help</mat-icon>
  Je demande du feedZback
</h1>

<app-message *ngIf="sentEmails.length" type="success">
  <strong>Félicitations&nbsp;!</strong><br />
  Votre demande a bien été envoyée au(x) destinataire(s) suivant(s)&nbsp;:<br />
  {{ sentEmails.join(', ') }}
</app-message>

<app-message *ngIf="remainingUnsentEmails.length" type="danger">
  <strong>Oops&nbsp;!</strong><br />
  Une erreur s'est produite lors de l'envoi au(x) destinataire(s) suivant(s)&nbsp;:<br />
  {{ remainingUnsentEmails.join(', ') }}
</app-message>

<form *ngIf="!sentEmails.length || remainingUnsentEmails.length" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="app-ask-feedback__field">
    <mat-label>Emails de vos collègues</mat-label>
    <input
      [formControl]="form.controls.receiverEmails"
      type="email"
      matInput
      [placeholder]="multipleEmailsPlaceholder"
    />
    <mat-hint align="start">Séparez les emails par des virgules</mat-hint>
    <mat-error>{{ form.controls.receiverEmails.errors | validationErrorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="app-ask-feedback__field">
    <mat-label>Message</mat-label>
    <textarea
      #message
      [formControl]="form.controls.message"
      [maxlength]="messageMaxLength"
      matInput
      rows="4"
      placeholder="Bonjour ! J’ai bientôt mon entretien annuel et afin de le préparer j’aimerais te demander ton avis sur ce que je fais bien et ce que je pourrais améliorer. Merci par avance."
    ></textarea>
    <mat-hint align="start">{{ message.value.length }} / {{ messageMaxLength }}</mat-hint>
  </mat-form-field>

  <button [disabled]="form.invalid || submitInProgress" mat-raised-button color="primary">Envoyer</button>
</form>
