<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Field.Email">Email</th>
    <td mat-cell *matCellDef="let element">{{ nf(element).email }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Field.Date">Date</th>
    <td mat-cell *matCellDef="let element">{{ nf(element).date | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="mixed">
    <th mat-header-cell *matHeaderCellDef>
      <app-division a="Email" b="Date" i18n-a="@@Field.Email" i18n-b="@@Field.Date"></app-division>
    </th>
    <td mat-cell *matCellDef="let element" class="app-feedback-list__mobile">
      <strong>{{ nf(element).email }}</strong>
      <br />
      <small>{{ nf(element).date | date: 'shortDate' }}</small>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="app-feedback-list__actions">
      <button
        mat-icon-button
        color="primary"
        matTooltipPosition="left"
        matTooltip="Consulter le feedZback"
        i18n-matTooltip="@@Action.ViewFeedback"
        [routerLink]="['/feedback', nf(element).id]"
      >
        <mat-icon>visibility</mat-icon>
      </button>

      @if (withGiveRequestedFeedbackButton) {
        <button
          mat-icon-button
          color="primary"
          matTooltipPosition="left"
          matTooltip=" Donner "
          i18n-matTooltip="@@Feedback.Give"
          [appGiveRequestedFeedback]="nf(element).id"
        >
          <mat-icon>chat</mat-icon>
        </button>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let element; columns: columns"></tr>

  <tr class="mat-row" *matNoDataRow>
    @if (filter) {
      <td
        class="mat-cell p-6 text-center italic text-gray-400"
        [attr.colspan]="columns.length"
        i18n="@@Message.NoResultsFor"
      >
        Aucun résultat pour "{{ filter }}"
      </td>
    }
  </tr>
</table>

<mat-paginator [style.display]="hasPaginator ? undefined : 'none'" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
