<h1 class="gbl-page-title">
  <mat-icon>comment</mat-icon>
  <ng-container i18n="@@Title.GiveRequestedFeedback"> Répondre à une demande de feedZback </ng-container>
</h1>

<app-message type="info" nonclosable>
  <ng-container i18n="@@Component.GiveRequestedFeedback.Message1">
    Vous répondez à la demande de feedZback qui vous a été envoyée par
  </ng-container>
  <strong>{{ request.receiverEmail }}</strong
  >.

  @if (request.shared) {
    <br />
    <strong i18n="@@Component.GiveRequestedFeedback.Message2">
      Notez que votre réponse sera partagée avec son manager.
    </strong>
  }
</app-message>

<app-message type="danger" [(visible)]="showError" i18n="@@Message.ErrorOccured"
  >Une erreur s'est produite.</app-message
>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (isAnonymous) {
    <h3>
      <mat-icon>voice_selection</mat-icon>
      <ng-container i18n="@@Component.GiveRequestedFeedback.You">Vous</ng-container>
    </h3>

    <mat-form-field appearance="outline" class="gbl-form-field">
      <mat-label i18n="@@Field.YourEmail">Votre email</mat-label>
      <input
        [value]="request.giverEmail"
        required
        readonly
        type="email"
        matInput
        placeholder="marie.durand@gmail.com"
      />
      <mat-icon matSuffix class="opacity-50">edit_off</mat-icon>
    </mat-form-field>

    <h3>
      <mat-icon>hearing</mat-icon>
      <ng-container i18n="@@Component.GiveRequestedFeedback.YourColleague">Votre collègue</ng-container>
    </h3>
  }

  <mat-form-field appearance="outline" class="gbl-form-field">
    <mat-label i18n="@@Field.EmailOfYourColleague">Email de votre collègue</mat-label>
    <input
      [value]="request.receiverEmail"
      required
      readonly
      type="email"
      matInput
      placeholder="jean.dupont@zenika.com"
    />
    <mat-icon matSuffix class="opacity-50">edit_off</mat-icon>
  </mat-form-field>

  <app-give-feedback-details
    [positive]="form.controls.positive"
    [negative]="form.controls.negative"
    [comment]="form.controls.comment"
  />

  <div class="gbl-form-submit">
    <div>
      <button [disabled]="form.invalid || submitInProgress" mat-raised-button color="primary" i18n="@@Action.Send">
        Envoyer
      </button>

      <button
        type="button"
        [disabled]="submitInProgress"
        mat-stroked-button
        color="primary"
        class="ms-6"
        (click)="onDraft()"
        i18n="@@Action.Save"
      >
        Sauvegarder
      </button>
    </div>

    <div class="gbl-form-submit__info">
      <mat-icon>info</mat-icon>
      <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
    </div>
  </div>

  <app-message class="!mb-0 mt-8" type="success" [(visible)]="showDraft" i18n="@@Message.DraftSaved">
    Brouillon sauvegardé.
  </app-message>
</form>
