@let iconValue = icon() ?? iconMap[type()];

@if (iconValue) {
  <mat-icon appIcon size="xl" class="app-message__icon">{{ iconValue }}</mat-icon>
}

<div class="app-message__content" [class.app-message__content--with-icon]="!!iconValue">
  <ng-content />
</div>

@if (!nonclosable()) {
  <mat-icon
    class="app-message__close"
    aria-label="Fermer"
    i18n-aria-label="@@Action.Close"
    role="button"
    tabindex="0"
    (click)="close()"
    (keyup.enter)="close()"
  >
    close
  </mat-icon>
}
