.app-focus-content {
  &__skip-links {
    position: fixed;
    z-index: 9999;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
    text-decoration: none;
    font-size: 1.125rem;
    cursor: pointer;

    top: -9999px;
    opacity: 0;
    transition: ease 300ms opacity;

    &:focus-visible {
      top: 1rem;
      opacity: 1;
    }
  }

  &__skip-links-icon {
    margin-left: 0.5rem;
    vertical-align: bottom;
  }
}
