.app-emails-form {
  display: block;

  &-field {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    margin-bottom: 1rem;

    &__btn {
      flex-shrink: 0;
    }

    &__ctrl {
      flex-grow: 1;
    }
  }
}
