<div class="app-emails-form-field" *ngFor="let control of formArray.controls; let index = index; let last = last">
  <mat-form-field appearance="outline" class="app-emails-form-field__ctrl">
    <mat-label>Email de votre collègue{{ formArray.controls.length > 1 ? ' n°' + (index + 1) : '' }}</mat-label>

    <input [formControl]="control" type="email" matInput placeholder="jean.dupont@zenika.com" />

    <mat-error>{{ control.errors | validationErrorMessage }}</mat-error>
  </mat-form-field>

  <button
    *ngIf="formArray.controls.length > 1"
    type="button"
    mat-icon-button
    color="primary"
    matTooltip="Retirer cet email"
    class="app-emails-form-field__btn"
    tabIndex="-1"
    (click)="removeAt(index)"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <button
    *ngIf="last && canAdd"
    type="button"
    mat-icon-button
    color="primary"
    matTooltip="Ajouter un email"
    class="app-emails-form-field__btn"
    tabIndex="-1"
    (click)="add()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
