<div fxLayout="column" fxFlex="800px" [fxFlex.lt-md]="'500px'" [fxFlex.lt-sm]="'100%'">
    <div fxLayoutAlign="center">
        <img src="../../assets/feedzback-logo.svg" alt="logo" class="logo">
    </div>
    <a href="">&lt; Retour</a>
    <div fxLayout="row" fxLayoutAlign="start center">
        <img src="../../assets/question-mark.svg" alt="vector-arrow">
        <h1>Demande de feedback</h1>
    </div>
    <span class="subtitle">Remplissez les champs ci-dessous et votre collègue recevra directement un mail l’invitant à vous faire ses retours !</span>
    <small>les champs marqués d’une astérisque sont obligatoires</small>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #myform="ngForm" novalidate>
        <h2>Qui êtes-vous ?</h2>
        <div fxLayout="row" [fxLayout.lt-md]="'column'">
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="your-email">Votre email Zenika *</label>
                <input type="email" class="input-text input-invalid" id="your-email"
                    placeholder="pierre.douchon@example.com" formControlName="senderEmail" required
                    [ngClass]="{'input-invalid': myform.submitted && senderEmail?.invalid}"  email>
                <small *ngIf="myform.submitted && senderEmail?.invalid">{{getFormControlError(senderEmail!)}}</small>
            </div>
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="your-name">Votre nom *</label>
                <input type="text" class="input-text" id="your-name" placeholder="Pierre Duchon"
                    formControlName="senderName" required [ngClass]="{'input-invalid': myform.submitted && senderName?.invalid}">
                <small *ngIf="myform.submitted && senderName?.invalid">{{getFormControlError(senderName!)}}</small>
            </div>
        </div>
        <h2>Qui est votre collègue ?</h2>
        <div fxLayout="row" [fxLayout.lt-md]="'column'">
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="coworker-email">Email de votre collègue *</label>
                <input type="email" class="input-text" id="coworker-email" placeholder="pierre.douchon@example.com"
                    formControlName="receverEmail" required
                    [ngClass]="{'input-invalid': myform.submitted && receverEmail?.invalid}" email>
                <small *ngIf="myform.submitted && receverEmail?.invalid">{{getFormControlError(receverEmail!)}}</small>
            </div>
            <div fxLayout="column" fxFlex="grow" class="form-input">
                <label for="coworker-name">Nom de votre collègue *</label>
                <input type="text" class="input-text" id="coworker-name" placeholder="Pierre Duchon" required
                    formControlName="receverName"
                    [ngClass]="{'input-invalid': myform.submitted && receverName?.invalid}">
                <small *ngIf="myform.submitted && receverName?.invalid">{{getFormControlError(receverName!)}}</small>
            </div>
        </div>
        <h2>Votre demande</h2>
        <div fxLayout="column">
            <div fxLayout="column" class="form-input">
                <label for="message">Message</label>
                <textarea class="textarea" name="message" id="message"
                    placeholder="Bravo pour ton talk à la dernière technozaure !" formControlName="message">
                </textarea>
            </div>
        </div>
        <div fxLayoutAlign="end" [fxLayoutAlign.lt-sm]="'center'">
            <button type="submit" class="btn btn-primary">ENVOYER</button>
        </div>
    </form>
</div>
