.container {
    z-index: -1;
}
.ask-logo {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: flex-start;
}
.header-section {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: stretch;
    text-align: left;
    max-width: 745px;
    margin: auto;

}
h1 {
    color: #D52150;
    font-weight: bold;
}
.description {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.form-input {
    padding: .5rem;
    color: #605E5E; 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.subtitle {
    color: #4E4B4B;
    text-align: start;
}


h2 {
    margin-bottom: .5rem;
}

.input-text {
    padding-top: 12px;
    padding-bottom: 12px;
}


small {
    color: #D52150;
    font-weight: lighter;
}

a {
    color: #D52150;
}

.textarea {
    resize: vertical;  
    padding-bottom: 35px;
}
.message-section {
    display:flex;
    flex-direction: column;
    width: 102.3%;
}
.btn-form{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
.row {
    width: 100%;
}
#vector-arrow {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        color: #D52150;
        font-weight: bold;
        font-size: 26px;
        margin-top: 0px;
    
    }
    .row {
        display: flex;
        flex-direction: column;
       
    }
    .message-section {
        width: 102.3%;
    }
    .textarea {
        resize: vertical;  
        padding-bottom: 35px;
      
    }
    .btn-form{
        justify-content: center;
    }
}
#vector-arrow {

    border-radius: 2px;
    width: 40px;
    height: 40px;
    padding: 4px;
    padding-left: 5px;
    margin-top: 23px;
}

@media only screen and (max-width: 420px){
    h1 {
        font-size: 15px;
    }
    .description {
        font-size: 12px;
    }
    .return-link{
        font-size: 12px;
        margin-right: 0px;
    }
    h2 {

     font-size: 12px;   
    }
    label {
        font-size: 12px;
    }

    #vector-arrow {
        width: 30px;
        height: 30px;
        padding: 4px;
        padding-left: 5px;
        margin-top: 5px;
    }
    .logo {
        width: 100%;
    } 
}
