.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ask-logo {
    display: flex;
    justify-content: center;
}
.header-section {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
}
.title{
    display: flex;
 flex-direction: row;
}
h1 {
    color: #D52150;
    font-weight: bold;
    margin-left: 10px;
}
.description {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    width: 60%;
}
.column {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-input {
    padding: .5rem;
    color: #605E5E;
    margin-right: 30px;
    
}

.subtitle {
    color: #4E4B4B;
    text-align: justify;
}

.logo {
    margin: 1rem 0 1rem 0;
}

h2 {
    margin-bottom: .5rem;
}

.input-text {
    padding: 15px;
    padding-right: 25px;
}
.your-email {
    padding: 15px;
    padding-right: 24px;
    margin-right: 87px;
}


small {
    color: #D52150;
    font-weight: lighter;
}

a {
    color: #D52150;
}

.textarea {
    resize: vertical;  
    padding-bottom: 35px;
}
.message-section {
    display: flex;
    flex-direction: column;
    width: 62%;
}
.btn-form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 40px;
}



@media only screen and (max-width: 900px) {
    .header-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
    }
    .return-link {
        margin-right: 280px;
    }
    .title {
        flex-direction: row;
        margin-left: 0px;
        justify-items: left;
        width: 80%;
    }
    h1 {
        color: #D52150;
        font-weight: bold;
        font-size: 26px;
        margin-left: 25px;
    }
    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .message-section {
        display: flex;
        flex-direction: column;
        width: 113%;
    }
    .textarea {
        resize: vertical;  
        padding-bottom: 35px;
      
    }
    .btn-form{
        margin-left: 0px;
    }
}

@media  (min-width:768px) and (max-width:912px){
    .message-section {
        display: flex;
        flex-direction: column;
        width: 105%;
    }
}


