<p i18n="@@Demo.LoremIpsum" data-test-id="lorem-ipsum">{{ loremIpsum }} dolor sit amet</p>

<hr />

<div class="mat-display-large">display-large Lorem ipsum</div>
<div class="mat-display-medium">display-medium Lorem ipsum</div>
<div class="mat-display-small">display-small Lorem ipsum</div>

<hr />

<div class="mat-headline-large">headline-large Lorem ipsum</div>
<div class="mat-headline-medium">headline-medium Lorem ipsum</div>
<div class="mat-headline-small">headline-small Lorem ipsum</div>

<hr />

<div class="mat-title-large">title-large Lorem ipsum</div>
<div class="mat-title-medium">title-medium Lorem ipsum</div>
<div class="mat-title-small">title-small Lorem ipsum</div>

<hr />

<div class="mat-body-large">body-large Lorem ipsum</div>
<div class="mat-body-medium">body-medium Lorem ipsum</div>
<div class="mat-body-small">body-small Lorem ipsum</div>

<hr />

<div class="mat-label-large">label-large Lorem ipsum</div>
<div class="mat-label-medium">label-medium Lorem ipsum</div>
<div class="mat-label-small">label-small Lorem ipsum</div>

<hr />

<ul class="gbl-icon-list gbl-icon-list--horizontal-md">
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">home</mat-icon>
    Lorem ipsum
  </li>
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">search</mat-icon>
    Lorem ipsum dolor sit amet
  </li>
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">delete</mat-icon>
    Lorem ipsum dolor sit amet consectetur
  </li>
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">logout</mat-icon>
    Lorem ipsum dolor sit amet consectetur adipiscing elit
  </li>
</ul>
