<p i18n="@@Demo.LoremIpsum" data-test-id="lorem-ipsum">{{ loremIpsum }} dolor sit amet</p>

<div class="mat-headline-1">Headline-1. Lorem ipsum</div>
<div class="mat-headline-2">Headline-2. Lorem ipsum</div>
<div class="mat-headline-3">Headline-3. Lorem ipsum</div>
<div class="mat-headline-4">Headline-4. Lorem ipsum</div>

<hr />

<div class="mat-h1">H1. Lorem ipsum</div>
<div class="mat-h2">H2. Lorem ipsum</div>
<div class="mat-h3">H3. Lorem ipsum</div>
<div class="mat-h4">H4. Lorem ipsum</div>
<p class="mb-3">P. Lorem ipsum</p>

<hr />

<div class="mat-body">Body. Lorem ipsum</div>
<div class="mat-body-strong">Body-strong. Lorem ipsum</div>
<div class="mat-small">Small. Lorem ipsum</div>

<hr />

<ul class="gbl-icon-list gbl-icon-list--horizontal-md">
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">home</mat-icon>
    Lorem ipsum
  </li>
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">search</mat-icon>
    Lorem ipsum dolor sit amet
  </li>
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">delete</mat-icon>
    Lorem ipsum dolor sit amet consectetur
  </li>
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">logout</mat-icon>
    Lorem ipsum dolor sit amet consectetur adipiscing elit
  </li>
</ul>
