<div class="app-header__logo">
  <a
    routerLink="/home"
    routerLinkActive
    ariaCurrentWhenActive="page"
    aria-label="Accueil"
    i18n-aria-label="@@Component.Header.HomeLink"
  >
    <app-logo-brand class="app-header__logo-img" />
  </a>
</div>

<div class="app-header__burger">
  <app-burger class="app-header-nav-target" [(active)]="isNavOpen" />
</div>

<nav
  class="app-header__nav app-header-nav-target gbl-title-medium"
  [class.app-header__nav--open]="isNavOpen()"
  [class.app-header__nav--content-hidden]="!isNavVisible()"
  (transitionstart)="$event.target === navElement && onNavTransition('start')"
  (transitionend)="$event.target === navElement && onNavTransition('end')"
  #navElement
>
  @if (userStatus().authenticated) {
    <app-nav class="app-header__nav-items" />
  }

  <app-menu-desktop class="app-header__menu" />

  <app-menu-mobile class="app-header__menu-list" />
</nav>

@if (isNavVisible()) {
  <div
    role="presentation"
    class="app-header__nav-backdrop"
    [class.app-header__nav-backdrop--closing]="!isNavOpen()"
    (click)="closeNav()"
  ></div>
}
