@use '../app' as app;

//   0.5rem (the vertical padding of `.app-header`)
// + 3.5rem (the height of the `<app-primary-nav>`, on desktop)
// = 4rem
$header-height: 4rem;

$anim-duration-timing-function: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

.app-header {
  position: relative;
  box-sizing: border-box;
  min-height: $header-height;
  padding: 0.25rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__home {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    white-space: nowrap;
    color: var(--app-header-home);

    @include app.media-breakpoint-down(sm) {
      // On mobile, the app logo should be visible even when the nav is open.
      z-index: 99;
    }
  }

  &__brand-logo {
    font-size: 1.5em;
  }

  &__brand-gradient {
    background: linear-gradient(to right, #e5293b 20%, #be1e67 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__burger {
    z-index: 99;
  }

  &__nav-inner {
    display: flex;
    align-items: center;
  }

  &__menu-mobile {
    margin: 0.5rem;
  }

  @include app.media-breakpoint-up(md) {
    &__burger,
    &__menu-mobile,
    &__nav-backdrop {
      display: none;
    }
  }

  @include app.media-breakpoint-down(md) {
    &__menu-desktop {
      display: none;
    }

    &__nav {
      border-bottom: 5px solid var(--mat-sys-primary);
      background-color: var(--mat-sys-surface-container);

      position: fixed;
      z-index: 98;
      top: 0;
      bottom: 0;
      max-width: 100%;
      width: 250px;
      right: -250px;
      box-shadow: 0 0 0px transparent;

      transition:
        width $anim-duration-timing-function,
        right $anim-duration-timing-function,
        box-shadow $anim-duration-timing-function;

      @include app.media-breakpoint-down(sm) {
        width: 100%;
        right: -100%;
      }

      &--open {
        right: 0px;
        box-shadow: var(--mat-sys-level4);
      }

      &::before {
        content: '';
        position: absolute;
        height: $header-height;
        top: 0;
        left: 0;

        // Important:
        // This area must not cover the `.app-header__nav-inner` scrollbar.
        // According to the resource below, the scrollbar's width varies between 12 and 17 pixels (depending on the browser).
        //   - https://codepen.io/sambible/post/browser-scrollbar-widths
        right: 18px;

        background-color: transparent;
        box-shadow: 0px 0px 0px var(--mat-sys-surface-container);

        @include app.media-breakpoint-down(sm) {
          z-index: 1;

          background-color: var(--mat-sys-surface-container);
          box-shadow: 0px 10px 4px -4px var(--mat-sys-surface-container);
        }
      }
    }

    &__nav-inner {
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 2rem;

      box-sizing: border-box;
      padding-top: $header-height;
      height: 100%;
      overflow: auto;
      overscroll-behavior: contain;

      &--hidden {
        // This is the easiest way to prevent keyboard navigation on hidden elements.
        display: none !important;
      }
    }

    &__primary-nav {
      padding-inline: 1.25rem;
    }

    &__nav-backdrop {
      position: fixed;
      z-index: 97;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);

      animation: fadeInBackdrop $anim-duration-timing-function;

      &--closing {
        animation: fadeOutBackdrop $anim-duration-timing-function;
      }
    }
  }
}

:root {
  --app-header-home: #121212;
}

.gbl-theme-dark {
  --app-header-home: #f2f2f2;
}

@keyframes fadeInBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutBackdrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
