.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
}

.logo {
  line-height: 0;
}

.menu {
  display: flex;
  gap: 1.25em;
  padding: 0 1.25em;
}

.menu-item {
  position: relative;
  padding: 1.25em 0.25em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-item:hover,
.menu-item--active {
  color: #D52150;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0.75em;
  height: 4px;
  left: 50%;
  width: 0%;
  opacity: 0;
  border-radius: 4px;
  background-color: #D52150;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-item--active::after {
  left: 0%;
  width: 100%;
  opacity: 1;
}

.sign-out {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.sign-out:hover {
  color: #D52150;
}

@media only screen and (min-width: 768px) {
  .nav {
    padding: 0.25rem 0;
  }

  .burger {
    display: none;
  }
}

@media only screen and (max-width: 767.98px) {
  .nav {
    justify-content: space-between;
    padding: 0.25em 0;
  }

  .burger {
    z-index: 99;
    flex-basis: 20%;
    justify-content: flex-start;
  }

  .sign-out {
    flex-basis: 20%;
    justify-content: flex-end;
  }

  .menu {
    position: fixed;
    z-index: 98;
    box-sizing: border-box;
    top: 0em;
    width: 220px;
    left: -220px;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    padding: 80px 2em 1em 0;
    box-shadow: 0 0 0px #85888C;
    border-bottom-right-radius: 5px;
    background-color: #FFFFFF;
    transition: left 0.5s cubic-bezier(0.77,0.2,0.05,1.0), box-shadow 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu--visible {
    left: 0px;
    box-shadow: 0 0 10px #85888C;
  }

  /* --- V1 --- */
  .menu-item::after {
    left: 0%;
    width: 100%;
    height: 0px;
    bottom: 1.25em;
  }

  .menu-item--active::after {
    height: 4px;
    bottom: 0.75em;
  }

  /*
  --- V2 ---
  .menu-item::after {
    left: 100%;
  }

  .menu-item--active::after {
    left: 0%;
  }
  */
}
