<div class="app-header__burger">
  @if (userState().authenticated) {
    <app-burger class="app-header-menu-target" [(active)]="isMenuOpen"></app-burger>
  }
</div>

<div class="app-header__logo">
  <a routerLink="/home">
    <img src="assets/images/logo-feedzback.svg" width="106" height="56" alt="" />
  </a>
</div>

<nav class="app-header-menu app-header-menu-target mat-body-strong" [class.app-header-menu--visible]="isMenuOpen">
  @if (userState().authenticated && (isManagerReady$ | async)) {
    <a
      class="app-header-menu__item"
      routerLinkActive="app-header-menu__item--active"
      routerLink="/request"
      i18n="@@Feedback.Request"
    >
      Demander
    </a>
    <a
      class="app-header-menu__item"
      routerLinkActive="app-header-menu__item--active"
      routerLink="/give"
      i18n="@@Feedback.Give"
    >
      Donner
    </a>
    <a
      class="app-header-menu__item"
      routerLinkActive="app-header-menu__item--active"
      routerLink="/give-requested"
      [matBadge]="receivedRequestLength()"
      i18n="@@Feedback.Reply"
    >
      Répondre
    </a>
    <a
      class="app-header-menu__item"
      routerLinkActive="app-header-menu__item--active"
      routerLink="/history"
      i18n="@@Action.History"
      >Mes feedZbacks</a
    >

    @if (hasManagerFeature && isManager()) {
      <a
        class="app-header-menu__item"
        routerLinkActive="app-header-menu__item--active"
        routerLink="/manager"
        i18n="@@Action.Manager"
      >
        Manager
      </a>
    }
  }
</nav>

<div class="app-header-account">
  @if (!userState().guest) {
    @if (userInfo(); as userInfo) {
      <app-avatar
        class="app-header-account__photo"
        [photoUrl]="userInfo.photoURL"
        [name]="userInfo.displayName"
        [matMenuTriggerFor]="accountMenu"
      />
    } @else {
      <button mat-icon-button [matMenuTriggerFor]="accountMenu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
    }

    <mat-menu #accountMenu="matMenu" xPosition="before">
      @if (hasLocalizeFeature) {
        <ng-container [ngTemplateOutlet]="languageMenuItem" />
      }

      @if (hasManagerFeature && userState().authenticated) {
        <button mat-menu-item routerLink="/settings">
          <mat-icon color="primary">settings</mat-icon>
          <ng-container i18n="@@Title.Settings">Paramètres</ng-container>
        </button>
      }

      <button mat-menu-item (click)="signOut()">
        <mat-icon color="primary">logout</mat-icon>
        @if (userState().authenticated) {
          <ng-container i18n="@@Action.SignOut">Se déconnecter</ng-container>
        } @else {
          <ng-container i18n="@@Action.CloseSession">Fermer la session</ng-container>
        }
      </button>
    </mat-menu>
  } @else if (hasLocalizeFeature) {
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon color="primary">more_vert</mat-icon>
    </button>

    <mat-menu #accountMenu="matMenu" xPosition="before">
      <ng-container [ngTemplateOutlet]="languageMenuItem" />
    </mat-menu>
  }
</div>

<ng-template #languageMenuItem>
  <button mat-menu-item (click)="languageService.switchLanguage()">
    <mat-icon color="primary">translate</mat-icon>
    @switch (languageService.localeId) {
      @case ('fr') {
        English
      }
      @case ('en') {
        Français
      }
    }
  </button>
</ng-template>
