@use '../app' as app;

$anim-duration-timing-function: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

.app-header {
  position: relative;
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    line-height: 0;
  }

  &__burger {
    z-index: 99;
  }

  &__menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  @include app.media-breakpoint-up(md) {
    &__burger,
    &__nav-backdrop,
    &__logo--mobile {
      display: none;
    }

    &__logo--desktop,
    &__menu {
      flex-basis: 20%;
    }

    &__menu {
      // When device width become smaller, allow the `&__menu` width to be smaller than the `&__logo` width
      flex-shrink: 3;
    }
  }

  @include app.media-breakpoint-down(md) {
    &__logo--desktop {
      display: none;
    }

    &__burger,
    &__menu {
      flex-basis: 20%;
    }

    &__nav {
      position: fixed;
      z-index: 98;
      overflow: auto;
      box-sizing: border-box;
      top: 0;
      bottom: 0;
      max-width: 100%;
      width: 250px;
      left: -250px;
      padding: 80px 1.25rem 1.25rem 1.25rem;
      box-shadow: 0 0 0px transparent;
      border-bottom: 5px solid var(--mat-sys-primary);
      background-color: var(--mat-sys-surface-container);
      transition:
        left $anim-duration-timing-function,
        box-shadow $anim-duration-timing-function;

      &--open {
        left: 0px;
        box-shadow: var(--mat-sys-level4);
      }

      &--content-hidden > * {
        // This is the easiest way to prevent keyboard navigation on hidden elements.
        display: none !important;
      }

      &-backdrop {
        position: fixed;
        z-index: 97;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);

        animation: fadeInBackdrop $anim-duration-timing-function;

        &--closing {
          animation: fadeOutBackdrop $anim-duration-timing-function;
        }
      }
    }
  }
}

@keyframes fadeInBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutBackdrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
