<div class="app-header__burger">
  @if (userStatus().authenticated) {
    <app-burger class="app-header-menu-target" [(active)]="isMenuOpen"></app-burger>
  }
</div>

<div class="app-header__logo">
  <a
    routerLink="/home"
    routerLinkActive
    appFocusContentOnRouting
    ariaCurrentWhenActive="page"
    aria-label="Accueil"
    i18n-aria-label="@@Component.Header.HomeLink"
  >
    <img src="assets/images/logo-feedzback.svg" width="106" height="56" alt="" />
  </a>
</div>

<nav class="app-header__menu app-header-menu-target mat-title-medium" [class.app-header__menu--visible]="isMenuOpen">
  @if (userStatus().authenticated) {
    <a
      class="app-header__menu-item"
      routerLinkActive="app-header__menu-item--active"
      routerLink="/request"
      appFocusContentOnRouting
      ariaCurrentWhenActive="page"
      i18n="@@Feedback.Request"
    >
      Demander
    </a>
    <a
      class="app-header__menu-item"
      routerLinkActive="app-header__menu-item--active"
      routerLink="/give"
      appFocusContentOnRouting
      ariaCurrentWhenActive="page"
      i18n="@@Feedback.Give"
    >
      Donner
    </a>
    <a
      class="app-header__menu-item"
      routerLinkActive="app-header__menu-item--active"
      routerLink="/give-requested"
      appFocusContentOnRouting
      ariaCurrentWhenActive="page"
      [matBadge]="receivedRequestLength()"
      i18n="@@Feedback.Reply"
    >
      Répondre
    </a>
    <a
      class="app-header__menu-item"
      routerLinkActive="app-header__menu-item--active"
      routerLink="/history"
      appFocusContentOnRouting
      ariaCurrentWhenActive="page"
      i18n="@@Action.History"
      >Mes feedZbacks</a
    >

    @if (isManager()) {
      <a
        [@smoothWidth]="device() !== 'mobile'"
        class="app-header__menu-item"
        routerLinkActive="app-header__menu-item--active"
        routerLink="/manager"
        appFocusContentOnRouting
        ariaCurrentWhenActive="page"
        i18n="@@Action.Manager"
      >
        Manager
      </a>
    }
  }
</nav>

@if (isMenuOpen) {
  <div class="app-header__menu-backdrop" @fadeInOut></div>
}

<div class="app-header__user-menu">
  @if (userInfo(); as _userInfo) {
    <button
      aria-label="Menu utilisateur"
      i18n-aria-label="@@Component.Header.UserMenu"
      class="gbl-button-less"
      [matMenuTriggerFor]="userMenu"
    >
      <app-avatar class="app-header__user-menu-photo" [photoUrl]="_userInfo.photoURL" [name]="_userInfo.displayName" />
    </button>
  } @else {
    <button
      aria-label="Menu utilisateur"
      i18n-aria-label="@@Component.Header.UserMenu"
      mat-icon-button
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon class="gbl-sys-primary">more_vert</mat-icon>
    </button>
  }

  <mat-menu #userMenu="matMenu" xPosition="before" class="gbl-overlay-menu">
    <button mat-menu-item (click)="languageService.switchLanguage()">
      <mat-icon class="gbl-sys-primary">translate</mat-icon>
      @switch (languageService.localeId) {
        @case ('fr') {
          <span lang="en">English</span>
        }
        @case ('en') {
          <span lang="fr">Français</span>
        }
      }
    </button>

    <button mat-menu-item (click)="themeService.switch()">
      <mat-icon class="gbl-sys-primary">{{ themeService.theme() === 'light' ? 'dark_mode' : 'light_mode' }}</mat-icon>
      @if (themeService.theme() === 'light') {
        <ng-container i18n="@@Action.DarkTheme">Thème foncé</ng-container>
      } @else {
        <ng-container i18n="@@Action.LightTheme">Thème clair</ng-container>
      }
    </button>

    @if (userStatus().authenticated) {
      <button mat-menu-item routerLink="/settings" appFocusContentOnRouting>
        <mat-icon class="gbl-sys-primary">settings</mat-icon>
        <ng-container i18n="@@Title.Settings">Paramètres</ng-container>
      </button>
    }

    @if (!userStatus().guest) {
      <button mat-menu-item (click)="signOut()">
        <mat-icon class="gbl-sys-primary">logout</mat-icon>
        @if (userStatus().authenticated) {
          <ng-container i18n="@@Action.SignOut">Se déconnecter</ng-container>
        } @else {
          <ng-container i18n="@@Action.CloseSession">Fermer la session</ng-container>
        }
      </button>
    }
  </mat-menu>
</div>
