<h1 class="gbl-page-title"><mat-icon>forum</mat-icon> Mes feedZbacks</h1>

<mat-tab-group animationDuration="0ms" [selectedIndex]="tabIndex" (selectedTabChange)="onTabIndexChange($event.index)">
  <mat-tab label="reçus">
    <ng-container [ngTemplateOutlet]="filterTmpl" />

    @if (feedbackType.received.length) {
      <app-feedback-list [type]="feedbackType.received" [feedbacks]="received" [filter]="filter"></app-feedback-list>
    } @else if (fetched) {
      <ng-container [ngTemplateOutlet]="noFeedbacksTmpl" />
    }
  </mat-tab>

  <mat-tab label="envoyés">
    <ng-container [ngTemplateOutlet]="filterTmpl" />

    @if (feedbackType.sent.length) {
      <app-feedback-list [type]="feedbackType.sent" [feedbacks]="sent" [filter]="filter"></app-feedback-list>
    } @else if (fetched) {
      <ng-container [ngTemplateOutlet]="noFeedbacksTmpl" />
    }
  </mat-tab>
</mat-tab-group>

<ng-template #filterTmpl>
  <mat-form-field appearance="fill" class="app-my-feedbacks__filter">
    <input #input matInput placeholder="Rechercher par l'email" [value]="filter" (keyup)="filter = input.value" />

    @if (filter) {
      <mat-icon mat-icon-button color="warn" matIconSuffix role="button" (click)="filter = ''"> close </mat-icon>
    }

    <mat-icon matIconSuffix>search</mat-icon>
  </mat-form-field>
</ng-template>

<ng-template #noFeedbacksTmpl>
  <div class="app-my-feedbacks__empty"><mat-icon>sentiment_dissatisfied</mat-icon> Aucun feedZback</div>
</ng-template>

<router-outlet />
