<mat-icon class="app-review-stats__logo">bar_chart_4_bars</mat-icon>

<div class="app-review-stats__info">
  <div i18n="@@Component.ReviewStats.Info1">
    <strong>{{ stats().averageOutOfFive }} sur 5</strong> de moyenne
  </div>

  <div i18n="@@Component.ReviewStats.Info2" class="opacity-60">
    <strong>{{ stats().numberOfReviews }}</strong> évaluations
  </div>
</div>

<table class="app-review-stats__chart">
  @for (sentiment of sentiments; track sentiment.note) {
    <tr [matTooltip]="sentiment.text" matTooltipPosition="after">
      <td class="app-review-stats__icon">
        <mat-icon>{{ sentiment.icon }}</mat-icon>
      </td>
      <td>
        <div class="app-review-stats__bar">
          <div [style.width]="stats().percentagePerNote[sentiment.note] + '%'"></div>
        </div>
      </td>
      <th class="app-review-stats__percent">{{ stats().percentagePerNote[sentiment.note] }}%</th>
    </tr>
  }
</table>
