@use '../../../app.scss' as app;

.app-review-stats {
  &__logo {
    float: right;
    transform: scale(1.25);
    transform-origin: top;
    opacity: 0.15;
  }

  &__info {
    margin-bottom: 1em;
    font-size: 0.85rem;
  }

  &__chart {
    cursor: default;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 0.75rem;

    &,
    tr,
    th,
    td {
      border: none;
      padding: 0;
    }
  }

  &__icon {
    line-height: 0;

    mat-icon {
      margin: 2px 0;
    }
  }

  &__bar {
    margin: 0 1em;
    position: relative;
    width: 150px;
    height: 0.75em;
    border-radius: 0.25em;
    background-color: rgba(0 0 0 / 0.1);

    > * {
      height: 100%;
      border-radius: 0.25rem;
      background-color: app.$primary-color;
    }
  }

  &__percent {
    text-align: right;
  }
}
