<mat-form-field appearance="outline" class="app-emails-field__field">
  <mat-label i18n="@@EmailsField.EmailsOfYourColleagues">Emails de vos collègues</mat-label>

  <mat-chip-grid #chipGrid [formControl]="emails">
    @for (email of emails.value; track email) {
      <mat-chip-row
        [class.app-emails-field__error]="isInvalidEmail(email)"
        [aria-description]="'Editer ' + email"
        [editable]="true"
        (edited)="edit(email, $event)"
        (removed)="remove(email)"
      >
        {{ email }}

        <button matChipRemove [attr.aria-label]="'Effacer ' + email"><mat-icon>cancel</mat-icon></button>
      </mat-chip-row>
    }

    <input
      [placeholder]="multipleEmailsPlaceholder"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-grid>

  <mat-hint align="start" i18n="@@EmailsField.Hint">Séparez les emails par des virgules</mat-hint>

  <mat-error>{{ emails.errors | validationErrorMessage }}</mat-error>
</mat-form-field>
