.app-feedback-details {
  &__addons {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    opacity: 0.7;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      gap: 1.5rem;
    }

    mat-icon {
      vertical-align: text-bottom;
      transform: scale(0.75);
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    &__item {
      flex-grow: 1;
    }

    mat-icon {
      transform: scale(1.2);
    }
  }

  &__comment-title {
    margin: 1.5rem 0 0 0 !important;
  }

  &__back {
    margin-top: 1.5rem !important;

    a {
      padding: 0.5rem 0.5rem 0.5rem 0;
    }

    mat-icon {
      vertical-align: text-bottom;
    }
  }
}
