<h1 class="gbl-page-title">
  <mat-icon>forum</mat-icon>
  FeedZback
  <ng-container *ngIf="type && feedback">
    {{ type === feedbackType.received ? 'reçu de ' + feedback.senderName : 'envoyé à ' + feedback.receverName }}
  </ng-container>
</h1>

<app-message *ngIf="feedback === null" type="danger">
  <strong>Oops&nbsp;!</strong><br />
  Ce feedZback est introuvable.
</app-message>

<div *ngIf="type && feedback" class="app-feedback-details__addons">
  <div>
    <mat-icon>email</mat-icon>
    {{ type === feedbackType.received ? feedback.senderEmail : feedback.receverEmail }}
  </div>

  <div>
    <mat-icon>calendar_today</mat-icon>
    {{ feedback.createdAt | date }}
  </div>
</div>

<ng-container *ngIf="feedback">
  <div class="app-feedback-details-box">
    <mat-card appearance="outlined" class="app-feedback-details-box__item">
      <mat-card-header>
        <mat-card-title><mat-icon>new_releases</mat-icon> Points positifs</mat-card-title>
      </mat-card-header>

      <mat-card-content class="mat-h4">{{ feedback.positiveFeedback }}</mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="app-feedback-details-box__item">
      <mat-card-header>
        <mat-card-title><mat-icon>moving</mat-icon> Axes d'améliorations</mat-card-title>
      </mat-card-header>

      <mat-card-content class="mat-h4">{{ feedback.toImprove }}</mat-card-content>
    </mat-card>
  </div>

  <ng-container *ngIf="feedback.comment">
    <h2 class="app-feedback-details__comment-title"><mat-icon>notes</mat-icon> Commentaires</h2>
    <p class="mat-h4">{{ feedback.comment }}</p>
  </ng-container>
</ng-container>

<p *ngIf="type" class="app-feedback-details__back">
  <a [routerLink]="['/feedbacks']" [queryParams]="{ type: type }" class="gbl-link gbl-link--no-underline">
    <mat-icon>arrow_back</mat-icon>
    retour
  </a>
</p>
