.app-feedback-details {
  &__addons {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    opacity: 0.7;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    &-item {
      flex-grow: 1;
    }
  }
}
