@use '../../app.scss' as app;

.app-manager-feedback-list {
  display: block;
  width: 100%;
  overflow: auto;

  &__filter {
    width: 100%;

    mat-icon {
      cursor: pointer;
    }
  }

  &__expand {
    width: 1%;
  }

  &__item {
    padding: 1rem 0;
  }

  &__row {
    cursor: pointer;
    transition: background-color 225ms ease;

    &:hover:not(&--expanded) {
      background-color: rgb(0 0 0 / 0.025);
    }

    > td {
      transition:
        color 225ms ease,
        border-bottom-color 0ms ease 225ms;
    }

    &--expanded > td {
      transition: color 225ms ease;
      border-bottom-color: transparent;
      color: app.$primary-color;
      font-weight: bold;
    }
  }

  &__row-detail {
    height: 0 !important;

    > td {
      transition: none;
    }

    &--collapsed > td {
      transition: border-bottom-color 0ms ease 225ms;
      border-bottom-color: transparent;
    }
  }
}
