<h1 class="gbl-page-title">
  <mat-icon>feedback</mat-icon>
  <ng-container i18n="@@Title.PreRequestToken">Répondre à une demande de feedZback</ng-container>
</h1>

@if (receiverEmail) {
  <app-message type="info" nonclosable>
    <ng-container i18n="@@Component.PreRequestToken.Message1">
      Vous répondez à la demande de feedZback qui vous a été envoyée par
    </ng-container>
    <strong>{{ receiverEmail }}</strong
    >.

    @if (message) {
      <br />
      <ng-container i18n="@@Component.PreRequestToken.RequestMessage">Message de la demande :</ng-container>
      {{ message }}
    }

    @if (shared) {
      <br />
      <strong i18n="@@Component.PreRequestToken.Message2">
        Notez que votre feedZback sera partagé avec son manager.
      </strong>
      <button
        type="button"
        class="gbl-button-less gbl-link align-middle"
        appDialogTooltip
        ariaLabelFromDialogTitle
        dialogTitle="FeedZback partagé"
        dialogContent="Le destinataire du feedZback et son manager pourront échanger ensemble et ainsi bénéficier au mieux de son contenu."
        dialogWidth="600px"
        i18n-dialogTitle="@@Component.GiveRequestedFeedback.ShareFeedbackMessageTitle"
        i18n-dialogContent="@@Component.GiveRequestedFeedback.ShareFeedbackMessageContent"
      >
        <mat-icon>help</mat-icon>
      </button>
    }
  </app-message>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (submitError) {
      <app-message type="danger" icon="error">
        {{ submitError }}
      </app-message>
    }

    <mat-form-field appearance="outline" class="gbl-form-field">
      <mat-label i18n="@@Component.PreRequestToken.YourEmail">Votre email</mat-label>
      <input
        [formControl]="form.controls.giverEmail"
        matInput
        type="email"
        autocomplete="email"
        i18n-placeholder="@@Component.PreRequestToken.EmailPlaceholder"
        placeholder="votre.email@exemple.com"
      />
      @if (form.controls.giverEmail.errors?.['emailSameAsReceiver']) {
        <mat-error i18n="@@Component.PreRequestToken.SameEmailError">
          Vous ne pouvez pas utiliser la même adresse email
        </mat-error>
      } @else {
        <mat-error>{{ form.controls.giverEmail | validationErrorMessage }}</mat-error>
      }
    </mat-form-field>

    <div class="gbl-form-submit">
      <button [disabled]="form.invalid || form.disabled" mat-flat-button type="submit">
        <mat-icon>send</mat-icon>
        <ng-container i18n="@@Action.Submit">Envoyer</ng-container>
      </button>

      <div class="gbl-form-submit__info">
        <mat-icon>info</mat-icon>
        <ng-container i18n="@@Message.FieldsRequired">Les champs marqués d'une * sont obligatoires</ng-container>
      </div>
    </div>
  </form>
}
