  <html>
    <head>
      <title>FeedZback</title>
    <style>
      .btn {
        background: #D52150;
        border: 1px solid #D52150;
        color: #fefefe !important;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
        align-items: center;
      }
    </style>
    </head>
    <body>
      <p>Bonjour <%=email%></p>
      <p>Votre collègue <%=senderName%> vous demande de lui faire un retour!</p>
      <% if (text !== '') { %>
      <p><b>Commentaire:</b></p>
      <p><%=text%></p>
      <% } %>
        <br>
          <div style="align-content: center;">
          <a class="btn" href="<%=urlClientForm%>?<%=params%>">SAISIR VOTRE FEEDZBACK</a>
          </div>
        <br>
        <p>L’équipe Feedzback</p>
        <br>
    </body>
  </html>
