  <html>
    <head>
      <title>FeedZback</title>
    </head>
    <body>
      <p>Bonjour <%=name%></p>
    
      <p>Votre collègue <%=senderName%>  vous demande de lui envoyer un feedzback!</p>
      <% if (text !== '') { %>
      <p><b>Text</b></p>
      <p><%=text%></p>
      <% } %>
        <br>
        <br>
        <p>Cliquez le lien dessous pour lui envoyer le feedback souhaté!</p>
        <a href="https://client-service-dot-feedzback-343709.ew.r.appspot.com/formulaire'">FeedZback</a>
        <p>L’équipe Feedzback</p>

    </body>
  </html>
