<h2 class="app-stats-details__heading mt-6!">Users overview</h2>
<div echarts [theme]="chartTheme()" [options]="usersOverviewChartOptions()" class="app-stats-details__chart"></div>

<h2 class="app-stats-details__heading">Givers and receivers</h2>
<div echarts [theme]="chartTheme()" [options]="giversAndReceiversChartOptions()" class="app-stats-details__chart"></div>

<h2 class="app-stats-details__heading">FeedZbacks</h2>
<div echarts [theme]="chartTheme()" [options]="feedbacksChartOptions()" class="app-stats-details__chart"></div>
