<h2 class="mat-title-large !mt-6 text-center">Users overview</h2>
<div echarts [theme]="chartTheme()" [options]="usersOverviewChartOptions()" class="app-stats-details__chart"></div>

<h2 class="mat-title-large text-center">Givers and receivers</h2>
<div echarts [theme]="chartTheme()" [options]="giversAndReceiversChartOptions()" class="app-stats-details__chart"></div>

<h2 class="mat-title-large text-center">FeedZbacks</h2>
<div echarts [theme]="chartTheme()" [options]="feedbacksChartOptions()" class="app-stats-details__chart"></div>
