// Note: global styles starts with `.gbl-*`.

@use './mixins.scss' as m;

h1.gbl-page-title {
  display: flex;
  align-items: center;
  gap: calc(1rem + 1vw);
  color: #d52150;

  &--center {
    justify-content: center;
  }

  mat-icon {
    transform-origin: left;
    transform: scale(1.5);

    @include m.media-breakpoint-up(xl) {
      transform: scale(2);
    }
  }
}

.gbl-link {
  &,
  &:link,
  &:visited {
    cursor: pointer; // usefull when used like this: `<div class="gbl-link" role="presentation" (click)="onClick()">Link</div>`
    text-decoration: none;
    transition: color ease 0.3s;
    color: #d52150;
  }

  &:hover,
  &:active {
    text-decoration: underline;
    color: rgb(213 33 80 / 0.8);
  }

  &--no-underline {
    text-decoration: none !important;
  }
}
