<div class="container">
  <div class="card-view">
    <div class="connection-logo-wrapper">
      <img class="connection-logo" src="/assets/logo-feedZback-final.svg" />
    </div>
    <h2>Service de feedbacks constructifs de Zenika</h2>
    <h3>Connectez-vous</h3>
    <button class="google-sign-in" type="button"  (click)="authService.signInWithGoogle()">
     <div class="google-logo-wrapper">
       <img src="/assets/google-icon.svg"/>
      </div>
        <div class="google-text-btn"><span >Connectez-vous avec Google</span></div>
    </button>
  </div>
</div>
