<h1 class="gbl-landing__title mat-headline-3" i18n="@@Title.AppTagline">
  Demandez ou donnez du feedback à vos collègues
</h1>

<div class="gbl-landing-links">
  <button
    class="gbl-landing-links__item mat-body-strong"
    type="button"
    [disabled]="disabled"
    (click)="signInWithGoogle()"
  >
    <mat-icon class="gbl-landing-links__icon rounded-full bg-white" svgIcon="app-icon-google"></mat-icon>
    <ng-container i18n="@@Action.SignInWithGoogle">Connectez-vous avec Google</ng-container>
  </button>
</div>

@if (signInErrorMessage) {
  <div class="app-sign-in__error">Sign-in error: {{ signInErrorMessage }}</div>
}

<div>
  <img src="assets/images/logo-zenika.svg" width="138" height="42" alt="Logo Zenika" />
</div>
