@use './variables' as v;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: v.$background-grey-color;
  color: v.$dark-primary-text;
  font-family: 'Nunito', sans-serif;

  // Angular material components use the following font-smoothing properties (so, we want the other contents to have the same render)
  // More infos: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: 1.5rem 0;
  border: none;
  border-top: 1px solid #cccccc;
}
