// Note: global styles starts with `.gbl-*`.

.gbl-sys-primary,
.gbl-sys-primary-hover:hover {
  color: var(--mat-sys-primary) !important;
}
.gbl-sys-primary-hover--transition {
  transition: color ease 250ms;
}

:root {
  --gbl-color-on-surface-accent: #0a0a0a; // currently, `--mat-sys-on-surface` is `#1f1f1f`
}
.gbl-theme-dark {
  --gbl-color-on-surface-accent: #ebebeb; // currently, `--mat-sys-on-surface` is `#d6d6d6`
}
