// Note: global styles starts with `.gbl-*`.

@use './mixins' as m;

/* ----- Page title ----- */

h1.gbl-page-title {
  margin: 0 0 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--mat-sys-primary);
  font: var(--mat-sys-headline-large);
  letter-spacing: var(--mat-sys-headline-large-tracking);
  text-wrap: balance;

  &--center {
    justify-content: center;
  }

  mat-icon {
    width: 1em;
    height: 1em;
    font-size: 1.25em;
  }

  @include m.media-breakpoint-down(sm) {
    flex-direction: column;
    text-align: center;

    mat-icon {
      font-size: 1.5em;
    }
  }
}

/* ----- button less ----- */

.gbl-button-less {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  line-height: inherit;
  text-align: inherit;
  font: inherit;
}

/* ----- Link ----- */

.gbl-link {
  &,
  &:link,
  &:visited {
    cursor: pointer; // usefull when used like this: `<div class="gbl-link" role="presentation" (click)="onClick()">Link</div>`
    text-decoration: none;
    color: var(--mat-sys-primary);
    transition: opacity 250ms ease;
  }

  &:hover,
  &:active {
    text-decoration: underline;
    opacity: 0.7;
  }

  // In case the markup is `<button class="gbl-button-less gbl-link" disabled>`
  &:disabled {
    text-decoration: none !important;
    opacity: 0.5;
  }

  &--no-underline {
    text-decoration: none !important;
  }

  &--back {
    position: absolute;
    top: 0rem;
    left: 1.125rem; // same as left-padding of the `grid-area: main`
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 0.25rem 0;
    border: none;
    background: none;
    font: inherit;
    font-size: smaller;
    color: var(--mat-sys-on-surface-variant);
    text-decoration: none !important;

    mat-icon {
      width: 1em;
      height: 1em;
      font-size: 1.125rem;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    &:hover {
      color: var(--mat-sys-primary);

      mat-icon {
        transform: translateX(-0.25rem) scale(1.25);
      }
    }
  }
}

/* ----- List ----- */

ul.gbl-list,
ol.gbl-list {
  margin: 0 0 1rem 1rem;
  text-align: left;

  & & {
    margin: 0;
    padding: 0 0 0 2rem;
  }
}

li.gbl-list__item {
  &::marker {
    color: var(--mat-sys-primary);
  }
}

ul.gbl-list {
  list-style: none;
  padding-left: 0.5em;

  > li.gbl-list__item {
    padding-left: 0.5em;

    &::marker {
      content: '◦';
    }

    ul.gbl-list > li.gbl-list__item::marker {
      content: '→';
    }
  }
}

/* ----- Icon list ----- */

.gbl-icon-list {
  list-style: none;
  margin: 0 0 1.25rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;

  &__item {
    display: flex;
    align-items: flex-start;
  }

  &__icon {
    margin-right: 0.3em;
    width: 1em !important;
    height: 1em !important;
    font-size: 1.25rem;
  }

  &--horizontal-md {
    @include m.media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      gap: 1.25rem;
    }
  }

  &--horizontal-lg {
    @include m.media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: center;
      gap: 1.25rem;
    }
  }
}

/* ----- Overlay menu ----- */

.gbl-overlay-menu {
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
