// Note: global styles starts with `.gbl-*`.

@use './variables.scss' as v;
@use './mixins.scss' as m;

/* ----- Page title ----- */

h1.gbl-page-title {
  margin: 0 0 1.5rem 0;
  display: flex;
  align-items: center;
  gap: min(1rem + 1vw, 2rem);
  color: v.$primary-color;

  &--center {
    justify-content: center;
  }

  mat-icon {
    transform-origin: left;
    transform: scale(1.5);

    @include m.media-breakpoint-up(xl) {
      transform: scale(2);
    }
  }

  @include m.media-breakpoint-down(sm) {
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
  }
}

/* ----- Link ----- */

.gbl-link {
  &,
  &:link,
  &:visited {
    cursor: pointer; // usefull when used like this: `<div class="gbl-link" role="presentation" (click)="onClick()">Link</div>`
    text-decoration: none;
    transition: color 250ms ease;
    color: v.$primary-color;
  }

  &:hover,
  &:active {
    text-decoration: underline;
    color: rgba(v.$primary-color, 0.8);
  }

  &--no-underline {
    text-decoration: none !important;
  }

  &--back {
    position: absolute;
    top: 0rem;
    left: 1rem; // same as left-padding of the `grid-area: main`
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 0.25rem 0;
    border: none;
    background: none;
    font: inherit;
    font-size: smaller;
    color: rgb(110, 107, 107);
    text-decoration: none !important;

    mat-icon {
      transform: scale(0.75);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    &:hover {
      color: v.$primary-color;

      mat-icon {
        transform: translateX(-0.25rem);
      }
    }
  }
}

/* ----- Lists ----- */

ul.gbl-list,
ol.gbl-list {
  margin: 0 0 1rem 1rem;
  text-align: left;

  & & {
    margin: 0;
    padding: 0 0 0 2rem;
  }
}

li.gbl-list__item {
  &::marker {
    color: v.$primary-color;
  }
}

ul.gbl-list {
  list-style: none;
  padding-left: 0.5em;

  > li.gbl-list__item {
    padding-left: 0.5em;

    &::marker {
      content: '◦';
    }

    ul.gbl-list > li.gbl-list__item::marker {
      content: '→';
    }
  }
}
