// Import Google icons
@import 'material-symbols/rounded.css';

// Source: @import '@fontsource/nunito/300.css';
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    url(../../node_modules/@fontsource/nunito/files/nunito-latin-300-normal.woff2) format('woff2'),
    url(../../node_modules/@fontsource/nunito/files/nunito-latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Source: @import '@fontsource/nunito/400.css';
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(../../node_modules/@fontsource/nunito/files/nunito-latin-400-normal.woff2) format('woff2'),
    url(../../node_modules/@fontsource/nunito/files/nunito-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Source: @import '@fontsource/nunito/600.css';
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;

  // Angular Material use a `font-weight: 500` to display "bold" content.
  // But the Nunito "500" is not bold enough!
  // Thus, we use Nunito "600" in the "src" below instead.
  font-weight: 500;

  src:
    url(../../node_modules/@fontsource/nunito/files/nunito-latin-600-normal.woff2) format('woff2'),
    url(../../node_modules/@fontsource/nunito/files/nunito-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
