// Note: global styles starts with `.gbl-*`.

@use './mixins.scss' as m;

.gbl-info {
  height: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__icon {
    width: 1em !important;
    height: 1em !important;
    font-size: 7rem;
    color: var(--sys-primary);
    animation: gblInfoAnim 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  &__title {
    text-wrap: balance;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;

    @include m.media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}

@keyframes gblInfoAnim {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
