// Note: global styles starts with `.gbl-*`.

@use 'sass:color';

@use './functions' as f;
@use './variables' as v;
@use './mixins' as m;

// Note: to apply this global CSS class on an Angular component, you can use the dedicated `LandingDirective` directive
// (more infos: src/app/shared/landing/landing.directive.ts)

.gbl-landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  text-align: center;

  @if v.$use-background {
    &::before,
    &::after {
      content: '';
      position: fixed;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background-color: var(--gbl-surface);
    }

    &::after {
      background: url(../../public/assets/images/landing-bg.svg) center repeat;
      background-size: 480px;
      opacity: 0.5;
    }

    &--anim-1::after {
      animation: gblLandingAnim1 45s linear infinite;
    }
    &--anim-2::after {
      animation: gblLandingAnim2 45s linear infinite;
    }
  }

  &__title {
    margin: 0 !important;
    text-wrap: balance;
    color: var(--gbl-primary);

    @if v.$use-background {
      padding: 1.5rem 3rem;
      border-radius: 0.5rem;
      background-color: var(--app-landing-title);
    }

    @include m.media-breakpoint-down(sm) {
      padding: 1.5rem;
    }
  }

  &-links {
    margin: 0;
    align-self: normal; // as flex item
    display: flex; // as flex box
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;

    @include m.media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &__item {
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.75em;
      padding: 1em 4em;
      box-shadow: 0px 6px 3px -3px rgb(0 0 0 / 0.2);
      border-radius: 1rem;
      border: 1px solid var(--gbl-outline-variant);
      background: var(--gbl-primary);
      color: var(--gbl-on-primary);
      font-size: 1.25rem;
      transition: all 250ms ease-in-out;

      @include m.media-breakpoint-down(md) {
        flex-direction: column;
        gap: 0.5em;
      }

      @include m.media-breakpoint-down(sm) {
        padding: 1em 2em;
      }

      &:hover,
      &:disabled {
        box-shadow: none;
        transform: translateY(3px);
      }

      &:disabled {
        opacity: 0.65;
        border-color: var(--gbl-outline-variant);
        background-color: var(--gbl-surface-container);
        color: var(--gbl-on-surface);
        cursor: default;
      }
    }

    &__icon {
      width: 1em !important;
      height: 1em !important;
      font-size: 2.5em;
    }
  }
}

@keyframes gblLandingAnim1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(270px);
  }
}

@keyframes gblLandingAnim2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  90% {
    transform: scale(1.9);
    opacity: 0.15;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

:root {
  --app-landing-title: #{rgba($color: f.get-light-theme-color(surface-container-lowest), $alpha: 0.7)};
}

.gbl-theme-dark {
  --app-landing-title: #{rgba($color: f.get-dark-theme-color(surface-container-lowest), $alpha: 0.7)};
}
