// Note: global styles starts with `.gbl-*`.

@use 'sass:color';

@use './variables' as v;
@use './mixins' as m;

.gbl-landing {
  --gbl-landing-circle-from: rgb(from var(--mat-sys-surface) r g b / 0);
  --gbl-landing-circle-to: rgb(from var(--mat-sys-surface) r g b / 1);

  height: 100%;

  display: grid;
  gap: 2.5rem;
  grid-template-columns: minmax(0, 0.55fr) minmax(0, 0.45fr);
  grid-template-rows: auto;
  grid-template-areas: 'content picture';

  &__content,
  &__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    grid-area: content;
    align-items: flex-start;
    text-align: start;
  }

  &__picture {
    grid-area: picture;
    align-items: flex-end;
    text-align: end;

    img {
      width: 100%;
    }
  }

  @include m.media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
      'content'
      'picture';

    &__content,
    &__picture {
      align-items: center;
      text-align: center;
    }

    &__picture {
      img {
        width: 55%;
        min-width: 280px;
      }
    }
  }

  &__title {
    margin: 0 0 1.25rem 0;
    font: var(--mat-sys-headline-medium);
    letter-spacing: var(--mat-sys-headline-medium-tracking);
    text-wrap: balance;
    //color: var(--gbl-color-on-surface-accent);
  }

  &__subtitle {
    margin: 0 0 3.75rem 0;
    font-size: 1.25rem;
    text-wrap: balance;
  }

  &__links {
    align-self: normal; // as flex item
    display: flex; // as flex box
    flex-wrap: wrap;
    gap: 1.25rem;

    @include m.media-breakpoint-down(md) {
      justify-content: center;
    }

    @include m.media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &:not(:has(.gbl-landing__picture)) {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'content';

    &::before,
    &::after {
      content: '';
      position: fixed;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background: url(../../public/assets/images/landing-bg.svg) center repeat;
      background-size: 480px;
      opacity: 0.5;
      animation: gblLandingAnim 45s linear infinite;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }

    &::after {
      background: radial-gradient(var(--gbl-landing-circle-from) 35%, var(--gbl-landing-circle-to) 70%);
    }
  }

  &:not(:has(.gbl-landing__picture)) &__content {
    align-items: center;
    text-align: center;
  }

  &:not(:has(.gbl-landing__picture)) &__links {
    justify-content: center;
  }
}

@keyframes gblLandingAnim {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.35;
  }
  90% {
    opacity: 0.15;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
