// Note: global styles starts with `.gbl-*`.

@use 'sass:color';

@use './variables' as v;
@use './mixins' as m;

.gbl-landing {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;

  @include m.media-breakpoint-down(sm) {
    align-items: center;
    text-align: center;
  }

  &--centered {
    align-items: center;
    text-align: center;
  }

  &::before,
  &::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::before {
    background: url(../../public/assets/images/landing-bg.svg) center repeat;
    background-size: 480px;
    opacity: 0.5;
    animation: gblLandingAnim 45s linear infinite;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &::after {
    background: radial-gradient(var(--app-landing-circle-from) 35%, var(--app-landing-circle-to) 70%);
  }

  &__title {
    margin: 0;
    font: var(--mat-sys-headline-medium);
    letter-spacing: var(--mat-sys-headline-medium-tracking);
    text-wrap: balance;
    color: var(--app-landing-title);
  }

  &__paragraph {
    margin: 0;
    font: var(--mat-sys-title-medium);
    letter-spacing: var(--mat-sys-title-medium-tracking);
    text-wrap: balance;
  }

  &__links {
    align-self: normal; // as flex item
    display: flex; // as flex box
    flex-wrap: wrap;
    gap: 1.5rem;

    @include m.media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &--centered &__links {
    justify-content: center;
  }
}

@keyframes gblLandingAnim {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.15;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

:root {
  --app-landing-circle-from: #{rgba($color: #ebebeb, $alpha: 0)}; // based on `surface`
  --app-landing-circle-to: #{rgba($color: #ebebeb, $alpha: 1)}; // based on `surface`
  --app-landing-title: #121212;
}

.gbl-theme-dark {
  --app-landing-circle-from: #{rgba($color: #141414, $alpha: 0)}; // based on `surface`
  --app-landing-circle-to: #{rgba($color: #141414, $alpha: 1)}; // based on `surface`
  --app-landing-title: #f2f2f2;
}
