@use 'sass:map';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$breakpoint-xs: map.get($grid-breakpoints, xs);
$breakpoint-sm: map.get($grid-breakpoints, sm);
$breakpoint-md: map.get($grid-breakpoints, md);
$breakpoint-lg: map.get($grid-breakpoints, lg);
$breakpoint-xl: map.get($grid-breakpoints, xl);
$breakpoint-xxl: map.get($grid-breakpoints, xxl);

@mixin media-breakpoint-up($breakpoint) {
  @if map.has-key($grid-breakpoints, $breakpoint) == false {
    @error 'Invalid breakpoint value: "#{$breakpoint}" (allowed values: xs, sm, md, lg, xl, xxl)';
  }

  @media only screen and (min-width: map.get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @if map.has-key($grid-breakpoints, $breakpoint) == false {
    @error 'Invalid breakpoint value: "#{$breakpoint}" (allowed values: xs, sm, md, lg, xl, xxl)';
  }

  @media only screen and (max-width: #{map.get($grid-breakpoints, $breakpoint) - 0.02}) {
    @content;
  }
}
