$use-background: false;

$primary-color: #ee2238;
$primary-color-darker: #bf1d67;

$accent-color: #a188ef;
$accent-color-darker: #7c86e9;

$background-grey-color: #f2f2f2;
$forground-grey-color: #666666;

$dark-primary-text: #1e1e1e;
$light-primary-text: #ffffff;
