<h1 class="gbl-page-title">
  <mat-icon>{{ type() | feedbackTypeIcon }}</mat-icon>
  {{ title() }}
</h1>

<ul class="gbl-icon-list gbl-icon-list--horizontal-md">
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">email</mat-icon>
    {{ colleagueEmail() }}
  </li>

  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">calendar_today</mat-icon>
    {{ feedback().updatedAt | date: 'longDate' }}
  </li>
</ul>

<app-feedback-body [feedback]="feedback()" />

@if (feedback().shared) {
  <ul class="gbl-icon-list">
    <li class="gbl-icon-list__item">
      <mat-icon class="gbl-icon-list__icon">share</mat-icon>
      {{ sharedMessage() }}
    </li>
  </ul>
}

<form
  class="pt-4"
  [formGroup]="archiveForm"
  [appConfirmBeforeSubmit]="archive.bind(this)"
  appConfirmBeforeSubmitConfig="archiveFeedback"
>
  <button mat-stroked-button color="primary" [disabled]="actionsStatus === 'disabled'">
    <mat-icon>archive</mat-icon>
    <ng-container i18n="@@Action.Archive">Archiver</ng-container>
  </button>
</form>
