<h1 class="gbl-page-title">
  @switch (type()) {
    @case (feedbackType.given) {
      <mat-icon>{{ 'given' | feedbackTypeIcon }}</mat-icon>
      <ng-container i18n="@@Title.FeedbackGiven">FeedZback donné</ng-container>
    }
    @case (feedbackType.received) {
      <mat-icon>{{ 'received' | feedbackTypeIcon }}</mat-icon>
      <ng-container i18n="@@Title.ReceivedFeedback">FeedZback reçu</ng-container>
    }
  }
</h1>

<ul class="gbl-icon-list gbl-icon-list--horizontal-md">
  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">email</mat-icon>
    {{ colleagueEmail() }}
  </li>

  <li class="gbl-icon-list__item">
    <mat-icon class="gbl-icon-list__icon">calendar_today</mat-icon>
    {{ feedback().updatedAt | date: 'longDate' }}
  </li>
</ul>

<app-feedback-body [feedback]="feedback()" />

@if (feedback().shared) {
  <div class="gbl-icon-list">
    <div class="gbl-icon-list__item">
      <mat-icon class="gbl-icon-list__icon">share</mat-icon>
      @if (type() === feedbackType.received) {
        <ng-container i18n="@@Message.FeedbackIsSharedWithYourManager">
          Ce feedZback est partagé avec votre manager
        </ng-container>
      } @else {
        <ng-container i18n="@@Message.FeedbackIsSharedWithTheManagerOfYourColleague">
          Ce feedZback est partagé avec le manager de votre collègue
        </ng-container>
      }
    </div>
  </div>
}
