<button mat-icon-button [matMenuTriggerFor]="actionsMenu" style="float: right">
  <mat-icon color="primary">more_vert</mat-icon>
</button>

<mat-menu #actionsMenu xPosition="before">
  <a mat-menu-item routerLink="/request" [queryParams]="{ recipient: getColleagueEmail(feedback) }">
    <mat-icon>live_help</mat-icon>Demander
  </a>

  @if (getColleagueEmail(feedback) | allowedEmailDomains) {
    <a mat-menu-item routerLink="/give" [queryParams]="{ receiverEmail: getColleagueEmail(feedback) }">
      <mat-icon>chat</mat-icon>Donner
    </a>
  }
</mat-menu>

<h1 class="gbl-page-title mat-h1">
  <mat-icon>forum</mat-icon>
  FeedZback
  @switch (type) {
    @case (feedbackType.given) {
      donné
    }
    @case (feedbackType.received) {
      reçu
    }
  }
</h1>

<div class="app-done-feedback-list">
  <div class="app-done-feedback-list__item"><mat-icon>calendar_today</mat-icon>{{ feedback.updatedAt | date }}</div>
  <div class="app-done-feedback-list__item"><mat-icon>email</mat-icon>{{ getColleagueEmail(feedback) }}</div>
</div>

<app-feedback-body [feedback]="feedback" />

@if (feedback.shared) {
  <div class="app-done-feedback-list">
    <div class="app-done-feedback-list__item">
      <mat-icon>share</mat-icon>
      @if (type === feedbackType.received) {
        Ce feedZback est partagé avec votre manager
      } @else {
        Ce feedZback est partagé avec le manager de votre collègue
      }
    </div>
  </div>
}
