.app-menu-list {
  --mat-list-active-indicator-shape: 0.25rem;

  --mat-list-list-item-leading-icon-start-space: 0.75rem;
  --mat-list-list-item-leading-icon-end-space: 0.75rem;

  --mdc-list-list-item-label-text-font: var(--mat-sys-label-large-font);
  --mdc-list-list-item-label-text-line-height: var(--mat-sys-label-large-line-height);
  --mdc-list-list-item-label-text-size: var(--mat-sys-label-large-size);
  --mdc-list-list-item-label-text-weight: var(--mat-sys-label-large-weight);
  --mdc-list-list-item-label-text-tracking: var(--mat-sys-label-large-tracking);

  // Note:
  // This part consists of the user's avatar and a title.
  // These two elements must be well aligned with the `<mat-list-item>` icon and text.
  &__user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.25rem;
  }
}
