.app-guide {
  display: block;
  text-align: center;

  &__image {
    max-width: 100%;
    box-shadow: 7px 7px 1px rgba(0 0 0 / 0.1);
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 2rem;
    background-color: #fff;
  }
}
