.app-skip-links {
  &__link {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
    text-decoration: none;
    font-size: 1.125rem;
    cursor: pointer;

    top: -9999px;
    opacity: 0;
    transition: ease 300ms opacity;

    &:focus-visible {
      top: 4rem;
      opacity: 1;
    }
  }

  &__icon {
    margin-left: 0.5rem;
    vertical-align: bottom;
  }
}
