.app-logo-brand-text {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: inherit;
  line-height: 1em;

  &--lowercase {
    text-transform: lowercase;
  }

  &__feed,
  &__back {
    animation: appLogoTextAnim 8s 2s cubic-bezier(0.77, 0.2, 0.05, 1) infinite forwards;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
      color: var(--mat-sys-on-surface);
    }
  }

  &__z {
    // Hack: Slightly modify the icon's baseline
    position: relative;
    top: 0.5px;
    // End of Hack

    width: 0em;
    animation: appLogoImageAnim 8s 2s cubic-bezier(0.77, 0.2, 0.05, 1) infinite forwards;

    @media (prefers-reduced-motion: reduce) {
      margin-inline: 0.125em;
      width: 1.5em;
      animation: none;
    }
  }
}

@keyframes appLogoTextAnim {
  46% {
    color: inherit;
  }
  50% {
    color: var(--mat-sys-on-surface);
  }
  96% {
    color: var(--mat-sys-on-surface);
  }
  100% {
    columns: inherit;
  }
}

@keyframes appLogoImageAnim {
  45% {
    margin-inline: 0;
    width: 0em;
    opacity: 0;
  }
  50% {
    margin-inline: 0.125em;
    width: 1.5em;
    opacity: 1;
  }
  95% {
    margin-inline: 0.125em;
    width: 1.5em;
    opacity: 1;
  }
  100% {
    margin-inline: 0;
    width: 0em;
    opacity: 0;
  }
}
